[2022-02-18 17:19] crazy4pi314 commented on #1103
This will be accepted Tuesday Mar 2 unless there are further comments/blockers.

[2022-02-18 17:36] crazy4pi314 commented on #1085
@Rahul-Mistri do you still have time to work on this one? If not that's all good!

[2022-02-20 00:00] #1046 closed

[2022-02-21 15:21] purva-thakre commented on #335
no, don't close

[2022-02-21 15:21] purva-thakre commented on #513
no, don't close

[2022-02-22 19:16] andreamari commented on #1103
Thanks @crazy4pi314, I thought the correct date was today February 22 instead of March 2, such that we could close this issue before the release which is planned for next Friday.

I noticed the date mismatch only now, so I propose we shift the "acceptance-unless-blockers-day" to tomorrow February 23.

[2022-02-23 01:16] crazy4pi314 commented on #1103
@andreamari sorry! I was looking at the calendar during the meeting and got the current date wrong... Tomorrow is great 👍

[2022-02-23 06:58] crazy4pi314 opened #1139 "Support error mitigation on hybrid programs"
## Support error mitigation on hybrid programs

### Problem

Mitiq is a package that at a high level takes circuits and returns error mitigated results (basically a float or an array of floats). As the industry moves to fully quantum and classical representations of programs, it will be important to support error mitigation with these new representations. The project would be developing a prototyp

[2022-02-23 09:46] andreamari opened #1140 "Raise error if executor and observable are not compatible"
Issue Description
-----------------

If an `executor` returns expectation values as `float` variables, Mitiq should always be used with `observable=None` (default),
since in this case the observable is implicitly defined and measured in the `executor`.

From a Discord discussion, it seems that no error is raised for incompatible settings.

Solution
-----------------

- Raise an error if the `obser

[2022-02-23 18:53] crazy4pi314 commented on #1103
Discussed and accepted! Thanks @andreamari and @Aaron-Robertson for the proposal 🎉

[2022-02-23 18:53] #1103 closed

[2022-02-23 18:55] crazy4pi314 commented on #926
https://holzhaus.github.io/sphinx-multiversion/master/index.html <- This sphinx plugin would give us version selection in the TOC on the side, drafts for open PRs would be def possible but not straight forward.

I motion that this is closed for now, and other issues opened for adding the versioning to the GH pages test doc site, feel free to re-open if needed.

[2022-02-23 18:55] #926 closed

[2022-02-24 12:45] nathanshammah commented on #1103
Great work everyone for feedback and especially @Aaron-Robertson and @andreamari. Looking forward to begin prototyping this from the next Milestone.

[2022-02-25 00:00] #1039 closed

[2022-02-25 08:54] andreamari commented on #1109
I am removing this from the 0.13 milestone since I think it is a useful issue but not urgent with respect to time.

Our main objective was planning and approving the associated RFC (see https://github.com/unitaryfund/mitiq/issues/821 and https://github.com/unitaryfund/mitiq/pull/1088) and this was done :+1: !

[2022-02-25 14:42] Rahul-Mistri commented on #1085
@rmlarose Could we chat sometime about this issue? I just have a few questions to ask the proposed fix

[2022-02-25 15:49] rmlarose commented on #1085
Sure, can you join the Mitiq meeting today @Rahul-Mistri?

[2022-02-25 17:21] crazy4pi314 commented on #822
Design for this is found here #1103

[2022-02-25 23:05] crazy4pi314 opened #1146 "VS Code dev container not building"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

The current description of the development container on master for Mitiq fails to do an editable install of mitiq or its required dependencies. This PR fixes this so once the container is finished bu

[2022-03-01 00:05] #1041 closed

[2022-03-01 09:14] #1146 closed

[2022-03-01 22:00] anhdpham opened #1150 "Error for when passing folded circuit to calculate expectation value in qiskit"
I think there is a problem with passing a folded circuit generated by mitiq to the expectation value routine used to calculate in mitiq

def ansatz(parameter):
    circuit = QuantumCircuit(2)
    circuit.rx(parameter[0],0)
    circuit.cnot(0,1)
    circuit.rx(parameter[0],1)
    circuit.cnot(0,1)
    circuit.rx(parameter[0],0)
    return circuit

angles = []
for angle in np.linspace(0, 2 * np.pi,

[2022-03-02 17:58] andreamari commented on #1150
Thanks @anhdpham for reporting this!
It seems a Mitiq bug but we need to investigate more to understand the problem.

[2022-03-03 06:37] crazy4pi314 opened #1154 "Add citiation file for the repo"
Issue Description
-----------------

Last year, GH added support for a citation file that then adds UI elements to the repo pages to help folks generate a citation for the project. Blog announcing: https://github.blog/2021-08-19-enhanced-support-citations-github/

Proposed Solution
-----------------

Add a `.cff` file for the mitiq paper.

Additional References
---------------------
Docs for the f

[2022-03-03 18:42] nathanshammah opened #1155 "Latest master merge failing"
Upon merging #1151 that updated the version of the action via dependabot, the test-docs checks are failing.
Not sure this is related, looking at the [log here](https://github.com/unitaryfund/mitiq/runs/5407556788?check_suite_focus=true) it seems to be due to `linkcheck`.

[2022-03-04 09:40] andreamari commented on #1155
It's due to the Discord link not working properly: https://discord.unitary.fund/
I assumed it was a temporary problem, but it is still broken.

Maybe @crazy4pi314 knows?

[2022-03-04 13:54] crazy4pi314 commented on #1155
The link is not https, just http for the discord short link. Hope that helps!

[2022-03-04 17:19] nathanshammah opened #1156 "Upgrade to numpy 1.23"
Issue Description
-----------------
Check-type validation raises several errors in [type-arg] for missing ndarray. See discussion in #1118.

[2022-03-04 17:24] nathanshammah opened #1157 "Solve dependency conflicts in updates"
Pre-Report Checklist
--------------------

- [ ] I am running the latest version of mitiq
- [ ] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

See #1156 #1133 #1127 #1126 #1121 #1120 #1119 #1118.

How to Reproduce
----------------

If useful, provide a numbered list of the steps that result in the error.

Otherwise, just fill out the "Code

[2022-03-08 15:23] andreamari opened #1160 "Implement get_circuit_mask function for dynamical decoupling"
Implement the `get_circuit_mask()` function described in the [RFC for dynamical decoupling](https://docs.google.com/document/d/1cRwFCTn6kUjI1P0kNydtevxIYtE4r8Omd_iWK0Pe8qo/edit?usp=sharing).

This is necessary to determine slack windows (holes with idling qubits) in a circuit.

An implementation skeleton with pseudo-code is present in the [RFC](https://docs.google.com/document/d/1cRwFCTn6kUjI1P0kN

[2022-03-08 15:28] andreamari opened #1161 "Implement get_slack_matrix function for dynamical decoupling."
Implement the `get_slack_matrix_from_circuit_mask()` and `get_slack_matrix()` function described in the [RFC for dynamical decoupling](https://docs.google.com/document/d/1cRwFCTn6kUjI1P0kNydtevxIYtE4r8Omd_iWK0Pe8qo/edit?usp=sharing).

They are necessary to determine the size of slack windows (holes with idling qubits) in a circuit, in order to fill them with ddd sequences.

An implementation skele

[2022-03-08 15:36] andreamari opened #1162 "Add built-in dynamical decoupling sequences for the ddd technique."
Implement the built-in digital dynamical decoupling sequences via `rules` (e.g. xx_rule, xy_rule) described in the [RFC for dynamical decoupling](https://docs.google.com/document/d/1cRwFCTn6kUjI1P0kNydtevxIYtE4r8Omd_iWK0Pe8qo/edit?usp=sharing).

They are necessary to determine how to fill slack windows (holes with idling qubits) in a circuit.

Implementation ideas with pseudo-code are present in t

[2022-03-08 21:38] anhdpham opened #1163 "Include backend option for real hardware in mitiq.interface.mitiq_qiskit.qiskit_utils.execute_with_shots"
Pre-Request Checklist
---------------------

- [X ] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------
Currently the function execute_with_shots or execute_with_shots_and_noise do not allow for specific backend, e.g real hardware rather than simulator or different noise model from the simulator, so the calculation of the expectation value

[2022-03-09 08:37] #1155 closed

[2022-03-09 08:38] andreamari commented on #1155
Link works now, problem self-solved :-)

[2022-03-09 16:07] crazy4pi314 commented on #1155
I probably didn't realize at the time, but Discord and a lot of other major services have had outages over the last 36h...  Glad it fixed itself :)

[2022-03-09 17:43] nathanshammah commented on #1150
@anhdpham thanks for opening this and the other issue. If it could help clarify them, you're welcome to join the Mitiq community call on Unitary Fund's Discord, which is on Fridays at 18:00 CET (https://discord.com/invite/JqVGmpkP96).

[2022-03-11 15:04] crazy4pi314 commented on #1138
This I think should be handled by #1164, we can close this when that's merged

[2022-03-11 15:42] WrathfulSpatula opened #1165 "Qrack extended stabilizer for CDR and other near-Clifford applications"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

I would like to help the Mitiq team consider whether and how it can benefit from Qrack/PyQrack extended stabilizer simulation.

Proposed Solution
-----------------

Over at the [PyQrack repository](https://github.com/vm6502q/pyqrack), I w

[2022-03-13 00:00] #484 closed

[2022-03-14 01:48] WrathfulSpatula commented on #1165
Going into Monday, I'm still working on debugging and now finishing the implementation of the proposed method on the Qrack end. I have a fairly complete design, of implementing `Qrack::QStabilizerHybrid` as a `QEngine` type, interfacing with `QBdt` via `QStabilizerHybrid`, and treating `QStabilizer` like a special quasi-`QEngine` case only when conditions are symmetric enough.

It might take anoth

[2022-03-14 18:20] crazy4pi314 commented on #555
Hopefully can address this this milestone as a stretch 🤞

[2022-03-15 01:31] crazy4pi314 opened #1168 "Add support to the GH pages documentation pipeline for selecting different mitiq versions"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

One of the main features that RTDs provides is versioning of project documentation they host.
This is not generally available for basic sphinx workflows that host docs on GitHub pages.

We could use this project/sphinx plugin has support

[2022-03-17 10:52] nathanshammah opened #1173 "mypy CI fail in mitiq_braket"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
CI tests on master fail in `mitiq_braket/conversions` with `mypy`.

How to Reproduce
----------------

See the [`test_validate` action](https://github.com/unitaryfund/mitiq/runs/5512635083?check_suite

[2022-03-17 20:56] #1173 closed

[2022-03-21 00:00] #813 closed

[2022-03-21 15:43] andreamari commented on #467
@nathanshammah, is this up-to-date?  (We now have sphinx gallery)

[2022-03-21 15:56] andreamari commented on #1168
@crazy4pi314,  does it make sense to label this with `uhbounty` ?

[2022-03-21 16:05] crazy4pi314 commented on #1168
Yeah, great idea @andreamari 💖🙏

[2022-03-22 20:44] crazy4pi314 commented on #467
Ah sorry, I'll close again. Idk why I thought there was still things we wanted from this... New achievement though, forgetting this even though I actually implemented 😓

[2022-03-22 20:44] #467 closed

[2022-03-23 12:39] nelimee opened #1179 "Avoid ignoring silently bad inputs in `fold_gates_at_random`"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

The following code
[code]
does not:
1. Warn the user that `invalid_gate_name` and `rx` are not in the valid gates that are allowed in `fidelities` (see the [documentation](https://mitiq.readthedocs.io/en/latest/apidoc.html#mitiq.zne.scali

[2022-03-23 13:00] nelimee opened #1180 "Wrong qubits used by `fold_gates_at_random`"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported (This is probably a consequence of #1085 that did not appear in my search for related issue, sorry)

Issue Description
-----------------

The function `fold_gates_at_random` may return a (folded) quantum circuit that does not use the sam

[2022-03-23 13:04] nelimee commented on #1180
This is probably a consequence of #1085 that did not appear in my search for related issue. I will edit the issue description and will let maintainers decide if this should be closed.

[2022-03-23 14:09] purva-thakre commented on #1179
I think a warning in the case of a gate that's not in the input circuit but has fidelities provided could be useful here.

If `invalid_gate_name` was used in the initial circuit, then either `qiskit` would have raised an error that the gate is not recognized or `mitiq` would have raised an error that the input circuit cannot be folded because[ `has_unitary(circuit)`](https://github.com/unitaryfund

[2022-03-23 15:41] andreamari commented on #1180
Thanks @nelimee! This is indeed an example of the existing issue #1085, so I am closing this issue to avoid duplication.
Meanwhile, placing an identity gate on the idle qubit may be a workaround to avoid the problem.

[2022-03-23 15:41] #1180 closed

[2022-03-23 16:00] andreamari commented on #1179
Thanks @nelimee, this is a very useful issue. I guess it was not easy to isolate the problem/bug but you did it in a very clear way!

- I think the first thing to do in Mitiq is to raise an error if any `invalid_gate_name` is used, where `invalid_gate_name` is any name which is not in the supported set of names. So, for example an error should be triggered in both the following cases:

`fidelities

[2022-03-23 16:31] purva-thakre commented on #1179
Thanks for the correction ! I was under the mistaken assumption that the gates were restricted to that set because of them being the generators of Clifford group.

[2022-03-24 09:52] nelimee commented on #1179
In fact it was quite easy: I started by reading the doc, the restriction on gates was not convenient for my use case so I tried anyway expecting an error, nothing happened and a folded circuit was returned, so I dug into `mitiq` code to understand what was going on and why no error was returned.

I completely agree with your points: an explicit error is better than an implicit unintuitive behaviou

[2022-03-24 16:14] andreamari opened #1182 "Sphinx does not work in CI"
Sphinx used to run fine but now it doesn't. Anyone knows what could be the problem?

[2022-03-25 15:26] #1182 closed

[2022-03-25 16:56] #1161 closed

[2022-03-25 19:56] Misty-W commented on #1140
@andreamari is this the Discord conversation referenced in this issue: https://discord.com/channels/764231928676089909/773957956659052605/945976347937882172 ?

[2022-03-28 03:25] Aaron-Robertson commented on #1150
Hi @anhdpham, could you provide more details on your `Hamiltonian`, `noise_model`, and installed packages? Can use the `mitiq.about()` function to retrieve the installed dependencies.

I attempted to reproduce this error but was unable to with my interpretation of the provided code (plus a few fast/unchecked assumptions from tutorials), to yield ~`-1.063038113954`:

[code]

[2022-03-28 13:05] andreamari commented on #1140
Yes, thanks!

[2022-03-28 14:19] anhdpham commented on #1150
Hi @Aaron-Robertson. My dependancies from !pip list:

Package                  Version
------------------------ ---------
anyio                    2.2.0
appnope                  0.1.2
argon2-cffi              20.1.0
async-generator          1.10
attrs                    21.4.0
Babel                    2.9.1
backcall                 0.2.0
bleach                   4.1.0
brotlipy                 0.7.

[2022-03-28 18:54] Aaron-Robertson commented on #1150
@anhdpham I see! I reproduced the error with `qiskit>=0.34`. Official `mitiq` support (currently) is `qiskit~=0.32.1`, and your code block passes when using that version (and the latest release `mitiq==0.13`). We strive to support the latest frontend versions, and I'll make sure that version support is better documented, but in the meantime you may want to try an older release.

[2022-03-28 19:02] Aaron-Robertson commented on #1162
@andreamari this one looks like a good candidate for next steps on `ddd`? I'm happy to pick it up for milestone `0.15`!

[2022-03-28 19:13] Aaron-Robertson opened #1189 "Implement `insert_ddd_sequences()` function for dynamical decoupling"
Implement the `insert_ddd_sequences()` function described in the [RFC for dynamical decoupling](https://docs.google.com/document/d/1cRwFCTn6kUjI1P0kNydtevxIYtE4r8Omd_iWK0Pe8qo/edit?usp=sharing).

This function serves to fill slack windows of idling qubits with the optionally provided dynamical decoupling rule, and defaults to the random rule (i.e. a semi-random sequence of spin echoes).

An implem

[2022-03-29 03:54] Misty-W opened #1190 "Replace tests that use incompatible observables and executors"
In resolving #1140 Raise error if executor and observable are not compatible, several tests have been found to be invalid due to use of `Observables` with result types other than `MeasurementResultLike` (bitstrings).

This issue is for replacing the invalid tests that will be removed as part of the resolution of issue #1140 .

[2022-03-29 08:49] andreamari opened #1192 "GitHub Pages Action fails on external PRs (from forks)"
GitHub Pages Action fails on external PRs (from forks) due to permission problems.

[code]

Link with example: https://github.com/unitaryfund/mitiq/runs/5730246635?check_suite_focus=true

[2022-03-29 09:56] #1160 closed

[2022-03-29 10:05] andreamari commented on #1162
Sure, thanks @Aaron-Robertson!

[2022-03-29 10:09] andreamari commented on #1189
Chronologically, this issue should be addressed after #1162 is implemented.

[2022-03-29 16:31] #1085 closed

[2022-03-29 20:28] Misty-W commented on #1190
Can be closed now that 'executors.py` allows the use of observables with density matrix results as well as measurement-like results, and tests are passing

[2022-03-29 20:28] #1190 closed

[2022-03-30 11:54] purva-thakre opened #1194 "MEP description in docs needs to be updated"
Considering most of the accepted enhancement proposals so far have been in docs, I think it's better to link to [another template in docs](https://docs.google.com/document/d/1adomheXpbqp4YIBFQ49IsAJzuJKWyr75GRO1NeWg0Fo/edit?usp=sharing).

It would also be better to avoid the confusion between RFC and MEP by updating[ the documentation](https://mitiq.readthedocs.io/en/stable/contributing.html#propo

[2022-03-30 12:47] #653 closed

[2022-03-30 13:27] nathanshammah commented on #1194
Interesting related news: Markdown supported in google docs https://workspaceupdates.googleblog.com/2022/03/compose-with-markdown-in-google-docs-on.html

[2022-03-30 13:48] purva-thakre commented on #1179
@nelimee Just wanted to check if you are planning on working on[ the suggestions](https://github.com/unitaryfund/mitiq/issues/1179#issuecomment-1076511698) ? If not, I was thinking of working on them.

[2022-03-30 14:15] nelimee commented on #1179
I will be way too busy in the next few weeks due to several deadlines, so I will not work on this soon. You can work on this if you want to, and I will check the advance when I can. Have fun! :)

[2022-03-31 02:41] #1140 closed

[2022-03-31 15:54] andreamari commented on #1192
@crazy4pi314  do you think [this change](https://github.com/unitaryfund/mitiq/pull/1191/commits/0977b1b32c25103dee5b41bb3365aac151c5d5f9) can be a solution the issue?  It seems to work in that PR.

[2022-04-01 06:31] RubidgeCarrie commented on #1154
Hi Sarah @crazy4pi314, I am still new to open-source so I decided to give this a try to start out. Please let me know if there is any additional information you want in the citation file.

[2022-04-01 16:08] crazy4pi314 commented on #1138
Closed by #1195

[2022-04-01 16:08] #1138 closed

[2022-04-01 16:36] #1157 closed

[2022-04-01 16:52] Aaron-Robertson opened #1201 "Update `about()` and document latest package support"
Issue Description
-----------------

Latest supported versions of optional dependencies are not well documented. It is unclear which frontend version(s) to install after a user installs through `pip install mitiq`, but wants to use Qiskit, Pennylane, Braket, and/or PyQuil.

Proposed Solution
-----------------

- [x] Update `about()` to include Pennylane
- [x] Create a function `latest_supported()`

[2022-04-01 16:55] Aaron-Robertson commented on #1150
Closing with documentation issue noted in #1201

[2022-04-01 16:55] #1150 closed

[2022-04-01 16:57] Aaron-Robertson commented on #1201
@andreamari label/change this issue as you see fit. As written I think it would be a good first issue.

[2022-04-03 00:00] #974 closed

[2022-04-04 00:00] #675 closed

[2022-04-04 10:12] andreamari commented on #1201
Thanks @Aaron-Robertson!

[2022-04-06 16:51] crazy4pi314 opened #1207 "Prototype what error mitigation would look like in an example hybrid program"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

This is the first step to understanding how Mitiq might use an IR of a hybrid quantum program and apply error mitigation subroutines. The ambiguity here comes from the fact that a hybrid program can have a mix of both quantum and classica

[2022-04-06 16:52] crazy4pi314 opened #1208 "Develop a fixed sample of using Mitiq consuming an IR"
Pre-Request Checklist
---------------------

- [ ] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Give a detailed description of the new feature, and what problem it is trying to solve.

If this is a proposal to change an existing feature, also outline the current
implementation and its drawbacks.

Thanks for helping us improve Mitiq!

[2022-04-06 16:53] nathanshammah opened #1209 "Add dynamical decoupling to API doc"
Pre-Request Checklist
---------------------

- [ ] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Give a detailed description of the new feature, and what problem it is trying to solve.

If this is a proposal to change an existing feature, also outline the current
implementation and its drawbacks.

Thanks for helping us improve Mitiq!

[2022-04-06 16:55] nathanshammah opened #1210 "Add dynamical decoupling to User Guide [List of sub-issues]"
[Updated on May 2 by @andreamari]

Issue Description
-----------------

Fixing this issue requires the addition in the Mitiq user guide of the following sections:

1. How do I use DDD?
2. When should I use DDD?
3. What additional options are available when using DDD?
4. What happens when I use DDD?
5. What is the theory behind DDD?

These are the corresponding sub-issues:

- #1263
- #1264
- #1265

[2022-04-06 16:55] crazy4pi314 opened #1211 "Develop a fixed sample of using Mitiq to produce an IR program"
Pre-Request Checklist
---------------------

- [ ] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Give a detailed description of the new feature, and what problem it is trying to solve.

If this is a proposal to change an existing feature, also outline the current
implementation and its drawbacks.

Thanks for helping us improve Mitiq!

[2022-04-06 16:56] crazy4pi314 opened #1212 "RFC for Mitiq + IR support"
Pre-Request Checklist
---------------------

- [ ] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Give a detailed description of the new feature, and what problem it is trying to solve.

If this is a proposal to change an existing feature, also outline the current
implementation and its drawbacks.

Thanks for helping us improve Mitiq!

[2022-04-07 17:10] #726 closed

[2022-04-08 16:35] nathanshammah opened #1214 "Remove Mypy errors due to numpy ndarray arg-type check"
Issue Description
-----------------

Currently the dependabot PR updating numpy is failing due to some mypy issues.
One of the issue is that numpy type check is now required to define the ndarray datatype.

[2022-04-08 17:02] Aaron-Robertson opened #1215 "Change the stale label behavior and review closed+stale issues"
Issue Description
-----------------

Stale label for automated issue closing is quite aggressive. It seems like there are a few issues that were on the backburner, and have since been lost.

Proposed Solution
-----------------

A few ideas:
- [ ] Add a new label, which prevents issues from being marked stale
- [ ] Make certain labels prevent stale labels (maybe the priority labels? maybe milestone

[2022-04-10 20:20] #1154 closed

[2022-04-11 13:31] nathanshammah commented on #821
The RFC (design document) has been approved.

[2022-04-12 00:14] Misty-W commented on #1156
Removed #1156 from 0.15.0 milestone - solve #1214 in 0.15.0 milestone instead (incremental fix).

[2022-04-13 06:46] Aaron-Robertson opened #1223 "Add `execute_with_ddd()`, `mitigate_executor()`, and `ddd_decorator()` for dynamical decoupling"
Issue Description
-----------------

Add `execute_with_ddd()`, `mitigate_executor()`, and `ddd_decorator()` to `ddd.py`

Additional References
---------------------

See the relevant RFC https://docs.google.com/document/d/1cRwFCTn6kUjI1P0kNydtevxIYtE4r8Omd_iWK0Pe8qo/edit#

[2022-04-13 13:21] vprusso opened #1224 "ImportError for `mitiq with version `0.14.0` on AWS Braket instance"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

Attempting to install and import `mitiq` version `0.14.0` on an Amazon Braket notebook instance yields the following `ImportError`:

[code]

This `ImportError` is not present in `0.13.0`. So, for ins

[2022-04-13 17:39] natestemen opened #1227 "Redundant information in citation file"
Github creates a bibtex entry for the repository now that a citation file has been added (https://github.com/unitaryfund/mitiq/pull/1200). However, it looks as though the `name-particle` attribute may have been misused. The bibtex entry Github creates as of https://github.com/unitaryfund/mitiq/commit/4359166d7a9df1c8488520e2d6060d5c6f998b53 is

[code]

As you can see, the `author` field is quite r

[2022-04-14 08:03] andreamari commented on #1227
Thanks @natestemen!
I would propose that we just remove all the `name-particle:` fields.

I am also not sure if it is good to share all personal email adresses in plain text. This has pros and cons.

[2022-04-14 15:47] andreamari opened #1229 "Add function to generate random circuits in mitiq.benchmarks"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Currently we have several functions that crate benchmark circuits, i.e., circuits that can be used to test error mitigation techniques.
The existing functions are:
[code]

Feature Request
-----------------------

All current benchmarks ar

[2022-04-14 16:09] andreamari opened #1230 "Add a function to generate random Clifford-plus-T circuits."
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Currently we have several functions that crate benchmark circuits, i.e., circuits that can be used to test error mitigation techniques.
The existing functions are:
[code]

Feature Request
-----------------------

All current benchmarks ar

[2022-04-19 19:05] #1109 closed

[2022-04-19 19:42] Misty-W commented on #821
Step 1 of implementation complete: function to calculate biased noise representations (see #1109)

[2022-04-20 15:21] anhdpham opened #1236 "ZNE generated circuits creating gates different than original circuits"
The circuits generated for ZNE methods somehow change the gates as the circuits depth expand. Here is my code and output

from pyquil import Program, get_qc, list_quantum_computers
from pyquil.gates import *
import numpy as np
mitiq_test = Program()
ro = mitiq_test.declare("ro", "BIT", 1)
mitiq_test += X(0)
mitiq_test += X(0)
mitiq_test += X(0)
mitiq_test += X(0)
mitiq_test += MEASURE(0, ro[0])

i

[2022-04-21 09:00] #1162 closed

[2022-04-21 10:21] andreamari commented on #1236
Hi @anhdpham,

`RX(-pi)` is, up to a global phase, equal to X^-1, which is also equal to X for this particular gate. So, if I am not wrong, this is the expected behavior of unitary folding. Note that unitary folding maps a unitary G to G G^-1 G.

I agree that it would be nice to see `X^-1` or  `X` instead of `RX(-pi)` in the printed output, but I don't think this depends on Mitiq. It looks more li

[2022-04-21 10:21] #1236 closed

[2022-04-21 15:15] #1209 closed

[2022-04-23 00:41] Misty-W opened #1244 "Improve naming and documentation of `noise_scaling_converter`"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Give a detailed description of the new feature, and what problem it is trying to solve.

If this is a proposal to change an existing feature, also outline the current
implementation and its drawbacks.

Thanks for helping us improve Mitiq!

[2022-04-24 12:42] tozbilgin opened #1245 "New technique: Add a function to implement Randomized Compiling"
Issue Description
-----------------

Gate errors are one of the major sources of noise in quantum circuits and can be classified in two groups: Coherent and incoherent errors. Coherent errors occur due to some miscalibration of circuit parameters and do not destroy the state purity. This can be a serious problem since similar errors occur in consecutive executions leading to a bias. It is easier t

[2022-04-25 03:16] shangtai opened #1247 "Interfacing Qibo with mitiq"
Issue Description
-----------------

Qibo is an open-source high-level API provided by Qilimanjaro, written in Python and capable of running a quantum algorithms on top of different quantum computers and simulators. It currently supports the IBM real and virtual machines, the Rigetti virtual machine, and Qilimanjaro’s virtual machine called VQMlite.  A key goal is to provide a standard interface t

[2022-04-25 14:49] andreamari commented on #1244
Good point! Do you have name suggestions? E.g.

`in_out_converter()` ?
`make_multi_frontend()` ?

[2022-04-25 15:02] andreamari commented on #1245
Thanks @tozbilgin! Randomized compiling is indeed a very interesting technique. It is in our wish list even if not
explicitly planned for the 2022 roadmap (https://github.com/unitaryfund/mitiq/wiki#mitiq-2022-roadmap).

Anyone interested is welcome to write an RFC for planning the addition of randomized compiling to Mitiq. You can find similar documents that we did for other techniques at [this li

[2022-04-25 20:07] #1192 closed

[2022-04-26 10:48] andreamari opened #1250 "Use consistent citation style in docs and function doctrings."
All references for the documentation and for docstrings of functions should be in this file:

https://github.com/unitaryfund/mitiq/blob/master/docs/source/refs.bib

and cited with the :cite:`citation` directive.

There are places in which this is still not applied. E.g. https://github.com/unitaryfund/mitiq/blob/d04458f58b0624c68172538809f2115fb39ced45/mitiq/pec/pec.py#L108
There could be other sim

[2022-04-26 13:08] nathanshammah commented on #1250
Yep! This is a nice one I noticed recently.

[2022-04-27 14:32] andreamari commented on #822
Hi @willzeng,
We are [working on it](https://github.com/unitaryfund/mitiq/projects/5#card-64723439).
In the [current milestone](https://github.com/unitaryfund/mitiq/milestone/19) we aim for a MVP for dynamical decoupling, but this issue won't be closed. The full implementation of DDD is [planned for Q2](https://github.com/unitaryfund/mitiq/wiki#mitiq-2022-roadmap) and will likely happen in the nex

[2022-04-28 14:52] andreamari opened #1253 "Make mitigate_executor compatible with batched executor functions"
### Description
All error mitigation techniques in Mitiq have the associated `mitigate_executor` function. E.g. `mitiq.zne.mitigate_executor()`.
The current implementation for ZNE, PEC and CDR assumes an executor that is not batched, i.e., that takes a single circuit
and returns a single result.
Only for the DDD technique, `mitigate_executor` is now compatible with batched executors.

 ### How to

[2022-04-28 15:13] andreamari opened #1254 "Consider dropping support for complex expectation values."
We currently assume that observables are generic and so expectation values can be complex.
This has some pros and cons.

**Pros:**
- More general setting

**Cons:**
- The code and the annotations of functions are less readable. Often there is confusion between floats and complex return values.
- Most importantly, some techniques are not compatible with the mitigation of complex expectation values

[2022-04-28 17:14] Aaron-Robertson opened #1255 "Fix idle qubit register indexing"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

Qiskit circuits built on registers like `qiskit.QuantumRegister(1) for _ in range(4)` insert (and remove) idle identities poorly, in particular when combined with DDD. Qubit index returns `0` for reg

[2022-04-28 17:58] #1189 closed

[2022-04-28 19:12] Misty-W opened #1256 "Broken link in docs"
Pre-Report Checklist
--------------------

- [X] I am running the latest version of mitiq
- [X] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
Broken links in docs- from log:

(contributing_docs: line  254) broken    https://myst-nb.readthedocs.io/en/latest/use/markdown.html - 404 Client Error: Not Found for url: https://myst-nb.readthedocs.

[2022-04-28 20:44] #1256 closed

[2022-04-28 21:40] #1107 closed

[2022-04-29 00:33] Misty-W opened #1258 "Prep for 0.15.0 Release"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Update Mitiq changelog, version

If this is a proposal to change an existing feature, also outline the current
implementation and its drawbacks.

Thanks for helping us improve Mitiq! 🙂

Proposed Solution
-----------------

Let us know wha

[2022-04-29 14:30] andreamari opened #1260 "Unexpected error from ddd.rules.repeated_rule"
When calling:

[code]
Since the `slack_lentgh` is shorter than the DDD sequence, the expected output is an empty circuit. The function instead gives an error:

[code]

[2022-04-29 16:01] crazy4pi314 commented on #1136
I think the first step for this is to separate out the running of ASV from the regular test suite, then have a separate action to trigger this part of the gh pages site to build.

[2022-04-29 18:41] #1223 closed

[2022-04-29 19:03] #1258 closed

[2022-04-30 18:57] nickdgardner commented on #1229
I would like to work on this issue.

[2022-05-02 00:36] ZhaoyiLi-HekJukZaaiZyuJan commented on #1230
I would like to work on this issue.

[2022-05-02 15:30] andreamari opened #1263 "Write the first sub-section of the DDD guide: How do I use DDD?"
Issue Description
-----------------
Write the first sub-section of the DDD user guide, namely:
1. How do I use DDD?

This is a sub-issue of #1210.

Proposed Solution and additional information
-----------------
See #1210.

[2022-05-02 15:32] andreamari opened #1264 "Write the second sub-section of the DDD user guide: When should I use DDD?"
Issue Description
-----------------
Write the second sub-section of the DDD user guide, namely:

2. When should I use DDD?

This is a sub-issue of #1210.

Proposed Solution and additional information
-----------------
See #1210.

[2022-05-02 15:34] andreamari opened #1265 "Write the third sub-section of the DDD user guide: What additional options are available when using DDD?"
Issue Description
-----------------
Write the third sub-section of the DDD user guide, namely:

3. What additional options are available when using DDD?

This is a sub-issue of #1210.

Proposed Solution and additional information
-----------------
See #1210.

[2022-05-02 15:36] andreamari opened #1266 "Write the fourth sub-section of the DDD user guide: What happens when I use DDD?"
Issue Description
-----------------
Write the fourth sub-section of the DDD user guide, namely:

4. What happens when I use DDD?

This is a sub-issue of #1210.

Proposed Solution and additional information
-----------------
See #1210.

[2022-05-02 15:36] andreamari opened #1267 "Write the fifth sub-section of the DDD user guide: What is the theory behind DDD?"
Issue Description
-----------------
Write the fifth sub-section of the DDD user guide, namely:

5. What is the theory behind DDD?

This is a sub-issue of #1210.

Proposed Solution and additional information
-----------------
See #1210.

[2022-05-04 09:35] nathanshammah commented on #1264
I'd like to work on this issue for the current milestone.

[2022-05-04 10:44] nathanshammah commented on #1163
+1 for unitaryhack bounty.

[2022-05-04 10:44] nathanshammah commented on #1094
+1 for adding a bounty on UH.

[2022-05-04 10:46] nathanshammah commented on #1168
+1 for making it a uh bounty

[2022-05-04 16:57] nathanshammah opened #1270 "Create functions to learn biased noise"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Add file to codebase to create functions to learn biased noise

Proposed Solution
-----------------

Let us know what you'd like to see happen, and be sure to mention
any alternatives that you've considered.

Additional References
-------

[2022-05-05 19:34] Misty-W commented on #1253
hi @nylewong, let me know if you need help solving this issue or opening a PR.

[2022-05-06 02:01] willzeng commented on #550
@andreamari Perhaps we could close this by integrating with or just having a tutorial on the pygsti library that already has gate set tomography features?

Maybe the first MVP is to show how to use pygsti to get gate set tomography data and then how to import that into mitiq for PEC?

[2022-05-06 02:02] willzeng commented on #550
@rmlarose am unassigning you as I think this is not being actively worked on? Correct me if so.

[2022-05-06 06:40] rmlarose commented on #550
SGTM. Last I remember is waiting to get pygsti tutorials from their quantum software talk and turning those into an example for the docs.

[2022-05-06 12:35] andreamari opened #1273 "Add a new example in docs where pyGSTi is used to apply PEC."
Issue Description
-----------------
Mitiq users can currently apply [probabilistic error cancellation](https://mitiq.readthedocs.io/en/stable/guide/pec.html) (PEC) only in the following cases:

- If they know the quasi-probability representations of ideal gates as linear combinations of noisy gates.
- If they know the noise channels (super-oprerators) associated to a set of implementable gates. In

[2022-05-06 12:36] andreamari commented on #550
Superseded by #1273.

[2022-05-06 12:36] #550 closed

[2022-05-06 16:16] andreamari commented on #1255
Assigned to @Rahul-Mistri !

[2022-05-13 00:43] Misty-W opened #1280 "Add example for learning-based PEC"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Add example showing how to use learning-based PEC

Thanks for helping us improve Mitiq! 🙂

Proposed Solution
-----------------

Let us know what you'd like to see happen, and be sure to mention
any alternatives that you've considered.

Ad

[2022-05-13 10:36] andreamari opened #1283 "[unitaryhack-bounty] Add thumbnail images to documentation examples."
Issue Description
-----------------

Currently we have thumbnail images only for a fraction of the examples in the docs: https://mitiq.readthedocs.io/en/v0.15.0/examples/examples.html

It would be good to have thumbnail images for all examples.

Proposed Solution
-----------------

There are different ways of adding thumbnail images with sphinx gallery:

- Adding an hard-coded image, not necessari

[2022-05-13 12:09] nathanshammah commented on #1283
Agreed!

[2022-05-14 11:12] twobombs opened #1285 "building numpy req. fails @ pip install mitiq under Ubuntu 22.04 ( python 3.10 )"
Pre-Report Checklist
--------------------

- [ X] I am running the latest version of mitiq
- [ X] I checked to make sure that this bug has not already been reported < tried my best

Issue Description
-----------------

I have this Ubuntu 20.04 container image that builds mitiq via "pip install mitiq" without fail
After upgrading the container image to Ubuntu 22.04 ( newer Python 3 ) the wheel buil

[2022-05-14 11:36] twobombs commented on #1285
![Screenshot from 2022-05-14 13-35-53](https://user-images.githubusercontent.com/12692227/168423959-264c86e4-439e-4790-8052-2bce1cccaece.png)

[2022-05-15 17:14] Rahul-Mistri opened #1287 "Implement Error Mitigation examples using various frontends"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Currently most of our examples are written with only one [frontend](https://mitiq.readthedocs.io/en/latest/guide/frontends-backends.html). It would be easier for our users to have this example written in their preferred frontend, and woul

[2022-05-15 17:27] Rahul-Mistri opened #1288 "Add Qiskit how-tos and examples to the docs"
Issue Description
-----------------
Currently the examples in Mitiq's [user guide](https://mitiq.readthedocs.io/en/latest/guide/guide.html) and [examples](https://mitiq.readthedocs.io/en/latest/examples/examples.html) section are written using Cirq as the frontend. It would be easier for Qiskit users to have these tutorials/examples written in Qiskit, and would make Mitiq more accessible. Please c

[2022-05-15 17:32] Rahul-Mistri opened #1289 "Add PyQuil how-tos and examples to the docs"
Issue Description
-----------------
Currently the examples in Mitiq's [user guide](https://mitiq.readthedocs.io/en/latest/guide/guide.html) and [examples](https://mitiq.readthedocs.io/en/latest/examples/examples.html) section are written using Cirq as the frontend. It would be easier for PyQuil users to have these tutorials/examples written in PyQuil, and would make Mitiq more accessible. Please c

[2022-05-15 17:33] Rahul-Mistri opened #1290 "Add Braket how-tos and examples to the docs"
Issue Description
-----------------
Currently the examples in Mitiq's [user guide](https://mitiq.readthedocs.io/en/latest/guide/guide.html) and [examples](https://mitiq.readthedocs.io/en/latest/examples/examples.html) section are written using Cirq as the frontend. It would be easier for Braket users to have these tutorials/examples written in Braket, and would make Mitiq more accessible. Please c

[2022-05-15 17:34] Rahul-Mistri opened #1291 "Add PennyLane how-tos and examples to the docs"
Issue Description
-----------------
Currently the examples in Mitiq's [user guide](https://mitiq.readthedocs.io/en/latest/guide/guide.html) and [examples](https://mitiq.readthedocs.io/en/latest/examples/examples.html) section are written using Cirq as the frontend. It would be easier for PennyLane users to have these tutorials/examples written in PennyLane, and would make Mitiq more accessible. Pl

[2022-05-16 15:45] andreamari opened #1292 "Test Mitiq with more recent versions of Python"
Mitiq is currently tested with Python 3.7 and Python 3.8.
It would be good, if possible, to upgrade versions by one or two steps.
I.e., testing Mitiq with:

- Python 3.8 and 3.9
or
- Python 3.8, 3.9 and 3.10

This issue is not just about _testing_ but also about _fixing_  possible issues that will emerge when testing recent Python versions.
For example, dependency conflicts may happen as reported

[2022-05-17 10:10] andreamari commented on #815
[This a the new RFC](https://docs.google.com/document/d/1buO5PrO5sS02VXjcaYf37RuR0rF6xpyr4J9H1tI4vN4/edit#heading=h.c072otyej9hw) by @amirebrahimi. Thanks Amir!

Manually converted from the md file in #1294. Given the new contribution policy discussed in #1194.

[2022-05-18 15:51] nathanshammah opened #1298 "[unitaryHACK] Test issue"
Test issue (bounty: $0) to check mechanisms of unitaryHACK

[2022-05-19 15:34] #1263 closed

[2022-05-19 16:04] andreamari commented on #1224
I got a similar problem recently, when testing pip install in an old conda environment.

FYI, I am not sure what the problem is, I solved with one of the following ways (I don't remember which one):
[code]
or,

[code]

[2022-05-20 08:25] #1227 closed

[2022-05-20 20:28] natestemen commented on #1285
This seems like a duplicate now that #1292 has been opened. Can we close?

cc @andreamari

[2022-05-21 13:32] #1266 closed

[2022-05-21 13:35] #1194 closed

[2022-05-22 00:00] #555 closed

[2022-05-23 13:48] andreamari commented on #1285
Good point! Closing now

[2022-05-24 10:29] andreamari opened #1308 "Linkcheck often fails with MyBinder links"
Linkcheck non-deterministically fails when checking two MyBinder links that are in the README file.
Both links seem to work but maybe they are slow.

This is the error message that is produced by test-docs in CI:
[code]

Unless there is a better solution, we can ask linkcheck to ignore the 2 links.

[2022-05-25 20:43] Misty-W opened #1312 "Warn users about incompatible frontends and backends"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

From question raised by @natestemen on Discord: https://discord.com/channels/764231928676089909/979109444602449970

Ensure users receive helpful error messages for incompatible frontend and backend combinations.

Thanks for helping us imp

[2022-05-25 20:44] Misty-W opened #1313 "Clarify language in docs around Frontend and Backend compability"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Give a detailed description of the new feature, and what problem it is trying to solve.

If this is a proposal to change an existing feature, also outline the current
implementation and its drawbacks.

Thanks for helping us improve Mitiq!

[2022-05-27 06:09] divshacker commented on #1283
Hey, I would like to work on this issue.

[2022-05-27 09:16] andreamari commented on #1283
Great, thanks @divshacker!

[2022-05-27 16:35] andreamari commented on #1312
We close this and we use https://github.com/unitaryfund/mitiq/issues/1313 to keep track of the problem.

[2022-05-27 16:35] #1312 closed

[2022-05-27 16:54] #1260 closed

[2022-05-27 18:06] natestemen commented on #1016
Doc builds are failing again (https://github.com/unitaryfund/mitiq/runs/6623525872), so am going to reopen this.

I've run `make linkcheck` locally and despite only seeing `ok`, `redirect` and a few `-ignored-`, the program finishes with
[code]

Is there a way to run this program to only show failing links?

[2022-05-27 18:09] natestemen commented on #1016
Upon further consideration, this is another case of https://github.com/unitaryfund/mitiq/issues/1308. Sorry for the notifications. Closing.

[2022-05-27 18:09] #1016 closed

[2022-05-30 17:25] #1298 closed

[2022-05-31 11:23] #1229 closed

[2022-05-31 18:38] natestemen opened #1321 "Investigate slow docs build"
## Description

The docs take a _very_ long time to build. Since this can be an effective way to get feedback on a PR/commit, speeding up this loop could be beneficial for the team. Current build times are roughly 15 minutes.

[2022-06-01 04:26] natestemen opened #1323 "Migrate off `rst` files"
As discussed in https://github.com/unitaryfund/mitiq/blob/master/docs/CONTRIBUTING_DOCS.md#updating-the-documentation, we wish to part ways with rst. We only have the following 5 files left.

- [ ] [`docs/source/apidoc.rst`](https://github.com/unitaryfund/mitiq/blob/28109019444b02818fa6721fab610b72b90dade2/docs/source/apidoc.rst)
- [x] [`docs/source/release.rst`](https://github.com/unitaryfund/mit

[2022-06-01 17:22] nathanshammah commented on #1250
I can be a mentor for this issue for folks who wish to work on it during unitaryHACK and wish to have some support.

[2022-06-02 11:48] WingCode commented on #1250
@andreamari I would like to take this up. Could you assign me this issue?
@nathanshammah Thank you for offering help. I will take you up on the offer, if needed 👍

[2022-06-02 13:19] andreamari commented on #1250
Thanks @WingCode !

[2022-06-02 18:10] #1267 closed

[2022-06-02 18:22] andreamari commented on #1265
Hi @Aaron-Robertson, I know that you are actively working on this. Any updates?
It would be good to have some time interval between this PR and the release for the usual review process.

[2022-06-02 23:54] Misty-W commented on #1163
Hi unitaryHACKers! Feel free to tag me in the comments if you want to work on this issue and have questions.

[2022-06-03 12:43] #1265 closed

[2022-06-03 14:14] #1288 closed

[2022-06-03 14:14] #1289 closed

[2022-06-03 14:14] #1290 closed

[2022-06-03 14:14] #1291 closed

[2022-06-03 14:41] Rahul-Mistri opened #1329 "Add Error Mitigation example with Braket"
Issue Description
-----------------
Currently we only have one example on [_Error Mitigation_](https://mitiq.readthedocs.io/en/stable/examples/ibmq-backends.html) which is written with Qiskit as the frontend. Braket users would find it useful if we had the same example implemented with Braket as the frontend.

Proposed Solution
-----------------
- Implement a Braket variant of Qiskit example [(the

[2022-06-03 14:44] Rahul-Mistri opened #1330 "Add Error Mitigation example with PennyLane"
Issue Description
-----------------
Currently we only have one example on [_Error Mitigation_](https://mitiq.readthedocs.io/en/stable/examples/ibmq-backends.html) which is written with Qiskit as the frontend. PennyLane users would find it useful if we had the same example implemented with PennyLane as the frontend.

Proposed Solution
-----------------
- Implement a PennyLane variant of Qiskit exam

[2022-06-03 14:52] Rahul-Mistri opened #1331 "Add Error Mitigation example with Cirq"
Issue Description
-----------------
Currently we only have one example on [_Error Mitigation_](https://mitiq.readthedocs.io/en/stable/examples/ibmq-backends.html) which is written with Qiskit as the frontend. Cirq users would find it useful if we had the same example implemented with Cirq as the frontend.

Proposed Solution
-----------------
- Implement a Cirq variant of Qiskit example [(the sourc

[2022-06-03 15:01] Rahul-Mistri opened #1332 "Add Braket example on mitigating the energy landscape of a variational circuit"
Issue Description
-----------------
The example [_Mitigating the energy landscape of a variational circuit with Mitiq_](https://mitiq.readthedocs.io/en/stable/examples/simple-landscape-cirq.html) is implemented using Cirq as a frontend. We ought to implement this using Braket as an example for our users.

Proposed Solution
-----------------
- Implement a Braket variant of the example [(the source

[2022-06-03 15:06] Rahul-Mistri opened #1333 "Add PennyLane example on mitigating the energy landscape of a variational circuit"
Issue Description
-----------------
The example [_Mitigating the energy landscape of a variational circuit with Mitiq_](https://mitiq.readthedocs.io/en/stable/examples/simple_landscape.html) is implemented using Cirq as a frontend. We ought to implement this using PennyLane as an example for our users.

Proposed Solution
-----------------
- Implement a PennyLane variant of the example [(the source

[2022-06-03 15:08] Rahul-Mistri opened #1334 "Add Qiskit example on mitigating the energy landscape of a variational circuit"
Issue Description
-----------------
The example [_Mitigating the energy landscape of a variational circuit with Mitiq_](https://mitiq.readthedocs.io/en/stable/examples/simple_landscape.html) is implemented using Cirq as a frontend. We ought to implement this using Qiskit as an example for our users.

Proposed Solution
-----------------
- Implement a Qiskit variant of the example [(the source can b

[2022-06-03 18:33] #1264 closed

[2022-06-04 06:50] genyaprog opened #1339 "pip install too old version"
Pre-Report Checklist
--------------------

- [ ] I am running the latest version of mitiq
- [ ] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

When mitiq is installed via pip install mitiq too old version (0.5.0) is installed

How to Reproduce
----------------
pip install mitiq

[2022-06-04 07:03] genyaprog commented on #1339
Asked qustion in Discord

[2022-06-04 07:03] #1339 closed

[2022-06-04 13:08] andreamari commented on #1094
@obliviateandsurrender, thanks! Please note that there is already a PR by @lockwo for the same issue.
On the other hand, it is interesting that both of you solved the issue but in very different ways: @lockwo with OpenFermion and you with PennyLane. So we may decide to keep both examples!

Next week we'll discuss internally and let you know if we'll keep both examples and, if so, how it works with

[2022-06-04 13:14] andreamari commented on #1339
For other users with a similar problem, two alternative things that can solve the problem are:

- `pip install -upgrade pip` followed by `pip install mitiq`
or
- `pip install mitiq==0.16.0 --force-reinstall` (where 0.16.0 can be any other Mitiq version)

[2022-06-06 14:40] #1210 closed

[2022-06-06 14:42] natestemen commented on #1156
Upgrading numpy to a version greater than 1.21 will also fix the one security vulnerability we have open.

[2022-06-07 15:21] andreamari commented on #1094
Hi @obliviateandsurrender, I have some good news!
We discussed about this and decided to also keep your H2 example in addition to the previous one by @lockwo.
If both PRs will be accepted and merged, both of you will the bounty!

[2022-06-08 00:27] natestemen opened #1343 "Titles on examples page are being clipped"
There is some great work ongoing in https://github.com/unitaryfund/mitiq/pull/1338 to replace the default mitiq logo with example-specific logos. While reviewing that I realized there is the separate problem of the titles being clipped.

<img width="350" alt="Screen Shot 2022-06-07 at 5 23 33 PM" src="https://user-images.githubusercontent.com/12703123/172505668-aba2af1a-0f2f-48a1-95ac-2ef091bee8e3

[2022-06-08 10:00] nathanshammah commented on #1343
good point!

[2022-06-09 10:20] #1094 closed

[2022-06-09 16:19] #1283 closed

[2022-06-10 05:30] natestemen opened #1350 "Blog post announcing DDD"
We'd like to write a short blog post to spread the word that DDD is available.

This will technically be a PR in https://github.com/unitaryfund/unitary-fund, but because we'd like to track it in this milestone, it is being opened here.

[2022-06-10 16:28] nathanshammah commented on #1330
The guidelines for the example are:
- Keep the example "experiment" as close as possible to the original one (ZNE, scaling factors, noise level, general syntax and text).
- Change the front end to be PennyLane instead of qiskit.
- Keep IBMQ device simulator in the back end, using as much as possible pennylane, e.g., [`qml.device`](https://pennylaneqiskit.readthedocs.io/en/latest/devices/ibmq.html)

[2022-06-10 16:34] nathanshammah commented on #1331
The guidelines for the example are:
- Simplify the existing example by removing the Cirq section
- create a new example just with the Cirq frontend (and IBMQ backend)

[2022-06-10 20:34] Misty-W commented on #1163
Hi @RamAIbot, great that you'd like to work on this! To test the solution thoroughly you would need to run on real hardware, but I don't think it's required to close the issue. @andreamari please correct me if I'm wrong.

Right now the use of one simulator is hardcoded into `mitiq.interface.mitiq_qiskit.qiskit_utils.execute_with_shots`, but we want the user to be able to specify a valid Qiskit bac

[2022-06-10 23:18] Misty-W commented on #1331
I can work on this issue.

[2022-06-13 06:54] sassan72 opened #1353 "circuit can not convert to mitiq."
i have defined a custom gate in my code. After trying to convert the circuit to Mitiq, i encountered this error:

CircuitConversionError: Circuit could not be converted to an internal Mitiq circuit.
This may be because the circuit contains custom gates.

[2022-06-13 07:04] sassan72 commented on #1353
i could fix this error. but i have another error.
CircuitConversionError: Circuit could not be converted from an internal Mitiq type to a circuit of type qiskit.

[2022-06-13 09:49] andreamari commented on #1163
Hi @RamAIbot, in Qiskit a backend can represent both a real hardware device and a classical simulator.
For testing one could use an abstract classical simulator like [`AerBackend`](https://qiskit.org/documentation/stubs/qiskit.providers.aer.AerSimulator.html#qiskit.providers.aer.AerSimulator), or a classical clone of a real device like e.g. [`FakeLima`](https://qiskit.org/documentation/tutorials/s

[2022-06-13 16:00] natestemen commented on #1353
Hey Sasan, thanks for opening an issue! Would you mind providing a minimal working example so that we can see and test the error on our side as well?

[2022-06-14 04:36] Misty-W opened #1356 "Learning-based PEC: update biased noise loss function to be multi-frontend"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

As written, the biased noise loss function for learning-based PEC only works with Cirq circuits. If we want to make the function public, it should with other frontends.

[2022-06-14 07:07] sassan72 commented on #1353
def statepreparation(X, circuit):

    circuit.ry(X[0], 0)
    circuit.cnot(0, 1)
    circuit.ry(X[1], 1)
    circuit.ry(X[2], 2)
    circuit.cnot(1, 2)
    circuit.ry(-X[1], 1)
    circuit.cnot(0, 2)

    return circuit

  def qiskit_circuit(X, shots=8192):

    circuit1 = QuantumCircuit(3)
    circuit1 = statepreparation(X, circuit1)
    custom_gate1 = circuit1.to_gate()
    custom_gate11 = cust

[2022-06-14 10:44] sassan72 commented on #1353
Many thanks. I will try it.

[2022-06-14 17:14] #1270 closed

[2022-06-14 17:16] Misty-W commented on #1163
hi @RamAIbot, any help needed getting a PR started on this issue? Deadline to get credit for unitaryHACK is this Friday Jun 17!

[2022-06-14 23:51] Misty-W commented on #1163
yes, you'll need to write a test function, or parametrize the existing test `test_execute_with_shots` in `mitiq/interface/mitiq_qiskit/tests/test_qiskit_utils.py` with multiple backends. You should test at least two backends to confirm that your modification works. You can take a look at other Mitiq tests that use `pytest` parametrization as examples to guide your implementation.

[2022-06-17 08:25] JLenssen commented on #1330
Hi, I noticed that Pennylane already provides an example of ZNE using mitiq in their [documentation](https://pennylane.readthedocs.io/en/stable/code/api/pennylane.transforms.mitigate_with_zne.html).
Should an example for another technique be provided instead (with a link to the ZNE example in the docs)?

[2022-06-17 16:36] Misty-W commented on #1163
@RamAIbot yes you can, we encourage ongoing contributions!

There's still a little time left to get credit for the hackathon, so if you have a draft PR ready I can take a look. I have to step away from my computer for a couple hours but I'll be available to look at it and answer questions this afternoon US Pacific Time.

[2022-06-17 21:49] Misty-W commented on #1163
@RamAIbot, I left some comments on the PR. Feel free to ping me with questions!

[2022-06-20 15:22] andreamari commented on #1330
Hi @JLenssen, our aim is to translate this basic ZNE example to all supported frontends, so I would keep the current ZNE + PennyLane issue in the current form.

On the other hand, additional examples for other error mitigation techniques (e.g. PEC/DDD/CDR) are welcome too!

[2022-06-21 22:15] Misty-W opened #1365 "Write user guide section for learning-based PEC"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Give a detailed description of the new feature, and what problem it is trying to solve.

If this is a proposal to change an existing feature, also outline the current
implementation and its drawbacks.

Thanks for helping us improve Mitiq!

[2022-06-24 15:36] natestemen commented on #1350
Above PR is now merged. Thanks Nathan!

[2022-06-27 10:54] andreamari opened #1368 "Unexpected behavior of folding functions with Qiskit circuits with barriers"
Pre-Report Checklist
--------------------

- [ ] I am running the latest version of mitiq
- [ ] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

Insert a short description of the bug here, along with what you expected the behavior to be.

Thanks for helping us improve mitiq! 🙂

How to Reproduce
----------------

If useful, provide a numbered

[2022-06-27 19:35] #1331 closed

[2022-06-29 23:22] natestemen opened #1375 "Add documentation surrounding/explaining ASV benchmarks"
Once https://github.com/unitaryfund/mitiq/pull/1354 is merged, it will be nice to document the benchmarks, and explain what they are, and what information can be taken from them. There is a short explanation in the [readme](https://github.com/unitaryfund/mitiq/pull/1354/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5), but we should think about adding something to the d

[2022-06-29 23:27] natestemen opened #1376 "Add timing benchmarks"
Once https://github.com/unitaryfund/mitiq/pull/1354 is merged, it will be nice to add some timing benchmarks to our repository. This is one of the more common uses of asv.

If there are recommendations as to core components of our library that we should ensure are fast, or would just be good to get an understanding of, please add them here.

[2022-06-29 23:44] natestemen commented on #1376
cc @unitaryfund/engineering

[2022-06-30 01:56] #1253 closed

[2022-06-30 02:20] refraction-ray opened #1377 "Custom package and circuit interface"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Currently, if we want to interface mitiq with quantum packages that not listed in ``interfaces`` submodule, we can take the following workaround:

[code]

However, this workflow is not straightforward and error-prone. Since we have define

[2022-06-30 16:14] #1136 closed

[2022-06-30 16:33] purva-thakre commented on #335
Link to the RFC : https://docs.google.com/document/d/1hbd9frjYiSy0WujA0iCccc-oMO4Q-kZc2G4b3lkJHdk/edit?usp=sharing

[2022-06-30 23:26] Misty-W opened #1380 "Configuration issue with `allcontributors` bot"
Pre-Report Checklist
--------------------

- [X] I am running the latest version of mitiq
- [X] I checked to make sure that this bug has not already been reported

How to Reproduce
----------------

### Comment on PR #1372 (to trigger `allcontributors` bot)

### Error Output

[code]

[2022-07-01 01:19] #1380 closed

[2022-07-01 01:22] Misty-W commented on #1356
There is now a test of `learn_biased_noise_parameters` with Qiskit, and it is passing, so I'm closing this issue.

[2022-07-01 01:22] #1356 closed

[2022-07-02 05:25] aakif-akhtar commented on #941
Hi, is anyone doing this task currently? I need this feature in my project if no one is doing it I can take it up.

[2022-07-04 14:16] andreamari commented on #1377
Thanks @refraction-ray, we'll think about your proposal.

Honestly, the solution of your first code snippet doesn't look so bad to me.
It requires two lines of codes (manual insertion of `from_cirq` and  `to_cirq` functions). The proposed solution also requires two  lines of code:
[code]

Do you have strong arguments in favor of the second approach?

[2022-07-05 01:03] refraction-ray commented on #1377
Thanks for your reply.

Yes, consider the scenario of three parties (user, mypackage developer and mitiq developer) instead of two parties (user and mitiq developer). It is mypackage's developers responsibility to implement ``to_cirq``, ``from_cirq`` and register these new interfaces in mitiq. All these implementation are in mypackage module (say ``mypackage/mitiq_interface.py``). So that users of

[2022-07-05 07:57] andreamari commented on #335
Thanks @purva-thakre, the RFC looks very good!

[2022-07-05 08:54] andreamari commented on #1377
Ah, now I see the advantage thanks! Sounds interesting to me.
I'll ping other Mitiq devs:
@nathanshammah, @natestemen, @Misty-W

[2022-07-05 09:19] andreamari opened #1385 "Support Qiskit 0.37"
Currently Mitiq is compatible with Qiskit `0.36.2` but not with Qiskit `0.37.0`.
Tests in the associated @dependabot PR (#1382) are failing.

[2022-07-05 20:20] natestemen opened #1386 "Add custom favicon for readthedocs"
It would be great to replace the default favicon on RTD with something mitiq specific (maybe the mitiq `m`?). I find it quite difficult to figure out which tab our docs are in when many are open.

This can easily be done in code by adding
[code]
to [`docs/source/conf.py`](https://github.com/unitaryfund/mitiq/blob/master/docs/source/conf.py). Further documentation can be found here: https://www.sph

[2022-07-05 22:53] #1329 closed

[2022-07-06 00:19] Misty-W opened #1387 "RFC for Readout Error Mitigation"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Review and approve [RFC for Readout Error Mitigation (REM)]
(https://docs.google.com/document/d/1buO5PrO5sS02VXjcaYf37RuR0rF6xpyr4J9H1tI4vN4/edit#heading=h.c072otyej9hw)

Feature request issue #815

[2022-07-06 00:30] Misty-W commented on #1387
Tried to assign @amirebrahimi but he doesn't appear in the list of possible assignees when I type in his username.

[2022-07-06 05:15] amirebrahimi commented on #1387
Thanks for the update. I have comments in the RFC that I'll be addressing soon.

[2022-07-06 09:30] andreamari commented on #941
Hi @aakif-akhtar,
I am not sure about this solution. See this this previous discussion https://github.com/unitaryfund/mitiq/issues/941#issuecomment-966396760

What we are looking for is the possibility of directly applying mitiq (e.g. folding functions) to gates with symbolic parameters. I know this may not be easy/possible to achieve but, in principle, this is the scope of this issue.

[2022-07-06 16:25] #1330 closed

[2022-07-06 21:24] rmlarose commented on #1368
A simpler example of the unexpected behavior was found in https://github.com/unitaryfund/mitiq/pull/1369#issue-1285873175, copied below.

[code]

[code]

[2022-07-07 13:29] aakif-akhtar commented on #941
Hi @andreamari give me this weekend and i will try to see if a direct application is possible as that will be easier to use for me too.

[2022-07-08 03:55] #1386 closed

[2022-07-08 04:56] natestemen commented on #1353
Hi Sasan, can you confirm whether Andrea's suggestion works for you?

[2022-07-08 17:53] andreamari opened #1391 "Explore the possibility of supporting Qiskit barriers"
In principle, Mitiq should preserve the structure of input circuits as much as possible, apart from the transformations that are necessary for error mitigation (e.g. unitary folding).

For this reason it would be great if [Qiskit barriers](https://qiskit.org/documentation/stubs/qiskit.circuit.library.Barrier.html)  could be preserved. See [this link ](https://quantumcomputing.stackexchange.com/que

[2022-07-11 07:43] AminHosseinkhani opened #1393 "Clarify how CDR training circuits are generated"
An important aspect of Clifford Data Regression is how the training circuits are constructed. In the original publication cited by Mitiq as the reference, [Quantum 5, 592 (2021)](https://quantum-journal.org/papers/q-2021-11-26-592/), the implementation of the methods is done via Markov Chain Monte Carlo (MCMC).

In the Mitiq cdr code, on the other hand, the training circuits are constracted using

[2022-07-11 07:53] AminHosseinkhani commented on #1393
An important aspect of Clifford Data Regression is how the training circuits are constructed. In the original publication cited by Mitiq as the reference, [Quantum 5, 592 (2021)](https://quantum-journal.org/papers/q-2021-11-26-592/), the implementation of the methods is done via Markov Chain Monte Carlo (MCMC).

In the Mitiq cdr code, on the other hand, the training circuits are constracted using

[2022-07-11 09:59] andreamari opened #1394 "Understand how to deal with zero-time gates in mitiq.ddd"
In some backends (e.g. IBM) there are some gates that have zero time duration, since they are applied in a _virtual_ way.
For example Rz gates have zero duration.

The currrent DDD technique in Mitiq, on the other hand, assumes that all gates take the same amount of time.

It would be great to solve this inconsistency, however, I don't have a straightforward solution in mind.

A non-optimal but pe

[2022-07-12 23:30] epelofske-LANL opened #1396 "Passing a Qiskit circuit to mitiq digital dynamic decoupling method triggers error in Qiskit"
Issue Description
-----------------

Passing a specific Qiskit circuit to `ddd.insert_ddd_sequences()` throws an error `qiskit.circuit.exceptions.CircuitError`

### Code Snippet

[example.qasm.txt](https://github.com/unitaryfund/mitiq/files/9097179/example.qasm.txt)

[code]
It is possible to get around this error by using the following code instead:

[code]

### Error Output

[code]

Environment C

[2022-07-13 02:07] epelofske-LANL opened #1397 "ddd.insert_ddd_sequences method causes mismapping of qubits in Qiskit circuit"
Issue Description
-----------------
`ddd.insert_ddd_sequences` causes qubit mismapping for specific Qiskit circuits.

### Code Snippet
[example.qasm.txt](https://github.com/unitaryfund/mitiq/files/9098331/example.qasm.txt)

[code]

### Error Output
The bug is that in the original circuit, qubit 7 is used (and measured), while qubit 6 is inactive. While in the resulting circuit having been passed t

[2022-07-13 14:27] andreamari commented on #1396
Thanks @epelofske-LANL for the bug report.
I think there are problems with the current code of mitiq.ddd in the case in which there are measurements in the circuit.

This could be fixed by changing the code of `insert_ddd_equences` and maybe also in the code of `_get_circuit_mask`  as follows:

- use  `_pop_measurements`
- apply DDD
- apply `_append_measurements`.

[2022-07-13 16:37] Aaron-Robertson commented on #1396
Thanks for finding this one @epelofske-LANL! I'm happy to fix it up, collaborate on a fix, or hand it off to you. I'll assign myself for now, but just let me know if you have a different preference.

[2022-07-13 19:54] epelofske-LANL commented on #1396
@Aaron-Robertson Feel free to go ahead if you have a fix; I am not sure how to implement a fix (largely because I am not terribly familiar with mitiq).

[2022-07-14 08:07] andreamari commented on #1396
Thanks @Aaron-Robertson !

[2022-07-14 20:31] sassan72 commented on #1353
No. It doesn't work with measurement.

[2022-07-14 20:32] sassan72 commented on #1353
I will work on it again and share the error with you.

[2022-07-15 17:09] andreamari opened #1399 "Implement Markov Chain Monte Carlo approach for CDR training circutis."
The way in which training circuits are generated for the CDR technique is mentioned in the original paper in which CDR was introduced [Czarnik et al. arXiv:2005.10189]( https://arxiv.org/abs/2005.10189) but was not used in the associated numerical experiments.
In the same paper a different method was proposed in which training circuits are generated with a Markov Chain Monte Carlo approach. This i

[2022-07-15 17:11] andreamari commented on #1393
Hi @AminHosseinkhani, thanks for your useful feedback on CDR!

Based on your comments, there are two things that we can do:

1. Updating the documentation with a warning based on your comment. Issue (this one): #1393 .
2. Actually implementing the more advanced appraoch (Markov Chain Monte Carlo) for the generation of training circuits. I just opened a new issue dedicated to this aspect. Issue: #1

[2022-07-16 00:53] Misty-W opened #1400 "Add example in which superoperator matrices of noisy gates are deduced from hardware properties"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

In Mitiq the procedure for generating quasi probability representations assumes that the user already knows the channel representation (superoperator matrices) of each noisy operations. This is a frontend-dependent and backend-dependent a

[2022-07-21 05:40] amirebrahimi commented on #1387
I've updated the RFC doc and my branch to address some of the changes requested:
https://github.com/amirebrahimi/mitiq/commit/464578b247c6c5a517b556e94f4541149528b26f
https://github.com/amirebrahimi/mitiq/commit/5d7e51e878c3dd8a3e0c2f1e9a80b585505f4e0c

[2022-07-21 10:54] natestemen commented on #1377
I personally really like the idea of allowing user-defined `to_mitiq`/`from_mitiq` functions that hook into our code. The solution proposed by Shixin seems like a good one.

[2022-07-21 15:50] andreamari commented on #1387
Thanks @amirebrahimi, I left some comments on the RFC document.
**For my side, the current version of the RFC can be accepted**!
However a formal acceptance decision can only be taken after a proper discussion with other members of the Mitiq team. I'll keep you posted!

[2022-07-24 21:12] isaac-gs commented on #1399
@andreamari Myself and a few others are reading the paper and learning about this. So we can take this issue.

[2022-07-25 09:29] andreamari opened #1408 "Add an example in which a two-qubit gate error is empirically estimated for implementing PEC"
Issue Description
-----------------

PEC requires the knowledge of the noise model, or at least a simplified approximation of it.
A crude approximation is assuming that noise is dominant for two-qubit gates and that it can be approximated
by a depolarizing channel.
Even this crude approximation, still requires knowing at least the size of a real parameter: the two-qubit gate error.

This parameter

[2022-07-25 12:24] andreamari commented on #1399
@isaac-gs, great!

[2022-07-26 13:47] 1ucian0 opened #1410 "benchmarks.mitiq.dev is down"
The README file refers to https://benchmarks.mitiq.dev/ which is 404ing.
<img width="618" alt="Screenshot 2022-07-26 at 15 47 09" src="https://user-images.githubusercontent.com/766693/181021701-fa3fa5cd-3b8f-414b-9c15-4296c166e81a.png">

[2022-07-26 13:51] 1ucian0 commented on #1410
Maybe it should point to https://metriq.info/Submission/18 ?

[2022-07-29 09:51] natestemen commented on #1410
Thanks Luciano. The site is live at https://unitaryfund.github.io/mitiq-bench/, and refers to a different type of benchmark than what metriq does. We do have https://github.com/unitaryfund/mitiq-bench/issues/1 open to fix this issue because it should be live at `benchmarks.mitiq.dev`, but I just haven't gotten around to it yet. Since we have the other issue, I'll close this for now.

[2022-07-29 09:51] #1410 closed

[2022-07-29 16:13] andreamari commented on #335
Closing this since the RFC has been accepted

[2022-07-29 16:13] #335 closed

[2022-08-02 14:34] andreamari opened #1420 "Expectation values of Mitiq observables are buggy if circuits have measurements"
Issue Description
-----------------

Expectation values of Mitiq observables are buggy if circuits have measurements
It seems that change of basis rotations are applied after measurement gates instead of before.

How to Reproduce
----------------

### Code Snippet

[code]

### Output

[code]

### Expected Output

The Circuit to measure X(q(0)) should have a single measurement gate applied after th

[2022-08-03 17:19] andreamari commented on #1385
This was fixed in https://github.com/unitaryfund/mitiq/pull/1421 .   Thanks @1ucian0!

[2022-08-03 17:19] #1385 closed

[2022-08-03 17:27] andreamari opened #1422 "Mapping Qiskit registers via transpilation passes"
Issue Description
-----------------
We currently have a  functions to change the qubit and bit registers in Qiskit circuits (see e.g. [this](https://github.com/unitaryfund/mitiq/blob/081c7897c0ec99ecc3f73c7ecc8118d383d85f2d/mitiq/interface/mitiq_qiskit/conversions.py#L212)). They are necessary for having consistent names in conversions.
However those functions touch very low-level (sometimes priva

[2022-08-04 05:14] 1ucian0 commented on #1422
I think the same might apply to `_add_identity_to_idle`, `_remove_identity_from_idle`, and other circuit transformations. Even the "executor" itself.

[2022-08-05 14:15] andreamari commented on #1396
Hi @Aaron-Robertson, any update on this?

In general I think many DDD problems that we currently have are related to the presence of measurement gates in the middle of the circuits. In these cases, Mitiq erroneously tries to insert DDD gates in idle windows that are present **after** the measurement gates.

I think the bug may be fixed using `cirq.synchronize_terminal_measurements()` somewhere in

[2022-08-05 15:28] andreamari opened #1426 "Insert the GGI summer school "ZNE exercice" notebook into the Examples section of the docs"
Issue Description
-----------------
On July 2022, we gave some lectures on error mitigation and Mitiq at the [GGI Summer School - SQMS](https://www.ggi.infn.it/showevent.pl?id=436). We made an ["exercise notebook"](https://www.ggi.infn.it/talkfiles/bonuses/bonus6073.zip) for learning how to apply ZNE to a GHZ state with Mitiq.

In the last Mitiq community call, @nathanshammah suggested to port thi

[2022-08-05 17:14] Aaron-Robertson opened #1427 "Speed up and/or remove redundant unit tests"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

Local test times are onerous for Mitiq contributors and for the repository actions. Contribution would be easier if tests run faster.

Based on my own local testing, the 15 slowest tests are
|Time        |     Test

[2022-08-08 17:16] natestemen commented on #1353
Were you able to find a workaround?

[2022-08-08 17:17] natestemen commented on #1308
Haven't seen this happening recently, so maybe we can close for now?

[2022-08-08 17:39] #1124 closed

[2022-08-08 17:54] natestemen commented on #1387
Nice job Amir, this looks really great. I've made a comment about naming similar to Andrea's, but this is ready to move on to the next steps from me. I've marked it as accepted. Congrats! 🥳 🎉

I'll close this out now as this ticket was just for tracking the RFC, and we can use https://github.com/unitaryfund/mitiq/issues/815 for the implementation whenever we decide to do that.

[2022-08-08 17:54] #1387 closed

[2022-08-09 09:59] #1308 closed

[2022-08-09 10:07] sassan72 commented on #1353
def statepreparation(X, circuit):

    circuit.ry(X[0], 0)
    circuit.ry(X[1], 1)
    circuit.ry(X[2], 2)
    circuit.cnot(0, 1)
    circuit.ry(-X[1], 1)
    circuit.cnot(0, 2)
    circuit.ry(X[3], 2)
    circuit.cnot(1, 2)
    circuit.ry(X[4], 0)
    circuit.ry(X[5], 1)
    circuit.ry(X[6], 2)

    return circuit

simulator_backend1 = qiskit.Aer.get_backend("qasm_simulator")

def Hadm_test(X1, X

[2022-08-10 09:34] sassan72 commented on #1353
i decompose the controlled rotation and Toffoli gates, but i still get this error: Circuit could not be converted to an internal Mitiq circuit.

[2022-08-10 10:17] andreamari opened #1434 "Unify structure of executor functions in mitiq_[frontend] for all frontends"
We currently have many versions of executor functions in `mitiq/interface/mitiq_<frontend>` for `frontend in [cirq, qiskit, etc...]` .
Some of them have been coded years ago, some of them are more recent.

We should probably deprecate most of them in favor of 2 or 3 types of executors. For example, good executors that we should keep if present and add for all frontends are:

- `sample_bitstrings()

[2022-08-10 12:03] #1163 closed

[2022-08-16 15:59] Misty-W opened #1440 "Make suppression of "No representation found for ideal_operation" warnings an option"
Pre-Request Checklist
---------------------

- [X] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

In the case where not all operations have `OperationRepresentation`s associated with them, the user is warned every time `execute_w_pec` is called. In the case that `execute_w_pec`is called many times, as in learning-based PEC, this resul

[2022-08-16 21:22] natestemen commented on #1440
I'm used to seeing people ignore warnings using the `warnings` package as [documented here](https://stackoverflow.com/questions/11175388/ignoring-python-warnings):
[code]

Is there a reason that we should allow users to ignore these more easily? I'm not sure of the original intention, but presumably the warnings are there for a reason.

[2022-08-17 17:21] nathanshammah commented on #1440
Log from the Mitiq office hours discussion with @natestemen @Misty-W:

More context on `OperationRepresentation` is given in the documentation on PEC, [here](https://mitiq.readthedocs.io/en/latest/guide/pec-5-theory.html#quasi-probability-representations).

We are discussing whether to
1. suppress these warnings with an option in `execute_with_pec` or
2. suppress the the warnings using the `warnin

[2022-08-17 17:25] nathanshammah commented on #815
Thanks @amirebrahimi, we can discuss together, whenever you can, during the Mitiq meetings, the timeframe and follow-up issues to implement the feature.

[2022-08-19 01:00] amirebrahimi commented on #815
Sounds good. I'll plan on joining tomorrow's meeting.

[2022-08-21 23:42] amirebrahimi opened #1447 "REM: RFC implementation"
Per #815, implement the RFC approved in #1387

**Requirements**:
- Implement `mitigate_measurements`, `execute_with_rem`, `mitigate_executor`, `rem_decorator`.

**Considerations**:
- Circular imports have been challenging with this module because `_typing` uses `MeasurementResult`.

[2022-08-21 23:47] amirebrahimi opened #1448 "REM: Write documentation"
Per #815, write the documentation sections for the RFC approved in #1387.

**Requirements**:
Write documentation for the following sections:
1. How do I use REM?
1. When should I use REM?
1. What additional options are available when using REM?
1. What happens when I use REM?
1. What is the theory behind REM?

These are the corresponding sub-issues:
- [x] #1451
- [x] #1452
- [x] #1453
- [x] #1454

[2022-08-22 08:24] nathanshammah commented on #1448
Thanks @amirebrahimi! This looks great. Possibly this could be a "super-issue" with sub-issues for each of the five sections, see for example https://github.com/unitaryfund/mitiq/issues/1210.

[2022-08-22 11:42] nathanshammah opened #1450 "Titles with thubmnails in examples in documentation"
I remember that an issue previously in the documentation were titles going out of bounds in the thumbnails.  I didn't notice the change that now makes the thumbnails in the documentation take a full row of space on https://mitiq.readthedocs.io/en/latest/examples/examples.html

Having large thumbnails looks ok to me, but we need to have titles (even shortened ones are fine) next to the thumbnails,

[2022-08-22 16:57] amirebrahimi opened #1451 "REM: Write the first sub-section of the user guide"
Per #1448, write the following documentation section:
  - How do I use REM?

**Considerations**:
- A rough outline for the documentation is [here](https://docs.google.com/document/d/1buO5PrO5sS02VXjcaYf37RuR0rF6xpyr4J9H1tI4vN4/edit?pli=1#heading=h.m66w3ecdwtem)

[2022-08-22 16:59] amirebrahimi opened #1452 "REM: Write the second sub-section of the user guide"
Per #1448, write the following documentation section:
  - When should I use REM?

**Considerations**:
- A rough outline for the documentation is [here](https://docs.google.com/document/d/1buO5PrO5sS02VXjcaYf37RuR0rF6xpyr4J9H1tI4vN4/edit?pli=1#heading=h.m66w3ecdwtem)

[2022-08-22 17:00] amirebrahimi opened #1453 "REM: Write the third sub-section of the user guide"
Per #1448, write the following documentation section:
  - What additional options are available when using REM?

**Considerations**:
- A rough outline for the documentation is [here](https://docs.google.com/document/d/1buO5PrO5sS02VXjcaYf37RuR0rF6xpyr4J9H1tI4vN4/edit?pli=1#heading=h.m66w3ecdwtem)

[2022-08-22 17:00] amirebrahimi opened #1454 "REM: Write the fourth sub-section of the user guide"
Per #1448, write the following documentation section:
  - What happens when I use REM?

**Considerations**:
- A rough outline for the documentation is [here](https://docs.google.com/document/d/1buO5PrO5sS02VXjcaYf37RuR0rF6xpyr4J9H1tI4vN4/edit?pli=1#heading=h.m66w3ecdwtem)

[2022-08-22 17:01] amirebrahimi opened #1455 "REM: Write the fifth sub-section of the user guide"
Per #1448, write the following documentation section:
  - What is the theory behind REM?

**Considerations**:
- A rough outline for the documentation is [here](https://docs.google.com/document/d/1buO5PrO5sS02VXjcaYf37RuR0rF6xpyr4J9H1tI4vN4/edit?pli=1#heading=h.m66w3ecdwtem)

[2022-08-22 17:06] amirebrahimi commented on #1448
Thanks. I've added the sub-issues.

[2022-08-22 18:33] Misty-W commented on #1440
Solution: use warnings filter instead of explicit option in PEC.

[2022-08-22 18:33] #1440 closed

[2022-08-25 17:02] isaac-gs commented on #1399
Quick update, we are almost done with a refactor of the existing CDR code that should help make it easier to add new CDR approaches in the future.

We also have an MCMC implementation that will be added in a separate PR, but there's still some additional work to do there as well.

[2022-08-26 13:33] Amai-RusseMitsu opened #1460 "Unable to batch with multiple circuits with Qiskit."
Dear Mitiq team,

I was wondering if anyone has successfully used Mitiq and batched execute using the Execute function on the qiskit backend. I have a IBMQ account and whenever I use batched Execute according to the following guide https://mitiq.readthedocs.io/en/stable/guide/executors.html. Qiskit interprets this not as a batched job but as multiple single jobs that are being sent, with the next

[2022-08-26 16:18] nathanshammah opened #1462 "Document how allcontributors is configured"
Document how allcontributors is configured to be able to edit the trigger event and actions.

[2022-08-26 16:23] nathanshammah opened #1463 "Update allcontributors list and contributions"
1. Update allcontributors list. On the contributors page by github at this moment 47 contributors are credited (incl. allcontributors and dependabot). In the Readme, allcontributors lists much fewer ones.

2. We should update the contributions credited. Some of the credited contributors contributed more features than the initial ones, e.g., @Aaron-Robertson adding code and not being currently cred

[2022-08-26 16:29] natestemen commented on #1463
@all-contributors please add @Aaron-Robertson for ideas, code, and documentation

[2022-08-26 16:30] nathanshammah opened #1465 "Further automate allcontributors"
Further automate allcontributors. Ideally, we'd like it to:
1. autonomously detect a new contributor
2. categorize the contribution automatically. If there is a way to tell allcontributors that for example, files modified under `/docs/` should add a "documentation" feature, `/test/` adds the testing one... etc.

This could work in a way like one of the following:
1. allcontributors automatically c

[2022-08-26 16:48] Aaron-Robertson opened #1466 "Measurements followed by additional gates in a DDD circuit should return a sensible error"
## Issue Description
Old issue with converted measurements is back, potentially isolated to DDD. Measurement names change resulting in an error:
`qiskit.circuit.exceptions.CircuitError: "Bit 'Clbit(ClassicalRegister(4, 'meas'), 0)' is not in the circuit."`

## How to Reproduce

1. Use circuit:
[code]
2. Run circuit through DDD:
[code]

## Expected behavior
Circuit should yield an error, saying tha

[2022-08-26 16:50] nathanshammah commented on #335
@purva-thakre we can move onto opening a list of detailed issued to implement the RFC.

[2022-08-29 15:19] andreamari commented on #1399
Thanks @isaac-gs! There is no hurry, take your time.
As you already mentioned, if possible, please try to split it into small intermediate PRs.
Feel free to join our weekly community calls on Discord (http://discord.unitary.fund/) if you want to discuss about this synchronously.

[2022-08-29 15:54] andreamari commented on #1460
Thanks @Amai-RusseMitsu  for reporting this issue in a very detailed way. The loom link is cool!

I think what is going on here is that the Executor object is indeed calling `batch_run_zne` a single time as expected but, since in the code of `batch_run_zne` all the circuits are executed one-by-one, batching is lost from a practical point of view.

This is a sketch of a valid unmitigated batched ex

[2022-08-29 23:14] anna-naden opened #1468 "CCompiler_spawn() got an unexpected keyword argument 'env'"
Installing mitiq fails with the error message shown in the title of this posting

[2022-08-30 03:38] anna-naden commented on #1468
[mitiq error.txt](https://github.com/unitaryfund/mitiq/files/9449357/mitiq.error.txt)
I think I have attached the output of pip install here - the full traceback. Can you see it?

[2022-08-30 03:38] anna-naden commented on #1468
I just said "pip install mitiq". That is all there is to it

[2022-08-30 08:00] andreamari commented on #1468
Hi @anna-naden, maybe your Python version is too recent. Mitiq is currently tested with Python 3.7 and 3.8. We are working on supporting newer Python versions but it's not straightforward.

[2022-08-30 08:33] anna-naden commented on #1468
Hi.. yes, it is incompatible with Python 3.10. The issue was resolved by creating a virtual environment with Python 3.9

[2022-08-30 10:31] #1460 closed

[2022-08-30 13:51] purva-thakre commented on #335
@nathanshammah The RFC does have issues at the end. I am close to finishing off the tests for the scaling function. Do you want me to make 1 issue for the documentation changes ?

[2022-08-30 14:08] natestemen commented on #1468
Glad you got the issue resolved, but sorry you hit it in the first place!

Since we have https://github.com/unitaryfund/mitiq/issues/1292 open to upgrade our python capabilities, I'll close this for now. Thanks for opening the issue!

[2022-08-30 17:15] nathanshammah commented on #335
Yes, what about opening single issues on github?
What about adding one for the documentation like this one https://github.com/unitaryfund/mitiq/issues/1448 (it has sub issues that will be easier to assign and to avoid getting stuck). Btw I think the RFC is quite beautifully explaining the concept and we should try to port as much information as possible (and your diagrams) into the actual docs.

[2022-08-30 19:34] natestemen commented on #1224
Is this still something we need to worry about? I'm not sure if we can still recreate with more recent versions.

[2022-08-30 19:35] vprusso commented on #1224
I'd say this is safe to close. Feel free to do so, and thanks for checking in on this issue here.

[2022-08-30 19:43] #1224 closed

[2022-08-30 21:35] purva-thakre opened #1470 "Identity Scaling in ZNE Documentation"
This issue is to keep track of all changes needed for adding Identity Scaling to existing ZNE documentation.

The PR for the identity scaling functions is [here](https://github.com/unitaryfund/mitiq/pull/1442) and the RFC was approved in #335.

Changes for adding identity scaling in existing documentation are :

- [x] #1471
- [x]  #1472
- [x] #1473
- [ ] #1474
- [ ] #1475
- [ ] #1546

[2022-08-30 21:37] purva-thakre opened #1471 "Identity Scaling : How do I use ZNE ?"
In [`Select Noise Scaling Method`](https://mitiq.readthedocs.io/en/stable/guide/zne-1-intro.html#select-a-noise-scaling-method), add discussion on how to use identity scaling instead of unitary folding.

[2022-08-30 21:38] purva-thakre opened #1472 "Identity Scaling : When should I use ZNE ?"
https://mitiq.readthedocs.io/en/stable/guide/zne-2-use-case.html

Not sure if this section needs to have information about a specific ZNE method. The information being discussed is not specific to unitary folding.

[2022-08-30 21:39] purva-thakre opened #1473 "Identity Scaling : Additional Options"
https://mitiq.readthedocs.io/en/stable/guide/zne-3-options.html

Same as [Unitary Folding method ](https://mitiq.readthedocs.io/en/stable/guide/zne-3-options.html#unitary-folding)described in the documentation, add a subsection for the identity insertion method.

- [ ]  General description of how the layers are inserted
- [ ] Difference between integer scale and float factors - uniform layers vs r

[2022-08-30 21:40] purva-thakre opened #1474 "Identity Scaling : What happens when I use ZNE ?"
https://mitiq.readthedocs.io/en/stable/guide/zne-4-low-level.html

First step is only for using unitary folding. Make changes for identity scaling.

Heere, add a table (or diagram) differentiating between Unitary Folding and Identity Insertion methods.

[2022-08-30 21:40] purva-thakre opened #1475 "Identity Scaling : Theory"
https://mitiq.readthedocs.io/en/stable/guide/zne-5-theory.html

The theory is specific to Unitary Folding. Add a separate subsection behind identity insertion and decoherence.

[2022-08-30 21:46] purva-thakre opened #1476 "How do I use ZNE ?"

[2022-08-30 21:49] purva-thakre commented on #1476
Duplicated after I used `convert to issue`. Did not know a new issue would be created.

[2022-08-30 21:49] #1476 closed

[2022-08-31 18:19] nickdgardner commented on #1334
I can work on this issue

[2022-08-31 18:19] nickdgardner commented on #1332
I can work on this issue

[2022-09-01 09:37] #1396 closed

[2022-09-02 17:25] andreamari opened #1478 "Add a function in Mitiq that returns the versions of supported frontends as extracted from dev_requirements.txt"
## Issue Description

This is a simplified version of the stale issue #1201.

The versions of frontends that are tested with Mitiq are those in `dev_requirements.txt`. Apart from Cirq which is in `requirements.txt`.

It would be helpful to have a function that returns those versions. E.g.

[code]

**Important note:** this is very tricky task since requirement files are present in the master branch

[2022-09-06 08:47] andreamari commented on #1353
Hi @sassan72,

I tried to decompose `circuit3` with `qiskit.transpile` and it seems to work.  Please let us know if you still have problems. This is the code that I used in my test:

[code]

[2022-09-06 09:46] sassan72 commented on #1353
Thanks a lot. It worked.

[2022-09-06 12:14] nelimee commented on #1179
@purva-thakre any news on this? :)

[2022-09-06 13:51] purva-thakre commented on #1179
@nelimee I haven't finished working on this yet. I did get started but left halfway because I got caught up in something else.

[2022-09-06 13:56] andreamari commented on #1353
Good! :+1:

[2022-09-06 13:56] #1353 closed

[2022-09-07 14:07] nathanshammah opened #1482 "Automatic posts for Mitiq release"
## Issue Description

We don't always communicate new Mitiq releases on UF social media.

## Proposed Solution

It could be nice to have, every time there is a new release at https://github.com/unitaryfund/mitiq/releases:
- [x] An automatic post on the UF Discord server, e.g., in the #mitiq channel
- [ ] An automatic Twitter post from the UF Twitter account (@unitaryfund)

## Additional References

[2022-09-08 14:33] saki-zapata commented on #1292
Any plan to upgrade the `numpy` version to make it compatible with `python 3.10` (#1285)?

[2022-09-09 10:34] andreamari commented on #1273
(we have ongoing plans about this)

[2022-09-09 12:52] andreamari commented on #1292
This is quite important indeed. I'll add it to the next milestone but I am not sure if it's going to be an easy fix.

[2022-09-09 16:30] andreamari commented on #1420
Assigned to @nickdgardner , thanks!

[2022-09-12 17:22] andreamari commented on #815
@allcontributors please add @amirebrahimi for code, test, doc.

[2022-09-14 10:17] rmlarose commented on #1420
This is the intended behavior - `measure_in`  adds single-qubit rotations and measurements to the end of a circuit, regardless of what the circuit is. There could be use cases where you want intermediate measurements in the circuit. Where did this come up? and what is the proposed change?

[2022-09-14 17:52] nathanshammah opened #1488 "Add BQSkit <> Mitiq tutorial to docs"
## Issue Description

It would be great to add a BQskit <> Mitiq tutorial to the docs to show the use of Mitiq with a compiler.

## Proposed Solution

Rework the existing notebook (https://github.com/unitaryfund/research/blob/main/ieee-quantum-week/compilation-with-error-mitigation-tutorial/bqskit.ipynb) into myst format, addressing the remaining comments in [that PR](https://github.com/unitaryfun

[2022-09-14 23:37] nickdgardner commented on #1420
@andreamari @rmlarose I was looking into the issue but I'll hold off until this question is resolved.

[2022-09-15 08:55] andreamari commented on #1420
The situation that I had in mind is the the quite typical setting in which there are just terminal measurements in the input circuit and I expected that one could evaluate expectation values of arbitrary observables (by changing the basis _before_ the measurements).

But I also understand your design view and it makes sense to me. In practice this means that, when using a Mitiq obervable, in most

[2022-09-15 08:55] #1420 closed

[2022-09-15 15:44] nickdgardner commented on #1420
@andreamari No worries it was still useful for learning the code base--I'll do an issue + PR to add a warning in the docs about this.

[2022-09-15 17:26] andreamari commented on #1420
Great, thanks @nickdgardner!

[2022-09-16 00:01] #1168 closed

[2022-09-16 00:01] #1062 closed

[2022-09-16 00:01] #1002 closed

[2022-09-16 00:01] #850 closed

[2022-09-16 10:28] rmlarose commented on #1478
Isn't this just [`mitiq.SUPPORTED_PROGRAM_TYPES`](https://github.com/unitaryfund/mitiq/blob/550901c33b5d4bf9ce6b7e8e6f4442e1d0d75bda/mitiq/_typing.py#L35-L41)? How much value does version information really add?

[2022-09-16 14:07] andreamari commented on #1478
Sometimes it happens that Mitiq is not compatible with the latest versions of supported frontends.
Users are typically not aware of this fact and they often report error messages that are due to this problem.

This function may help users to know what versions of frontends are more appropriate for the installed version of Mitiq. It doesn't mean that they are forced to install those versions, but a

[2022-09-17 14:56] rmlarose commented on #1478
Thanks Andrea. I of course leave it  to you but, FWIW, my semi-detached perspective is that this seems like over engineering. Unless there's many messages per day about this, I would do nothing. Even if there are many messages, I would still probably do nothing. It's user error if they're not using the supported version.

But if there's a really strong urge to do something, I would go minimal and

[2022-09-18 17:40] Rahul-Mistri commented on #1422
Giving this a shot :+1:

[2022-09-19 15:17] natestemen opened #1493 "Update sphinx config"
When running `make docs` I'm getting some deprecation warnings:
[code]

These will need to be updated in [`docs/source/conf.py`](https://github.com/unitaryfund/mitiq/blob/a48f35f9ba7fab2f491c2baac2a905b6f3706b40/docs/source/conf.py). Documentation is [here](https://www.sphinx-doc.org/en/master/usage/configuration.html).

[2022-09-19 18:52] natestemen commented on #1323
This line can also be removed:
https://github.com/unitaryfund/mitiq/blob/a48f35f9ba7fab2f491c2baac2a905b6f3706b40/docs/source/conf.py#L100

[2022-09-19 19:28] natestemen commented on #1478
I agree with Ryan in that I'm not sure this worth our time to add. I think the assumed happy path is something like

1. user hits an error caused by a version incompatibility
2. user has the wherewithal to run `mitiq.supported_frontend_versions()`
3. user sees an installed frontend is not supported by mitiq
4. user installs correct version of frontend

I don't feel as though having the function `m

[2022-09-20 09:10] nathanshammah commented on #1493
Nice find.

[2022-09-20 13:03] andreamari commented on #1478
Based on the feedback, we can close this issue.

Side comment: the message "See https://github.com/unitaryfund/mitiq/blob/master/dev_requirements.txt for supported versions." can be a good compromise. But, if we ever decide to do this, the correct link is something like `"https://github.com/unitaryfund/mitiq/blob/v" + "installed_version" + "/dev_requirements.txt"`.

[2022-09-20 19:56] andreamari opened #1498 "Make docs compatible with latest version of sphinx-gallery"
In https://github.com/unitaryfund/mitiq/pull/1497 the version of `sphinx-gallery` has been pinned to `0.10.1` since, with later
versions, the gallery examples [doesn't look good](https://mitiq.readthedocs.io/en/v0.18.0/examples/examples.html).

After pinning `sphinx-gallery`, it [looks ok](https://mitiq--1497.org.readthedocs.build/en/1497/examples/examples.html), but it would be nice of the Mitiq

[2022-09-20 20:00] #1450 closed

[2022-09-21 15:55] yitchen-tim opened #1500 "Add IonQ native gates"
## Issue Description
Amazon Braket now supports [verbatim compilation](https://aws.amazon.com/blogs/quantum-computing/amazon-braket-now-supports-verbatim-compilation-and-native-gates-with-ionq/?tag=local002-20) now for IonQ. But when I tired to run this [example](https://mitiq.readthedocs.io/en/latest/examples/zne-braket-ionq.html) with verbatim compilation and native gates, I got the validation e

[2022-09-22 07:54] andreamari commented on #1500
Hi @yitchen-tim, thanks for reporting this.
Mitiq does support GPi gates and many other platform-specific gates.
I think there are two alternative paths that you could try:

- Applying Mitiq before the final verbatim compilation into native gates. In practice this means to insert the compilation in the body of the usual Mitiq `execute` function such that all the Mitiq circuit workflow happens with

[2022-09-22 09:11] nathanshammah opened #1503 "Directly support openQASM circuits"
## Issue Description

Mitiq could support directly as one of its frontends quantum circuits in openQASM format. Mitiq already has some conversion functions for openqasm wrt to Qiskit circuits.

## Additional References

@nickdgardner mentioned this as a useful feature.

[2022-09-22 19:55] nickdgardner commented on #1503
I've started looking at this (specifically for openQASM 3) and would be happy to collaborate on the issue with others who have more experience with Mitiq and/or openQASM.

[2022-09-22 20:55] andreamari commented on #1503
Interesting @nickdgardner !  This probably requires some planning/decisions. We can discuss more during a Mitiq call.

[2022-09-23 16:48] andreamari commented on #1466
Hi @Aaron-Robertson, do you have any update on this? I am asking since next Friday we are going to make a new release.

[2022-09-23 16:53] nathanshammah opened #1507 "Add tutorials with other techniques"
## Issue Description
Right now, we only have tutorials on ZNE under https://mitiq.readthedocs.io/en/latest/examples/examples.html. It would be great to add tutorials on PEC, CDR, REM, etc.

[2022-09-23 16:55] nathanshammah opened #1508 "Improve titles of tutorials"
## Issue Description
The titles of the tutorials could be improved. It is hard to understand right now the difference between tutorials. I propose to have some sort of classification, with a common structure. Like: {technique - topic - front end}, e.g., Using ZNE for H2 calculation with Cirq... or something similar.

[2022-09-23 17:40] yitchen-tim commented on #1500
Thanks for the pointers to alternatives. Adding compilation as the final step of `execute` function sounds like the best way for those who want to use Mitiq with IonQ native gates today. But, for long term, I feel like adding native gates is still the best solution. I am happy to contribute to add the gates. I already started to do so, but I ran into issue that the inverse of IonQ native gates are

[2022-09-23 18:30] #821 closed

[2022-09-25 19:31] nickdgardner commented on #1508
Definitely agree! Also, the markdown headings in some examples could be improved/made more consistent. For example [Mirror circuit benchmark improved with zero-noise extrapolation on AWS Braket](https://mitiq.readthedocs.io/en/stable/examples/braket_mirror_circuit.html#) has top-level heading "Mitiq with Braket", which is not specific enough.

I'll keep these issues in mind as I finish adapting th

[2022-09-26 15:15] andreamari commented on #1508
Thanks @nickdgardner!

[2022-09-26 20:10] natestemen opened #1509 "Clean up flaky tests in `test_inference.py`"
We seem to have a few flaky tests which have popped up recently giving the dreaded red X. Since our test often take 20-30min to run, restarting them due to a flaky test is undesirable.

- In https://github.com/unitaryfund/mitiq/pull/1492 we saw [`mitiq/zne/tests/test_inference.py::test_plot_data_exp_factory[ExpFactory]`](https://github.com/unitaryfund/mitiq/blob/a48f35f9ba7fab2f491c2baac2a905b6f37

[2022-09-27 09:22] #1214 closed

[2022-09-27 09:26] nathanshammah commented on #1465
I don't remember, @Aaron-Robertson is this something you are looking into?

[2022-09-28 13:17] andreamari commented on #815
Thanks @kun-wang, very interesting!
In this first stage we are probably going to just self-implement the matrix inversion method.
However, in a second stage, we can consider using some of your advanced post-processing methods.
Out of curiosity, is QCompute:QEP a self-contained PyPy package or is it instead a part of the full `qcompute` SDK?

[2022-09-28 13:48] #1488 closed

[2022-09-28 13:59] nathanshammah opened #1517 "Reconsider adding Google Colab links for interactive notebooks"
## Issue Description

This is an improvement proposal, following an AI Summer school I attended where everyone seemed to use Google Colab for  sharing notebooks. I propose to investigate how we could support Colab, which, by the way, I believe added some features in the past years, integrating with Github.

We currently only support My Binder which has the following pros:
- one can specify environ

[2022-09-28 14:25] natestemen opened #1518 "Clean up issue/PR labels"
We currently have 40(!) labels to use for issues/PRs. I suggest trimming this down so that labels can be found more easily, and used more effectively. I've put together a google sheet with the labels, and my proposed actions [here](https://docs.google.com/spreadsheets/d/1NV3hKzgrlSOD56WUwW0Atm6bG7QLsFigWL0A27mZ-qY/edit?usp=sharing).

---

For reference, here is the following python script I used t

[2022-09-28 15:30] andreamari commented on #1518
Fine for me. maybe I would keep `executors` and `observable` since like `zne`, `pec`, etc... they are Mitiq modules.

[2022-09-28 16:25] natestemen commented on #1434
Took a look at this today to see where we're at. Looks like a slightly larger chunk of work than I expected if we want all of these interfaces to have a unified API (which I think is a great idea). Here's the current state of things:

| | `sample_bitstrings` | `compute_density_matrix` |
| --- | --- | --- |
| `braket` | ❌ | ❌ |
| `cirq` | ✅ | ✅ |
| `pennylane` | ❌ | ❌ |
| `pyquil` | ❌ | ❌ |
| `qisk

[2022-09-28 17:28] natestemen opened #1520 "Port BQSKit tutorial to bqskit1.0"
BQSKit 1.0.0 is a big API change that drastically simplifies our tutorial.

https://github.com/unitaryfund/mitiq/issues/1156 must be completed prior to this as 1.0.0 requires `numpy>=1.22.0`.

Initial PR: https://github.com/unitaryfund/mitiq/pull/1489
Existing file: https://github.com/unitaryfund/mitiq/blob/9f227b13a7c4746c70cb71e91dbad40358cc49be/docs/source/examples/bqskit.ipynb

[2022-09-28 19:15] WrathfulSpatula commented on #1254
For Hermitian observables, I believe expectation values are _strictly theoretically real-valued_, by the way. Is there even a need for non-Hermitian operator expectation values? I'm not sure that would make sense, in the context of quantum theory.

[2022-09-28 20:07] yitchen-tim commented on #1500
Opened a [PR](https://github.com/quantumlib/Cirq/pull/5889) in Cirq to implement the inverse of these gates. Once Cirq is updated, I will implement the Braket-Cirq translation in Mitiq.

[2022-09-29 07:38] andreamari opened #1523 "Codecov non-deterministically failing in CI"
E.g.: https://github.com/unitaryfund/mitiq/actions/runs/3146490388/jobs/5115626902#step:7:1

Possible solutions:

- Downgrading the version of the GitHub codecov action (i.e. reverting [this](https://github.com/unitaryfund/mitiq/pull/1496/commits/87856a9c058bc5f6d20277e29df97721bec8f52d))?

- No idea...

[2022-09-29 08:57] andreamari commented on #1500
Perfect! thanks @yitchen-tim

[2022-09-29 21:09] natestemen opened #1526 "Search engines indexing old versions of docs"
For example, when I search for PEC, the first (!) result is our docs, but from version 0.11.1.
<img width="600" alt="Screen Shot 2022-09-29 at 1 59 11 PM" src="https://user-images.githubusercontent.com/12703123/193141091-630d634d-b8d0-4f30-80cf-1533cacd5455.png">

It would be great if search engines only indexed stable releases. Maybe a case can be made for latest as well, but definitely not older

[2022-09-29 21:21] yitchen-tim commented on #1500
@andreamari The PR for gate conversion is out #1525 !

[2022-09-29 22:04] natestemen commented on #1254
I found this review comment thread from last year on this issue: https://github.com/unitaryfund/mitiq/pull/1001#discussion_r736396474.

[2022-09-30 09:22] andreamari commented on #1526
Seems like a good idea! This a PR, in astropy, that did what @natestemen suggested: https://github.com/astropy/astropy/commit/53991504e622ceb516d79d37dd562da95f6c845f

[2022-09-30 10:23] andreamari commented on #1321
I am not sure this issue has a solution since I guess it's important to run the example notebooks in order to test that they work.

[2022-09-30 12:32] cryotheta commented on #1507
Hi,
I can do it for CDR.

[2022-09-30 12:35] nathanshammah commented on #1507
Thanks @cryotheta, that'd be fantastic! [Here](https://mitiq.readthedocs.io/en/stable/contributing_docs.html#adding-code-examples) are some guidelines for contributing examples to the docs. Here some more general guidelines about contributing to Mitiq with a [pull request](https://mitiq.readthedocs.io/en/stable/contributing.html#opening-a-pull-request). Hope this helps and feel free to drop in at

[2022-09-30 16:20] #1292 closed

[2022-09-30 16:20] #1493 closed

[2022-10-03 14:16] natestemen commented on #1509
[master](https://github.com/unitaryfund/mitiq/actions/runs/3174423778/jobs/5171198696) just failed on `mitiq/zne/tests/test_inference.py::test_plot_data[LinearFactory]`

[2022-10-03 14:19] natestemen opened #1533 "Fix Qiskit deprecation warnings"
Seeing the following warnings on CI:
[code]

First and last issues want us to directly use the [`qiskit-aer`](https://pypi.org/project/qiskit-aer/) package, and the second should be fixed by removing the `warnings` key word argument.

[2022-10-03 20:44] andreamari opened #1535 "When a test in fails in CI, what about if we still run all the other tests?"
## Issue Description

With current settings CI stops as soon as a test fails. In this way we don't know if the other test would have passed or not.
I understand the motivation: it saves computational power.
On the other hand, it would be helpful to know what are all the failing tests for each commit instead of catching and fixing failing tests one-by-one.

[2022-10-04 14:18] natestemen commented on #1535
I think the desired effect can be achieved by setting `fail-fast: false` in our test matrices. The keyword is documented [here](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast).

[2022-10-04 14:20] natestemen commented on #1518
Thanks Andrea, I've updated the sheet to keep those. WDYT @nathanshammah @Misty-W?

[2022-10-04 20:12] natestemen commented on #1321
Good point. I was thinking we could potentially cache the builds, and not rebuild the docs when the changes don't modify them. However, our code changes could potentially affect how the docs build/run, so maybe that's not such a good idea.

Since this has been open since may, and we don't have any good ideas for how to improve this, I'm going to close it.

Can always revisit if we come up with som

[2022-10-04 20:12] #1321 closed

[2022-10-04 20:25] natestemen commented on #1255
Can someone who has a bit more context here please provide what the expected output is? @Aaron-Robertson @andreamari @Rahul-Mistri

[2022-10-05 12:34] andreamari commented on #1255
I think the expected result is the following:

[code]

[2022-10-05 14:03] natestemen commented on #822
I think this is mostly done now, can we close?

[2022-10-05 14:25] nathanshammah commented on #822
Yep!

[2022-10-05 22:00] nickdgardner commented on #1517
Just brainstorming some potentially useful models for how to support Colab (if we decide to):

•Peter Norvig's pytudes (markdown on github, very nice interface allowing you to run the notebook on Colab, DeepNote MyBinder, SageMaker Studio Lab; and to view the notebook on NBViewer):
https://github.com/norvig/pytudes#index-of-jupyter-ipython-notebooks

•The notebooks for this online intro data scien

[2022-10-06 14:09] andreamari opened #1540 "Calibration tools RFC: explore solutions for calibration capabilities"
## Issue Description

Mitiq provides several [error mitigation techniques](https://mitiq.readthedocs.io/en/stable/guide/guide.html) (ZNE, PEC, CDR, DDD, …).
Moreover, each technique has several options (hyper-parameters) that can be set by the user, e.g.: folding method, extrapolation method, quasi-probability representations, DDD sequences, CDR learning strategy, etc…
This variety of possibilitie

[2022-10-06 16:16] nathanshammah opened #1541 "Improve techniques start page in docs"
## Issue Description
Right now the page for each QEM technique on the documentation provides an index, with five linked files. This makes those pages a bit dry and may also affect how popular these pages are in search engine indexing, see #1526.

## Proposed Solution
We propose to add introductory information to the main page of each QEM technique, mostly porting information that now is in the fir

[2022-10-06 17:03] natestemen commented on #1466
Hey Aaron, wondering if you'd like this to go in the next milestone? I know you mentioned you were close, but if you need any help, let us know!

[2022-10-07 19:46] purva-thakre opened #1546 "Identity Insertion Example for Docs"
How should the identity scaling examples be added ? [On this page](https://mitiq.readthedocs.io/en/stable/examples/ibmq-backends.html), there are some examples for ZNE via Unitary folding.

1. Create separate examples for identity scaling
2. Limit the examples to what already exists but separate them into two sections : ZNE via Unitary Folding and ZNE via Identity Scaling

[2022-10-07 20:29] purva-thakre opened #1547 "Images in docs might not appear as intended in dark mode"
When RTD is displayed in dark mode, some of the images with dark borders appear cutoff. Those with white backgrounds and dark borders also appear cutoff and a little bit squashed.

Here's a comparison for [one of the CDR images](https://mitiq.readthedocs.io/en/stable/guide/cdr-4-low-level.html).

![image](https://user-images.githubusercontent.com/66048318/194647427-c0b925fb-0bbe-4e85-85e1-00fcf0ee

[2022-10-11 09:02] andreamari commented on #1470
Hi @purva-thakre, thanks for this issue and sorry for replying so late.

Identity scaling is a new noise scaling method that is complementary to existing ones like fold gates at random or fold global.  I don't think we need to create all the docs sections that you listed above, as if we were introducing a completely new error mitigation technique.

What we probably need is just a short subsection

[2022-10-11 09:09] andreamari commented on #1546
Maybe a separate short example in which unitary folding and identity scaling are compared?
(I would consider this as a nice but not urgent addition, since we already have a lot of ZNE examples.)

[2022-10-11 15:10] purva-thakre commented on #1470
@andreamari Ok. That is fine with me for the sections not discussed in this comment. I was proposing changes to existing ZNE docs because there's a difference in how the number of layers are inserted. All the examples are using a unitary folding method.

I think in addition to the options page, the 'theory' might need some information about identity scaling and some information about decoherence.

[2022-10-11 16:59] andreamari commented on #1470
@purva-thakre When reading this issue I had the wrong impression that you wanted to document Identity Scaling as a fully new technique. But I was wrong! Sorry for creating this confusion.  Updating the existing ZNE docs wherever you think is more appropriate sounds good for me.

[2022-10-12 18:35] nickdgardner commented on #1517
Another possible reference:
• Notebooks accompanying Kevin Murphy's "Probabilistic Machine Learning" books (with a helpful [intro to colab](https://colab.research.google.com/github/probml/probml-notebooks/blob/main/notebooks/colab_intro.ipynb)):
https://github.com/probml/pyprobml

[2022-10-13 03:01] natestemen commented on #1517
@nathanshammah can you comment on where you'd like to see google colab used? We don't have any binder links on the examples pages, which is what I originally thought you were referring to when reading this issue.

[2022-10-14 03:22] nickdgardner commented on #1517
@nathanshammah @Misty-W @natestemen @andreamari Here's my attempt at making a colab version of the example I have been working on (qiskit adaptation of [this](https://mitiq.readthedocs.io/en/latest/examples/simple_landscape.html))
https://colab.research.google.com/drive/1BQRT_TxbZ7HiYt_fF0HFJ8yz5U2c6JBL?usp=sharing

I think this should work for anyone with a google account. The only difference bet

[2022-10-14 03:44] nickdgardner commented on #1334
@natestemen Here is my initial notebook for this issue. I thought I'd upload it here for feedback/review before submitting a PR to change the documentation, but let me know if I should do something else. Thanks!

https://github.com/nickdgardner/mitiq/blob/master/docs/source/examples/simple-landscape-qiskit.ipynb
https://github.com/nickdgardner/mitiq/blob/master/docs/source/examples/simple-landscap

[2022-10-14 03:48] natestemen commented on #1334
Nice work Nick! I'd say just go ahead and open a PR and I can start giving you more concrete feedback from there.

[2022-10-14 09:41] andreamari opened #1552 "CI is failing on non-linux tests"
## Issue Description
CI is failing on non-linux tests.

An example is given by the last commits of #1442
But it's happening in many other PRs too.

I am re-running tests on #1442 to see if it was just a temporary problem.

If you have any ideas on how to solve this, please comment here.

[2022-10-14 14:13] purva-thakre commented on #1552
If no one is working on this, I can take it.

I am not familiar with Github Actions. So, I have been spending some time trying to figure out the differences between the linux and non-linux tests in the workflow file.

[2022-10-14 16:18] natestemen commented on #1552
I'm hoping this will be fixed by https://github.com/unitaryfund/mitiq/pull/1486, but the only evidence for that is that the builds passed on the numpy upgrade PR.

[2022-10-14 17:18] #1156 closed

[2022-10-14 17:18] #1254 closed

[2022-10-14 21:04] #1535 closed

[2022-10-16 06:39] natestemen commented on #1552
Looks like this was fixed by #1486. If this pops up again, feel free to re-open.

[2022-10-16 06:39] #1552 closed

[2022-10-16 06:41] natestemen commented on #999
Is this still something we'd like to do? @andreamari @nathanshammah

[2022-10-16 22:57] natestemen commented on #1547
I'm not totally sure what the solution here is. Do you think the white background should be extended further around the image so the black background from dark-mode doesn't butt right up against the image?

[2022-10-16 23:29] natestemen commented on #1036
I'm in strong favor of removing allcontributors as well. IMO it's a larger burden than benefit. Reopening.

Are there repos you know of that do this?

[2022-10-17 14:48] purva-thakre commented on #1547
Yeah, I was thinking it would be better to increase the dimensions of the white background. And make this background consistent for all images in the documentation.

There are some images without a solid white background layer as well. They appear dim in dark mode (couldn't think of a better term).
![image](https://user-images.githubusercontent.com/66048318/196208585-68d2557a-2d07-463c-b5cb-09e6a9

[2022-10-17 14:58] andreamari commented on #999
I think so.  Maybe it's not urgent thing, but it would be nice to show how to combine two techniques e.g. by mitigating an  executor twice with different techniques.

[2022-10-17 18:09] purva-thakre commented on #1426
@andreamari @nathanshammah Looking at the files in the linked folder, there are two `ipnyb` - one is to-dos and one is with solutions.

Is the goal of this issue to add one tutorial with a section for to-do practice and then another section for the intended solution ?

[2022-10-17 21:28] natestemen commented on #1498
This problem is being tracked in https://github.com/sphinx-gallery/sphinx-gallery/issues/984. Once there is a solution there we should be able to upgrade.

[2022-10-18 03:55] natestemen commented on #1523
This seems to have resolved itself. Happy to close?

[2022-10-18 20:57] natestemen commented on #1509
[another](https://github.com/unitaryfund/mitiq/actions/runs/3276503155/jobs/5392631981) fail on `mitiq/zne/tests/test_inference.py::test_plot_data[LinearFactory]`

[2022-10-19 10:36] andreamari commented on #1426
Good question. I am not sure. What do you think?

What about if we put the half-filled exercise notebook in the examples section of the docs and at the bottom of the exercise notebook we add a link to the solution notebook (which is instead invisible from the examples section of the docs) ?

[2022-10-19 12:09] #1523 closed

[2022-10-19 15:15] purva-thakre commented on #1426
Would it be better to create a separate `Practice with Mitiq` page in the documentation ? We can also add more practice exercises here.

I am not too familiar with `.myst` but there should be a way to hide the solution until the user clicks on it or also provide hints without giving the full solution.

[2022-10-19 18:39] #1323 closed

[2022-10-19 22:08] natestemen opened #1560 "Support python 3.11"
It's supposed to arrive in 5 days ([schedule](https://peps.python.org/pep-0664/)). There are some serious speed improvements.

[2022-10-20 04:35] amirebrahimi opened #1562 "REM: Refactor generate_inverse_confusion_matrix"
Per [PR feedback](https://github.com/unitaryfund/mitiq/pull/1449#discussion_r972863821) it was suggested to replace the use of the `NoisyReadoutSampler` and `cirq.measure_confusion_matrix` with a fixed analytical solution. Additionally, Revert changes from #1605.

As mentioned in the PR it is okay if this is a follow-up PR to #1449.

Here's a [reference](https://github.com/quantumlib/Cirq/pull/485

[2022-10-21 16:15] Aaron-Robertson commented on #1466
@natestemen I've confirmed that I'm available to wrap this up, so let's add it to the milestone!

[2022-10-21 18:34] #1280 closed

[2022-10-24 20:18] Misty-W opened #1567 "mthree integration"
## Issue Description

For investigating integration of `mthree` with Mitiq.

## Proposed Solution

TBD

## Additional References

(https://github.com/Qiskit-Partners/mthree)

[2022-10-25 15:54] natestemen commented on #1509
[another](https://github.com/unitaryfund/mitiq/actions/runs/3321940639/jobs/5490277619) fail on `mitiq/zne/tests/test_inference.py::test_plot_data[LinearFactory]`

[2022-10-25 17:36] #1179 closed

[2022-10-25 20:28] nathanshammah commented on #1560
+1 for supporting this, and indeed it's been released.

[2022-10-26 14:26] andreamari opened #1570 "Support dictionary with counts in the MeasurementResult class"
## Issue Description

The [`MeasurementResult`](https://mitiq--1514.org.readthedocs.build/en/1514/_modules/mitiq/_typing.html#MeasurementResult) class in Mitiq represents the measured bitstrings obtained in a quantum computation.
At the moment it can only be initialized with an explicit list of bitstrings (one for each shot).

Another compact way of representing measurement results is via a dictio

[2022-10-27 22:13] natestemen commented on #1036
After searching around some more, I've found the [allcontributors CLI](https://allcontributors.org/docs/en/cli/overview) bun unfortunately it does not provide any ongoing automation. As far as I can tell, it's the same amount of work as using the bot through comments. (which we are not very good at)

I have not found any projects using GH actions to automate this. Any objections to remove the bot?

[2022-10-27 22:14] natestemen commented on #1465
duplicate of https://github.com/unitaryfund/mitiq/issues/1036

[2022-10-27 22:14] #1465 closed

[2022-10-28 00:29] purva-thakre commented on #1472
Closing this as there is no information specific to unitary folding on this page. It is only discussing the advantages/disadvantages of ZNE as a whole.

[2022-10-28 00:29] #1472 closed

[2022-10-28 16:31] natestemen commented on #1540
Most likely going with the incremental approach, starting with 1 outlined in the RFC above. @andreamari to create a new issue detailing the implementation of this solution.

[2022-10-28 16:31] #1540 closed

[2022-10-31 15:11] natestemen commented on #1509
[another](https://github.com/unitaryfund/mitiq/actions/runs/3358815258/jobs/5566225208) fail with both
- `mitiq/zne/tests/test_inference.py::test_plot_data[LinearFactory]`
- `mitiq/zne/tests/test_inference.py::test_plot_data[RichardsonFactory]`

[2022-10-31 19:00] natestemen commented on #1509
[another](https://github.com/unitaryfund/mitiq/actions/runs/3363585326/jobs/5576920514) fail on `mitiq/zne/tests/test_inference.py::test_plot_fit[LinearFactory]`

[2022-10-31 19:43] #1334 closed

[2022-11-02 00:08] Misty-W commented on #1562
Hi @amirebrahimi, should we include this issue in milestone 0.21? For context, the target completion date of milestone 0.21 is Nov 30.

[2022-11-02 10:57] andreamari opened #1578 "Implementation of calibration tools RFC (Solution 1)"
In a previous issue (#1540) we explored generic solutions for selecting and tuning quantum error mitigation techniques according to a specific backend and/or to a specific user's problem.
In this issue we focus on the particular solution to the calibration problem that was called _**Solution 1**_ in the [general RFC](https://docs.google.com/document/d/1otUHnTlyNS-0rxGAxltHLF1iD5C9qT9oEZ3jn8VHWgw/e

[2022-11-03 06:13] amirebrahimi commented on #1562
I think so as it should be a relatively small PR. #1449 needs to land first.

[2022-11-03 17:41] natestemen commented on #1509
[another](https://github.com/unitaryfund/mitiq/actions/runs/3387624289/jobs/5628609005) fail on `mitiq/zne/tests/test_inference.py::test_plot_data[LinearFactory]`

[2022-11-03 23:59] natestemen commented on #1518
I've removed the ones we agreed on in the google sheet.

At some point I'd like to go through the closed issues with label `stale` to ensure the bot didn't close anything that we actually want, but I think this is okay for now.

[2022-11-03 23:59] #1518 closed

[2022-11-04 00:10] natestemen commented on #1503
Can someone lay out the value prop for this? From my understanding very few users are writing openqasm by hand, and many frontends can import/export from openqasm easily.

[2022-11-04 00:26] natestemen commented on #1546
Just trying to clean up some issues. I think other issues cover this?

[2022-11-04 03:46] nickdgardner commented on #1503
I don't see a clear one now that I've looked into it more. But maybe @andreamari or @nathanshammah had something in mind? My initial thought was that it would be useful if Mitiq aims to eventually support people who want to apply mitigation methods involving sub-gate-level control, who might be working directly in QASM, and if QASM submodules would be the best way for Mitiq to implement those meth

[2022-11-04 16:01] purva-thakre commented on #1546
@natestemen Not really. The way I see the docs are structured, there's the Users Guide and then there are separate examples for ZNE with different backends etc. I created this issue for the `Examples` page.

[2022-11-04 16:13] nickdgardner opened #1582 "Add glossary of QEM concepts to docs"
Feedback/suggestions very welcome, especially on:
- the lists of **candidate terms** ("definitely" and "maybe" lists are both provisional)
- the lists under **additional references**

Overleaf doc for drafting, additional notes: https://www.overleaf.com/7945521889pgjpnsvkjzyd

## Issue Description
Coverage of certain core concepts necessary for understanding and motivating quantum error mitigation

[2022-11-04 16:53] purva-thakre opened #1583 "Gather all accepted RFC's in one section ?"
Since the topic of the RFC template came up at the start of the meeting, I think it would be better to gather up all the accepted RFC's in one section.

Option 1 : List all of the accepted RFC's with links in [this section](https://mitiq.readthedocs.io/en/stable/contributing.html#proposing-a-new-feature-to-mitiq) of the docs where the template exists.

Option 2 : Wiki page

Feel free to add anothe

[2022-11-04 17:02] nathanshammah commented on #1583
+1 for Option 1.

[2022-11-04 17:16] natestemen commented on #1583
option 1️⃣

[2022-11-04 22:50] Misty-W commented on #1255
hi @Rahul-Mistri, wanted to check if you're planning to work on this issue in the current milestone (0.21, closes Nov 30). If not, no worries, someone on the Mitiq team can pick this up.

Happy to help clear any roadblocks!

[2022-11-04 22:55] Misty-W commented on #1466
hi @Aaron-Robertson, wanted to check if you're planning to work on this issue in the current milestone (0.21, closes Nov 30). If not, no worries, someone on the UF team can pick this up.

Happy to help clear any roadblocks!

[2022-11-07 22:51] Misty-W opened #1584 "Codecov upload fails intermittently"
Codecov upload fails intermittently on python 3.10

Error message:

[2022-11-08 04:36] natestemen commented on #1584
Can you link to an example of this happening?

[2022-11-08 04:48] Misty-W commented on #1584
https://github.com/unitaryfund/mitiq/actions/runs/3414551571/jobs/5682658859

[2022-11-08 04:51] Misty-W commented on #1584
Another example: https://github.com/unitaryfund/mitiq/actions/runs/3365792242/jobs/5581622895

[2022-11-08 04:54] Misty-W commented on #1584
There might be more, these are two I could find in the recent workflow history.

[2022-11-08 05:23] natestemen commented on #1584
Looks like codecov is aware of this issue and is [working](https://github.com/codecov/codecov-action/issues/837#issuecomment-1302609100) on a fix: https://github.com/codecov/codecov-action/issues/837.

[2022-11-08 05:44] Misty-W commented on #1584
Thanks for looking into this @natestemen! As a temporary workaround we could consider adding a retry if upload fails, which is what Codecov seems to recommend. Right now our workflow doesn't allow us to retry upload by itself, so the whole test has to be re-run and can only be re-run after all others finish (which is another matter).

[2022-11-08 09:14] andreamari commented on #1503
QASM(2) is a [very popular](https://docs.google.com/presentation/d/e/2PACX-1vRjda57eKp7sLZENSJ7x83To2r0ja7XmW5sYaEobmYlvDKw122gagKm1j_qYm820054VbpFL0zZGjug/pub?start=false&loop=false&delayms=3000&slide=id.g14d46be9347_0_101) intermediate representation for circuits .

Supporting QASM would make Mitiq easy to use with any software library that is able to export QASM circuits and any backend that is

[2022-11-08 19:02] natestemen commented on #1584
Can you link to where that's recommended? From what I see they are recommending using a token: https://github.com/codecov/codecov-action/issues/837#issuecomment-1265726923. This has the downside of not running on PRs opened from forks. The other option is to make the token public, which is not ideal, but could be okay if we really want to close this.

I'm fine with re-running the tests occasionall

[2022-11-10 20:08] natestemen commented on #1420
Just came across the test which references this issue: https://github.com/unitaryfund/mitiq/blob/6af27485859e1b284d2607d5ef901078a303931b/mitiq/interface/mitiq_qiskit/tests/test_qiskit_utils.py#L298-L320

The test fails locally (which makes sense this no action was taken here)
[code]
Do we want to remove the test now?

[2022-11-10 23:55] natestemen commented on #1255
I took a look at this today and it seems to be a bit thorny. The problem goes away if one defines their circuit using a single register:
[code]
I'm not familiar enough with Qiskit to know if both are widely used, but it would be good to have these functions work regardless of how a user defined their circuit.

The problem arises because we use the `index` attribute of [`Qubit`](https://qiskit.org/

[2022-11-11 17:49] natestemen commented on #1582
Nice start Nick! Let's try to keep this limited to error mitigation specific terms and concepts for now. We have the common acronyms wiki page [here](https://github.com/unitaryfund/mitiq/wiki/Common-Acronyms), which could be a source of info.

I think starting small and building from there is the way to go for this.

[2022-11-15 15:32] andreamari commented on #1420
Ok for removing the test! Good catch

[2022-11-16 02:17] nickdgardner commented on #1582
Ok sounds good! I'll put a link to a doc on the agenda ahead of Friday's meeting with some draft definitions for people to look at.

[2022-11-16 03:01] nickdgardner opened #1593 "On API-doc page, side bar scrolling not working for "Executor""
## Issue Description
When I click on [Executors](https://mitiq.readthedocs.io/en/stable/apidoc.html#module-mitiq.executor.executor) on the [API-doc](https://mitiq.readthedocs.io/en/stable/apidoc.html) page, the visible side bar scrolling under "On this page" shows "Digital Dynamical Decoupling" highlighted instead of "Executors". The main part of the page jumps to the Executors section as intended

[2022-11-16 10:15] andreamari opened #1596 "Unexpected extrapolations for ExpFactory in special cases"
## Issue Description

There are cases in which `ExpFactory` fails to "choose" the optimal sign of $A$ in the model $f(x) = A e^{(-B \lambda)} + C$, which determines if  $f(x)$ is a decreasing or an increasing function.  The problems appears **only if the option** `asymptote` is passed (`asymptote` corresponds to fixing $C$ in the model ).

The reason for this problem is that the sign of $A$ is gue

[2022-11-17 20:19] #1466 closed

[2022-11-17 20:55] natestemen opened #1597 "Add W-state/QPE benchmarking circuits"
We'd like to add (in [`mitiq/benchmarks`](https://github.com/unitaryfund/mitiq/tree/master/mitiq/benchmarks)) support for two new benchmarking circuits.
- **W state circuits**: $W_n = \frac{1}{\sqrt{n}} |10\cdots 00\rangle + |010\cdots0\rangle + \cdots + |0\cdots 01\rangle$. The circuit for creating these is described here: https://arxiv.org/abs/1807.05572
- **Quantum Phase Estimation**: circuits

[2022-11-18 02:28] #1365 closed

[2022-11-18 14:47] nathanshammah commented on #1597
+1 for W state circuits. It can be similar to the ghz state ones, https://mitiq.readthedocs.io/en/stable/apidoc.html#module-mitiq.benchmarks.ghz_circuits.

[2022-11-18 17:18] Misty-W commented on #1583
@purva-thakre , @andreamari, @amirebrahimi we can start by linking accepted RFCs on this issue.

[2022-11-18 17:43] amirebrahimi commented on #1583
Sure, RFC for REM is #1387. Did you want me to create a separate PR adding it to the documentation, @Misty-W? And is there a preferred format for the docs (e.g. bulleted list)?

[2022-11-18 17:47] natestemen commented on #1583
We're just looking to collect the accepted PRs in this issue. Once they're all here someone can add them all at once. Thanks for linking yours!

[2022-11-21 13:28] nathanshammah opened #1601 "CI failing due to qiskit aer deprecation message"
## Issue Description

Currently, the CI is failing on master with macos with py 3.9, seemingly due to qiskit aer deprecation
[code]
See the environment details below for the full error message. Not clear why this pops up only in py3.9 mac-os, but we've been informed of this issue happening also locally for notebooks in the [research](https://github.com/unitaryfund/research/) repo.

## How to Repro

[2022-11-21 13:32] nathanshammah opened #1602 "Add simple PEC tutorial to documentation"
## Issue Description

It would be great to add a brief PEC tutorial to the documentation in the form of a `.myst` file so that it shows up in the [examples index page](https://mitiq.readthedocs.io/en/latest/examples/examples.html).
## Proposed Solution

I propose to simplified version of the PEC section of the research workload contained in existing supporting material for [this paper](https://arx

[2022-11-21 15:13] andreamari commented on #1583
Two additional accepted RFCs:

- [Dynamical decoupling RFC](https://docs.google.com/document/d/1cRwFCTn6kUjI1P0kNydtevxIYtE4r8Omd_iWK0Pe8qo/edit?usp=sharing)

- [Calibration generic plan RFC:](https://docs.google.com/document/d/1otUHnTlyNS-0rxGAxltHLF1iD5C9qT9oEZ3jn8VHWgw/edit?usp=sharing)

[2022-11-21 15:20] nathanshammah commented on #1583
- [Identity scaling](https://docs.google.com/document/d/1hbd9frjYiSy0WujA0iCccc-oMO4Q-kZc2G4b3lkJHdk/edit)
- [Documentation Reorganization](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#heading=h.mckr847qq60k)
- [RFC Template](https://docs.google.com/document/d/1nrg--pMBUNf7mqf3p1FV_q7Yx--YyCUq4d8UMBvNI1w/edit)
- [Calibration (solution 1)](https://docs.google

[2022-11-21 16:30] Misty-W commented on #1583
[Learning-based PEC RFC](https://docs.google.com/document/d/1VItesy6R5SlUa_YXW1km7IjFZ8kzyFeHUepHak1fEh4/edit)

[2022-11-22 18:55] natestemen commented on #1601
I believe CI failed due to the fact that a test failed (see [here](https://github.com/unitaryfund/mitiq/actions/runs/3512731403/jobs/5884750195#step:5:3702)), not because of the `PendingDeprecationWarning`. The test that's failing is being tracked in https://github.com/unitaryfund/mitiq/issues/1509.

As you can see in this build (https://github.com/unitaryfund/mitiq/actions/runs/3512731403/jobs/58

[2022-11-22 18:55] #1601 closed

[2022-11-22 19:11] amirebrahimi commented on #1448
@Misty-W - could you please assign this super ticket and sub-issues to me?

[2022-11-22 19:16] Misty-W commented on #1448
Done!

[2022-11-22 19:20] natestemen opened #1604 "Minimal calibration prototype"
A basic, minimal implementation of the [calibration RFC](https://docs.google.com/document/d/1EZUJyEEUQUH33UOgSIzCCvXyxP0WLOQn11W0x4Ox4nY/edit).

A first-order implementation will be to accept simple ZNE parameters (e.g. scale factors), run the required circuits, and return the parameters which performed best.

Later iterations will improve the intelligence of the parameter selection process, but t

[2022-11-22 19:21] #1447 closed

[2022-11-22 19:23] amirebrahimi commented on #1562
Would you please assign this to me as well, @Misty-W? Thanks!

[2022-11-22 19:59] natestemen commented on #1509
All of the errors linked above have the same pattern, and it's due to `pytest-xdist` workers going down while running the test.
[code]

This seems to be a known issue in [`pytest-xdist`](https://github.com/pytest-dev/pytest-xdist) which we use to speed up test runtime by distributing tests across multiple CPUs. The two issues I've found that are related to this are

1. https://github.com/pytest-de

[2022-11-22 20:05] Misty-W commented on #1509
I agree to keep this open for now and monitor once or twice per milestone cycle. I'll go ahead and remove it from Milestone 0.21 because it's unlikely to be solved by the time it closes. If/when we see a solution that needs action from our side, we can add it to whichever milestone that ends up being.

[2022-11-23 06:14] natestemen commented on #1560
Thanks Peter for letting us know! I've opened a [PR](https://github.com/aws/amazon-braket-sdk-python/pull/479) on `braket` to loosen the oqpy dependency requirement so we don't have to do this tango so often. Hopefully we can work something out. Once that (or something similar) is merged, we can move forward on this.

[2022-11-23 09:57] nathanshammah opened #1608 "Add tutorial on dynamical decoupling"
## Issue Description

Mitiq's documentation contains a well developed User Guide section on digital dynamical decoupling, but no notebook-like tutorial applying it to a specific case. Tutorials like this are an easy way for folks

## Proposed Solution

It would be nice to add this to the Examples section of the documentation
- Add a notebook as .myst notebook under [Examples](https://mitiq.readthe

[2022-11-23 10:50] andreamari commented on #1509
Thanks @natestemen! I agree with you and @Misty-W: no action is probably the best strategy right now.

[2022-11-23 13:57] #1562 closed

[2022-11-23 15:04] #504 closed

[2022-11-23 15:25] Misty-W commented on #1602
hi @vprusso, I added this to milestone 0.21, which closes a week from today, Nov 30. Let me know if there's anything I can do to help get this closed by then 🙂

[2022-11-23 15:27] Misty-W commented on #1582
Link to Overleaf (thanks Nick!): https://www.overleaf.com/7945521889pgjpnsvkjzyd

[2022-11-23 15:30] Misty-W commented on #1578
hi @andreamari, can this issue be closed by Nov 30 (end of milestone 0.21)?

[2022-11-23 16:24] vprusso commented on #1602
Sounds good! I will put up a draft. Any input/tweaks/etc to that draft would be much appreciated once I put up a PR. Thanks, @Misty-W !

[2022-11-23 18:04] karalekas commented on #1560
I doubt they'll elect to fully unpin OQpy as it's such a critical dependency for the Braket SDK. There shouldn't need to be much of a tango after this though? Supporting a new Python version only happens once a year

[2022-11-23 19:03] natestemen commented on #1560
Yeah, that makes sense. I'll see what they recommend. Maybe there's an acceptable range. If not, it's not a problem, but 2 weeks ago I bumped the oqpy version in braket ([PR](https://github.com/aws/amazon-braket-sdk-python/pull/469)) after the numpy and openpulse versions were loosed (in oqpy) as that was blocking us from upgrading to the latest version of braket.

This is the "tango" of dependenc

[2022-11-24 00:53] #1470 closed

[2022-11-24 01:00] #1541 closed

[2022-11-28 15:37] Misty-W commented on #1578
Thanks @andreamari!

@natestemen, if there are no blockers from your side I'll mark the RFC as "Accepted" and close the issue.

[2022-11-28 16:45] purva-thakre commented on #1526
The version in RTD that shows up is still an older one. I searched for mitiq and if I go to the docs link, I don't directly go to the latest or stable version.
![image](https://user-images.githubusercontent.com/66048318/204333159-a64bd579-1236-46bc-8aeb-5fbe801623f0.png)

[2022-11-28 16:54] natestemen commented on #1526
Yeah, it can take quite a long time for search engines to refresh their cache. There are ways to ask them to do a refresh, but you first have to prove you own the webpage which can be kind of a pain. IMO it's not worth our time as it stands, unless someone is interested.

[2022-11-28 16:59] natestemen commented on #1473
I believe this is done now. If it's not, please provide a description of what else is to be completed and reopen!

[2022-11-28 16:59] #1473 closed

[2022-11-29 16:39] nathanshammah commented on #1604
Great to see this listed. Even a skeleton PR would be good to look at before we discuss on Wednesday to make best use of the group meeting time.

[2022-11-30 18:44] Misty-W commented on #1604
@natestemen can we close this issue as scoped for milestone 0.21.0?

[2022-11-30 19:05] natestemen commented on #1604
Sounds good. I'll plan to create some new issues for the calibration work by Friday so we can scope 0.22.