[2021-02-28 22:23] #478 closed

[2021-03-01 04:36] #424 closed

[2021-03-01 17:39] #498 closed

[2021-03-01 18:04] #391 closed

[2021-03-01 18:04] #492 closed

[2021-03-01 18:04] #493 closed

[2021-03-01 18:04] #531 closed

[2021-03-02 03:16] crazy4pi314 opened #570 "Have Repo Tweet about releases and community contributions"
It would be super cool to have an action like https://github.com/marketplace/actions/twitter-together hooked up to tweet when we publish releases as well as merge PRs into master for stuff :)

[2021-03-02 03:28] crazy4pi314 opened #571 "Automatically generate changelogs for release"
When it is time to make a release, there are always a fair few PRs that are not added to the changelog, so it would be nice to automate this with a GH action like https://github.com/marketplace/actions/release-drafter. There are some drawbacks in what it could impose in PR naming rules to make filters work but it is pretty configurable and can automatically also list contributors for a release whi

[2021-03-02 11:29] andreamari opened #573 "Readthedocs fails to reproduce output cells of some myst notebooks"
Read The Docs fails to execute some notebooks and just reproduces input cells without the output cells.
Se e.g. https://mitiq.readthedocs.io/en/stable/examples/simple_landscape.html or https://mitiq.readthedocs.io/en/stable/examples/maxcut-demo.html.

It works locally, in my usual environment where `mitiq` is installed. It fails if I create a new conda environment.

The problem currently happens f

[2021-03-02 17:59] Aaron-Robertson commented on #269
I'd love to get involved and this seems like as good a place as any to start! Am I wrong in thinking this case is handled by shots=1 from the sampled executor? Then with a density matrix snapshot serving as more appropriate return?

I'm happy to submit the PR, unless there's a better suggestion for return. Thanks!
Sources: [[1](https://qiskit.org/documentation/stubs/qiskit.providers.aer.extensions

[2021-03-02 18:14] rmlarose commented on #269
The density matrix snapshot indeed seems like the way to do this in Qiskit - I've never seen this before, thanks. I can't tell from the docs exactly what this is, but it's at least close. The goal of this issue has having the Qiskit analogue of [this Cirq execute function](https://mitiq.readthedocs.io/en/stable/guide/guide-executors.html#cirq-density-matrix-simulation-with-depolarizing-noise).

Pl

[2021-03-03 03:01] Aaron-Robertson commented on #269
Great, it did take some digging to find so I'm glad! The structure of the Qiskit snapshot seems likely to change, though.

PR submitted, and tagged for next release in the changelog (if I understood the release cycle correctly).

[2021-03-03 11:00] nathanshammah opened #575 "Create code design document for symmetry-based methods"
Pre-Request Checklist
---------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this feature has not already been requested

Issue Description
-----------------

Mitiq currently does not support symmetry-based techniques for quantum error mitigation.

Proposed Solution
-----------------

A design document could be added, possibly using a MEP #563, to b

[2021-03-03 18:59] rmlarose opened #577 "Greeting action failing"
From #574, copying here so we don't forget. https://github.com/unitaryfund/mitiq/runs/2018759271

cc @crazy4pi314

[code]

[2021-03-03 19:20] nathanshammah commented on #573
Just for clarity: I am removing this item from the v.0.7.0 milestone as in theory out of scope. If it gets approved in the meantime, we can add it again.

[2021-03-03 19:23] nathanshammah commented on #577
Since we decided not to focus on CI issues in this milestone, but it is quite critical to have CI not failing, my proposal is to remove the `greeting.yml` document right now from the code base, and address how to solve this in a future milestone in a more complex way. If there are no objections @crazy4pi314 @rmlarose @andreamari, I'll proceed.

[2021-03-03 19:33] rmlarose commented on #577
Could be a very quick fix, I would wait for @crazy4pi314 before removing.

Note: If further commits are pushed to the PR, the greeting message doesn't trigger and thus passes.

[2021-03-03 22:01] crazy4pi314 commented on #577
Yeah it would only fail the very first time a user ever makes a PR and no other time. I will look into this on stream today and let you know if we should yank it.

[2021-03-03 23:27] StreakSharn commented on #570
I'd love to try this as a first issue! Could I take it?

[2021-03-03 23:55] crazy4pi314 opened #578 "PyPI Release action trigger did not work"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

When doing the 0.6.0 release, the publish to PyPI didn't fire.

[2021-03-04 18:01] #269 closed

[2021-03-04 18:14] rmlarose commented on #275
Resurfacing.

## Proposal:

How about making it clearer in the docstrings / docs that folding may not work well with small circuits? (and not raising a warning)

## Reasoning:

* Folding works with any circuit and is independent of experimental results. A better place to put a warning would be in `execute_with_zne` in my opinion.
* We use folding on small circuits for examples a lot, and this woul

[2021-03-04 18:22] rmlarose commented on #419
This is superseded by #559.

[2021-03-04 18:22] #419 closed

[2021-03-04 18:23] rmlarose commented on #480
Any new thoughts around this @nathanshammah?

[2021-03-04 18:35] rmlarose commented on #527
Yes. I think I was confused by a bug (see below) and thought this wasn't possible. We may still want to implement the interface I proposed to make it clearer how to do this. Folding by fidelity is apparently well-hidden as everyone is surprised to learn it exists.

## Bug?

Pretty sure this is buggy, @andreamari do you agree? The folded circuit has two more CNOTs on the first two qubits than I exp

[2021-03-04 19:31] rmlarose commented on #473
Requesting clarification: Do you want a function which inputs the folded + original circuit and highlights gates?

[code]

The Cirq function you linked shows █ where the diffs are, which probably wouldn't be helpful. To actually show highlights would require something else I think.

[2021-03-04 19:40] crazy4pi314 commented on #570
Yeah! That would be great @StreakSharn 💖 We can talk about this if you want tomorrow at the Mitiq community call on [our discord](https://discord.unitary.fund) :)

[2021-03-04 19:49] StreakSharn commented on #570
Sure! I don't have a working mic, sadly, but I'll make sure to be there. What time will it be?

[2021-03-04 20:23] crazy4pi314 commented on #570
Its 9am PST on #community-call voice channel 👍

[2021-03-04 22:58] #571 closed

[2021-03-05 10:11] nathanshammah opened #581 "Suppress TestPyPI action from forks"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

The TestPyPI-nightly action tries to update Mitiq also from forks, such as mine, `nathanshammah/mitiq`.

How to Reproduce
----------------

See https://github.com/nathanshammah/mitiq/actions

Propose

[2021-03-05 15:35] #490 closed

[2021-03-06 00:22] StreakSharn commented on #570
Does Mitiq have a twitter account?

[2021-03-06 00:24] crazy4pi314 commented on #570
Not separate from the Unitary Fund's acct. (@unitaryfund).

[2021-03-06 16:29] yhindy opened #582 "[Parameter Calibration] Make PC work for more than 1 qubit"
Issue Description
-----------------

Right now, parameter calibration only works for 1 qubit. It should not take much work to support multiple.

Additional References
---------------------

PR #411

[2021-03-08 08:55] andreamari commented on #527
@rmlarose, this looks a bit strange because the asymmetry between qubits 0-1 and 2-3,  but I don't think it is a bug.

The initial number of gates is 2. If the scale factor is 6, we expect the output to have 2 * 6 = 12 gates. The output has indeed 12 gates.

Even if one thinks in terms circuit depth (moments) this is more or less consistent.
The input circuit has depth 1. If the scale factor is 6,

[2021-03-08 09:08] nathanshammah commented on #513
Since [Milestone 11](https://github.com/unitaryfund/mitiq/milestone/11) is dedicated to reviewing code contributions from the community in general, I'll add this issue to the Milestone. Probably finding some time in our calendars to speak could help too?

[2021-03-10 04:52] purva-thakre opened #586 "Possible misplaced code cells in documentation"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
Couple of code cells in documentation appear at the end instead of at the beginning. For the [variational circuit example](https://mitiq.readthedocs.io/en/stable/examples/simple_landscape.html#acknowl

[2021-03-10 05:02] rmlarose commented on #586
It was intentional to show the version information of Mitiq, with the unstated convention that it appears at the end of tutorials. I think it looks weird as well, though, and it seems redundant since RTD tells you latest or stable. If @nathanshammah or @crazy4pi314 don't disagree I would say feel free to remove it @purva-thakre.

[2021-03-10 05:37] rmlarose commented on #552
It seems like a good idea to me because (i) these docs will soon be for explaining serial/batched & raw/not raw executors and (ii) it's more useful to people to have them in the codebase so they can be used, rather than copying and pasting from the docs.

I would propose they go into a new `mitiq_cirq.utils` instead of `utils.py` so that (i) there is parallelism between `mitiq_qiskit.utils` and `m

[2021-03-10 10:30] andreamari commented on #552
I think having a `mitiq_cirq` folder similar to  `mitiq_qiskit` and `mitiq_pyquil` is a good idea.
We could put there some Cirq executors but also any other functions which are supposed to be used only by Cirq users.

[2021-03-10 12:36] willzeng commented on #552
Agreed!

[2021-03-10 16:15] #526 closed

[2021-03-11 12:06] nathanshammah opened #588 "Add link to github from RTD"
It could be nice if from https://mitiq.readthedocs.io/ there was a more apparent link to the github repository. Currently one can reach it only from the readme page, by clicking on one of the badges at https://mitiq.readthedocs.io/en/stable/readme.html.
I don't know if it is easy in this sphinx format, but something like "Fork us on Github" on the top right.

[2021-03-12 17:46] rmlarose commented on #527
Discussed at Mitiq meeting. Ok to add, verify that fitting is fine with `num_folds = 1, 2, 3` which is equivalent to `scale_factors = 1, 3, 5` (i.e. re-scaling the x-axis).

[2021-03-12 17:48] rmlarose opened #589 "Move all benchmark circuits to mitiq.benchmarks"
Discussed at Mitiq meeting. All benchmark circuits should be defined in `mitiq.benchmarks` and have the option to output as a specific supported type (i.e., `QPROGRAM`). This is preferable to (re)defining them in `mitiq_qiskit`, `mitiq_pyquil`, etc.

[2021-03-14 00:27] Aaron-Robertson opened #591 "Create Cirq specific folder and utils"
Pre-Request Checklist
---------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this feature has not already been requested

Issue Description
-----------------

There are Qiskit and Pyquil folders for platform specific functions and executors, but no folder for Cirq.

Proposed Solution
-----------------

Create `mitiq_cirq/` folder similar to `mitiq_q

[2021-03-14 00:28] Aaron-Robertson commented on #552
@rmlarose I created #591 for the `mitiq_cirq/` changes so this issue can stay focused on updating docs for different executor types.

And @purva-thakre is that something you wanted to pick up? Otherwise I'm happy to take it on.

[2021-03-14 20:57] purva-thakre commented on #552
@Aaron-Robertson I started to work on it....

[2021-03-14 21:12] purva-thakre opened #592 "Issues with actions in fork"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

Is there a way to disable `Nightly Upload to Test PyPI` in a fork and not have future pull requests affected ? I have `Actions` enabled in my fork and every night I get an error `Nightly Upload to Te

[2021-03-14 21:14] purva-thakre commented on #592
Closing this for now because there's already an issue for this - #581

[2021-03-14 21:14] #592 closed

[2021-03-15 14:02] Aaron-Robertson commented on #589
@rmlarose Is this issue a clarification of #320? I think so, and either way I'm happy to take it on next unless you started on it.

[2021-03-15 14:38] nathanshammah opened #593 "Emphasize instructions on black formatting"
Could emphasize the instructions on code formatting with `black` in the documentation:
- put code in a code block
- subsection making the existing text more evident
- include a link in PR template not just to Black RTD docs, but to MItiq's docs, to show the way black is configured in the makefile

[2021-03-15 17:31] #256 closed

[2021-03-15 17:35] nathanshammah commented on #513
As discussed in Friday 12th Mitiq development meeting, this issue is big enough to require potentially a separate milestone and code design document (e.g., MEP).

[2021-03-15 21:05] Aaron-Robertson opened #594 "Change of basis Qiskit executor is slow"
Pre-Report Checklist
--------------------

- [ ] I am running the latest version of mitiq
- [ ] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
Resolve todos in `test_zne_mitiq_qiskit.py`, with focus on executor bug found in the `qiskit_executor()` below.

How to Reproduce
----------------
Uncomment this executor in `test_zne_mitiq_qiskit.py`

[2021-03-15 21:13] Aaron-Robertson opened #595 "Mitiq about() shows the version for qiskit-terra instead of qiskit"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

Mitiq's `about()` function yields the incorrect version of Qiskit.

How to Reproduce
----------------

Using `from mitiq import about` and `about()` the listed Qiskit version is incorrect.

Recommend

[2021-03-15 21:14] Aaron-Robertson commented on #594
Note: see #595 for Qiskit version mismatch (is actually `'qiskit': '0.23.6'`)

[2021-03-15 23:59] purva-thakre commented on #595
This seems to be an issue with how Qiskit checks for versions. For more, see [here](https://qiskit.org/documentation/install.html#checking-which-version-is-installed).

[2021-03-16 00:45] rmlarose commented on #595
I agree it would be good to display `qiskit.__qiskit_version__["qiskit"]` instead of the current https://github.com/unitaryfund/mitiq/blob/master/mitiq/_about.py#L44.

[2021-03-16 00:49] Aaron-Robertson commented on #595
I thought it would make a good first issue, but probably too confusing if it stays open for much time?

[2021-03-16 02:26] purva-thakre commented on #588
@nathanshammah There are two possible different styles for this - [1](https://github.blog/2008-12-19-github-ribbons/), [2](https://tholman.com/github-corners/). Should I just pick one ?

[2021-03-16 03:26] purva-thakre commented on #581
I don't know if this will help or not but it is possible to disable this workflow manually in your fork. If you go to Actions and then click on a specific workflow, on top right there's an option to `Disable the workflow`.

[2021-03-16 10:10] andreamari commented on #594
Thanks @Aaron-Robertson!
This is an important issue but I just removed the label _bug_, since I think this is more a matter of efficiency.

[2021-03-16 14:28] Aaron-Robertson commented on #594
Good point @andreamari, thanks! I clarified the issue accordingly. I tho

Side note: I actually can't edit Mitiq labels—apparently GH only allows label edits with write access. They are attached to issue templates though. In this case I suppose I could have used the feature request template to mark it an enhancement, but that one didn't look quite right based on the text.

[2021-03-16 14:58] andreamari commented on #594
@Aaron-Robertson, there is also a (less visible) option of a blank template. But what you have chosen is totally fine for this issue.

[2021-03-16 16:36] Aaron-Robertson commented on #307
@nathanshammah Is this issue still under discussion? I'm still reading through some of the [QuTiP QIP docs](http://qutip.org/docs/latest/guide/guide-qip.html) but it looks like I could follow the `mitiq_qiskit/` example and start on a `mitiq_qutip/` folder, testing, and docs here.

[2021-03-16 21:56] purva-thakre commented on #519
This could be useful for Pauli twirling as well since it depends on being able to change the basis of error operators to Paul basis. I am working on a MEP document for twirling (#513). There's a proposed function which will check if the error representation is known or not, if it is known then the twirling process can proceed or end the process with an error message.

Perhaps I could define this f

[2021-03-17 02:28] #595 closed

[2021-03-17 16:34] #573 closed

[2021-03-17 16:49] nathanshammah commented on #307
Hi @Aaron-Robertson, thanks it is. I do have some code already on a private repository. I think this may require some discussion first.

[2021-03-18 00:27] purva-thakre commented on #586
Closing this because version information code cells only look out of place when their output is not shown. See comment in above PR.

[2021-03-18 00:27] #586 closed

[2021-03-19 11:48] andreamari opened #607 "Replace the custom depolarizing channel in tests with the cirq.DepolarizingChannel"
In some PEC tests we had to define a custom depolarizing channel:

https://github.com/unitaryfund/mitiq/blob/69c588b084d09fd9f2696dc86c64da6b96ef5d8b/mitiq/pec/representations/tests/test_depolarizing.py#L44

since at that time `cirq.DepolarizingChannel` was not compatible with 2-qubit gates.

The Cirq issue has been fixed and so we could replace the custom channel with `cirq.DepolarizingChannel`.

[2021-03-19 19:37] purva-thakre commented on #396
@rmlarose I think you could re-open this issue. There's no checks being run for Python 3.6 in Github workflows. So, maybe the pip dependency resolver will not get stuck.

[2021-03-22 17:37] rmlarose commented on #396
Great, thanks @purva-thakre! Setting up requirements takes about 2 minutes in CI now, so if we save time on this that would be great.

[2021-03-22 22:11] nathanshammah commented on #575
Since the code design document in the form of a MEP has been created in #599, I am closing this issue.

[2021-03-22 22:11] #575 closed

[2021-03-22 22:12] nathanshammah commented on #513
@purva-thakre are you going to add back the MEP on twirling?

[2021-03-23 17:34] purva-thakre commented on #513
@nathanshammah Yes, right after I figure out a way to undo the changes that do not belong to this PR.

[2021-03-25 13:08] nathanshammah opened #608 "No link for MEPs in documentation"
There is no link / broken link to the MEP template at
https://mitiq.readthedocs.io/en/latest/contributing.html#proposing-a-new-feature-to-mitiq

[2021-03-25 14:19] itsabhianant commented on #608
Hi,
By the broken link are you referring to the discord link?

[2021-03-25 15:25] nathanshammah commented on #513
Since the PR is contained in just one file (the `.md` MEP one), maybe the easiest thing is to do a [`git rebase`](https://stackoverflow.com/questions/7929369/how-to-rebase-local-branch-onto-remote-master) and then create a new branch with the file for a new PR.

[2021-03-25 16:07] nathanshammah commented on #608
No, it refers to the fact that `docs/mep/0000-feature-proposal-TEMPLATE.md.` in the page of the link above does not take one to the linked file.

[2021-03-25 19:22] #320 closed

[2021-03-25 19:23] rmlarose commented on #320
Closed in favor of #589

[2021-03-25 19:24] rmlarose commented on #589
Yeah I closed that in favor of this one. I haven't started so feel free! Thanks!

[2021-03-26 11:36] #608 closed

[2021-03-29 18:35] francespoblete commented on #394
![mitiq](https://user-images.githubusercontent.com/65167390/112882886-d61f4100-90cd-11eb-803a-d20b64ff8062.png)

Based on the color of the Unitary Fund's current logo and the idea that Mitiq works with noise mitigation, these are logo proposals I made for Mitiq. If you have any comments, suggestions, or any concept you'd like for the logo, feel free to write it out here, or pm me.

![mitiqborder](

[2021-03-30 11:34] nathanshammah commented on #394
Thanks @francespoblete. I personally Like the idea but think that the current proposals are a bit too hard to read.

[2021-03-30 11:41] francespoblete commented on #394
@nathanshammah Thanks for the comment! I could revise it to make it more readable and submit the revision afterwards. :)

[2021-03-31 14:20] purva-thakre opened #613 "Running 2 tests from Makefile leads to pytest error locally"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
Running `make test` and `make test-all` locally on my computer leads to pytest not recognizing argument `-n`. Both have this argument in [their code (https://github.com/unitaryfund/mitiq/blob/3b3d8865

[2021-03-31 15:20] #613 closed

[2021-03-31 23:02] purva-thakre commented on #607
@andreamari This seemed like a very quick fix - replace the channel and make sure pytest runs `test_local_depolarizing_representation_with_choi` successfully. Let me know if I forgot to change something else because I found only 1 test using this custom channel.

[2021-04-01 15:32] purva-thakre commented on #593
@nathanshammah Is [this](https://github.com/unitaryfund/mitiq/blob/master/CONTRIBUTING.md#style-guidelines) the section that needs to be updated in docs ?

[2021-04-01 15:58] purva-thakre commented on #565
@crazy4pi314 Just to check - the release notes are a list of all of the PR's that went into releasing the latest version like shown [here](https://github.com/release-drafter/release-drafter/blob/master/design/screenshot-2.png) ?

[2021-04-01 19:32] francespoblete commented on #394
Hey, sorry it's been a while. I understand that the noise was too much so I minimised it. Please see below revisions.

![revision 1](https://user-images.githubusercontent.com/65167390/113344579-8a6cd180-9331-11eb-95a4-fa7002faca8c.png)

![revison 2](https://user-images.githubusercontent.com/65167390/113344582-8b056800-9331-11eb-8b6c-ad2428b89ee4.png)

Aside from that, I also have new logo proposal

[2021-04-02 08:24] crazy4pi314 commented on #565
Yeah, you can see the running doc we have in the repo here: https://github.com/unitaryfund/mitiq/blob/master/CHANGELOG.md Ideally the action can just grab the text from this file/and or help generate it.

[2021-04-02 08:38] andre-a-alves commented on #588
What about just adding a link to the GitHub repo in the header links, as depicted below?

![mitiq_rtd_github_link](https://user-images.githubusercontent.com/20098360/113398498-fe918e80-939e-11eb-877f-4dba6274b5f0.png)

It keeps the link obvious but subtle at the same time, and it's super easy to do. If you're happy with that solution, I can create a pull request.

[2021-04-02 09:10] nathanshammah commented on #588
Thank you both, @purva-thakre and @andre-a-alves, and sorry for the slow reply, @purva-thakre. Personally I like option 2 by Purva, or Andre's proposal, and then a bit less option 1. Otherwise, one could just add a github logo or the word "Github" in the footer at the bottom of the page. Maybe this is something we could discuss at the Mitiq meeting (6pm CET, Fridays), if you can join, to get other

[2021-04-02 09:40] #418 closed

[2021-04-02 09:43] nathanshammah commented on #513
Closing this issue at the moment as the topic is included in the MEP in #611, we can discuss/contribute there. Feel free to reopen if needed.

[2021-04-02 10:52] nathanshammah commented on #594
It seems to work fine locally for me actually. I am testing the branch of #584. I uncommented the function `qiskit_executor` and  run the tests, and they work fast for me. A suggestion for #584 would have been to switch from a commented TODO to a `pytest.skip`decoration.

[code]

[2021-04-02 12:14] #607 closed

[2021-04-02 16:14] rmlarose commented on #577
This was fixed in #617.

[2021-04-02 16:14] #577 closed

[2021-04-02 16:15] rmlarose commented on #577
See https://github.com/unitaryfund/mitiq/pull/618#pullrequestreview-626771612 for an example of the greeting action working.

[2021-04-02 17:02] purva-thakre commented on #588
Sorry, I joined the meeting very late. I have added this to next meeting's agenda and we could discuss this then.

[2021-04-02 17:32] #379 closed

[2021-04-02 17:45] nathanshammah opened #620 "Bayes factory fails on Windows build due to pymc3 install / dependencies"
Full message:
[code]

[2021-04-02 17:46] purva-thakre commented on #565
Yes, I was confused as to why this was created as an issue considering there's a changelog. The discussion at the community meeting clarified this. Thanks !

[2021-04-02 18:35] Aaron-Robertson commented on #594
@nathanshammah @rmlarose Aha! Nathan is correct above and on the community call this morning. I had tested again, but an update to latest `qiskit` version is the solution. Submitted a PR, not sure if it can be absorbed into milestone 0.7.0, but it's a minor change.

[2021-04-05 00:10] rmlarose commented on #594
So, this is fixed by having `qiskit_version>=0.24`? Or does anything else need to be done?

[2021-04-05 00:49] rmlarose opened #623 "Add `Observable`s and conceptually generalize executors"
Implementation plan for [this design document](https://docs.google.com/document/d/1NKOrOAiQVetbsuZXRAw8hbpIFBoY5Go4EuBYBpP2G30/edit?usp=sharing).

## Steps

- [ ] Add a `PauliString` class satisfying the key features in the design doc.
- [ ] Add an `Observable` class which represents a linear combination of `PauliString`s.
- [ ] Change signature of `execute_with_[zne|pec]` to (optionally) input an

[2021-04-05 03:38] Aaron-Robertson commented on #594
That wasn't it actually. "Fix" was the test changes with fewer shots. This issue of a slower execute with a change of basis, vs without, is still present and visible for high shot counts. It doesn't impact our tests anymore though, so could close the issue if that's the priority.

[2021-04-05 04:47] rmlarose commented on #623
#552 is part of this for documenting the new executors.

[2021-04-05 04:48] rmlarose commented on #472
Closing this as option 4 (Bayesian fit) was implemented in #471.

[2021-04-05 04:48] #472 closed

[2021-04-05 04:50] rmlarose commented on #480
Closing because I think this is stale / out of scope. @nathanshammah please reopen if this is not the case.

[2021-04-05 04:50] #480 closed

[2021-04-05 05:00] rmlarose commented on #517
Superseded by #623.

[2021-04-05 05:00] #517 closed

[2021-04-05 05:29] rmlarose opened #624 "Make it so `fold_left` and `fold_right` match on odd scale factors"
We want to change `fold_gates_from_left` and `fold_gates_from_right` so that they match on odd scale factors. Namely, we want it so that

[code]

for all integers `k`. This is to match how they are defined in https://arxiv.org/abs/2005.10921.

## Current behavior

Currently the circuit is folded up to a scale factor of 3, then this circuit is folded again treating all gates as though they were in

[2021-04-05 05:34] rmlarose commented on #337
Duplicate of #501.

[2021-04-05 05:34] #337 closed

[2021-04-05 13:03] DSamuel1 commented on #529
I've been looking for a project to work on this Summer and @rmlarose recommended I check out this issue. Would I be able to take on this task and work on it this Summer? I would probably be able to start on it in June.

[2021-04-05 15:18] purva-thakre commented on #624
@rmlarose Why was this distinction made originally ? [In the code](https://github.com/unitaryfund/mitiq/blob/1467a8a4b2ad13605f61f56367b279608986e239/mitiq/zne/scaling/folding.py#L363) for `fold_gates_from_left`, a scale factor of greater than 3, calls a different function `fold_local`.

[2021-04-05 15:50] rmlarose commented on #529
Thanks @DSamuel1! Assigned to you.

[2021-04-05 19:53] Aaron-Robertson commented on #394
@francespoblete That schrodinger's cat is amazing 😻 !

[2021-04-05 22:15] purva-thakre commented on #565
@crazy4pi314 Do you want the [categories](https://github.com/release-drafter/release-drafter#categorize-pull-requests) for this to be separated by quantum and non-quantum changes ? Looking at the list of [issue labels](https://github.com/unitaryfund/mitiq/labels), I am thinking both could have sub-categories - bug fix, documentation change/addition, enhancement or feature.

[2021-04-06 09:22] andreamari commented on #624
@purva-thakre this is more or less how local folding functions are defined now in Mitiq (sketch):

[code]

This recursive workflow has the advantage that one doesn't need to pre-compute in advance what gates needs to be folded. One simply starts folding the gates of the circuit until the stop condition is achieved. However this has some side-effects due to the recursive nature of the loops: in the

[2021-04-06 09:31] andreamari commented on #624
I think also `fold_gates_at_random` should be fixed as well to match the theoretical definition in https://arxiv.org/abs/2005.10921.
I tested that for large odd scale_factors, sometimes the folding is non-uniform.

[2021-04-06 19:33] nathanshammah opened #628 "Make instructions for version release even more clear"
- Make Bump version in VERSION.txt instructions more precise. At https://mitiq.readthedocs.io/en/stable/release.html#bump-version-in-version-txt generally one is not bumping the version, but going from dev to stable. E.g., 0.7.0dev to 0.7.0.
- Specify commands for adding the tag so that one can copy paste them.
- Check if there is something to add about not squashing the commits to merge, see comm

[2021-04-07 03:47] crazy4pi314 commented on #565
I don't see a strong need to have the labels separate categories for the listings, I think we would need to have more rigorous labeling conventions as you suggest 😋 I'll raise this in the community call on friday, but let's treat label specific sections as a later upgrade 👍

[2021-04-07 17:31] nathanshammah commented on #628
I did the last bit of the release (local dist build and PyPI upload) manually. I think it is still useful to keep some information about this in the docs, for the manual part, in case the action fails, so I propose to

- re-add this information about pypi upload  for the sake of it,
- and also add more information about the github actions

I will open separate issues regarding investigating why th

[2021-04-07 17:33] nathanshammah opened #631 "Investigate why the release action did not trigger"
Issue Description
-----------------

Investigate why the release action did not trigger on the latest release, 0.7.0.

Additional info
----------------

See  https://github.com/unitaryfund/mitiq/actions/workflows/publish-pypi.yml.

[2021-04-08 04:52] andre-a-alves commented on #270
I'd like to take this one on as my first real issue if no one has done it, yet. It will probably take me a couple of weeks, but I think given this issue's age that is probably acceptable.

[2021-04-08 05:43] rmlarose commented on #270
You got it @andre-a-alves, thanks!

[2021-04-08 17:06] rmlarose commented on #620
Master is no longer failing because this was reverted (#625) - updated name to reflect this. The issue is now to update #471 so this error doesn't happen on Windows and can be merged back into master.

[2021-04-09 13:33] nathanshammah commented on #628
- Add subsection about writing (from scratch) the changelog.

[2021-04-09 16:14] grmlarose commented on #588
Decided at Mitiq meeting to do badge on README and do this: https://tholman.com/github-corners/

[2021-04-09 16:18] grmlarose commented on #594
This will be closed by #623 with new observables.

[2021-04-09 16:19] crazy4pi314 commented on #588
As a future enhancement, you can check out the way JupyterBook does it here: https://jupyterbook.org/interactive/launchbuttons.html?highlight=github
![image](https://user-images.githubusercontent.com/6486256/114210426-a0bbf400-9914-11eb-80df-53deafcb0b7a.png)

[2021-04-09 16:20] crazy4pi314 commented on #394
This is something the above inspired for me:
![MOSHED-2021-4-7-9-0-44](https://user-images.githubusercontent.com/6486256/114210636-c21ce000-9914-11eb-8046-764ee95780fe.gif)

[2021-04-09 16:26] grmlarose commented on #394
Decided at Mitiq meeting to add some noise to the Schrodinger cat logo and follow up. Thanks for the multiple designs!!

Perhaps a poll to decide the final logo? (on discord.unitary.fund)

[2021-04-09 16:40] grmlarose commented on #565
Decided at Mitiq meeting to go with https://github.com/release-drafter/release-drafter and this will be triggered on PRs to the release branch.

[2021-04-09 16:50] Aaron-Robertson commented on #561
@rmlarose I can take on this one next!

[2021-04-09 17:16] purva-thakre commented on #588
@andre-a-alves If you would like to work on both (README + ribbon), I am fine with it since I have enough issues to work on.

[2021-04-09 19:31] francespoblete commented on #394
Hi all! As per the discussion during the meeting, I have revised the Schrodinger's cat logo to have some noise. I made emphasis to the noise by adding shadows to it, which also resulted to emphasis to the regular ones ("noise reduced concept").

![revision 5](https://user-images.githubusercontent.com/65167390/114231609-f1fece80-997a-11eb-8dc7-59ec9c49099a.png)

![revision 6](https://user-images.gi

[2021-04-09 21:39] elmandouh commented on #394
Seems like there is interest in this again. I am personally a big fan of consistent style/branding. So following up on my earlier suggestions, my final design is a box logo with the same font as UF's with a different coloured background (I include a few colours) and noise. There are 2 versions of the noise. First, is where noise decreases from left to right and the second where noise is "constant"

[2021-04-10 03:36] elmandouh commented on #620
I believe this should be fixed by requiring the most recent version of cython.

[2021-04-10 06:23] andre-a-alves commented on #588
@purva-thakre Sounds good. Thank you. I'll get to it this week :-)

[2021-04-10 19:42] #396 closed

[2021-04-11 18:07] #589 closed

[2021-04-12 19:25] willzeng commented on #394
Thanks everyone! These are great!

I'm partial to the consistent branding of our font. The second proposal in the above stands out to me (with the black text and white background)

![image](https://user-images.githubusercontent.com/5214594/114449818-3a003a00-9ba3-11eb-9bf9-31b0095a802e.png)

[2021-04-14 15:16] andreamari opened #638 "Make mitigate_executor and decorators more uniform between ZNE and PEC"
Issue Description
-----------------
For zero noise extrapolation there are 3 alternatives ways to use Mitiq: `execute_with_zne`, `mitigate_executor` and `zne_decorator`.

For probabilistic error cancellation, we only have `execute_with_pec`.

It would be good to have a more uniform interface. This is also relevant for the arXiv resubmission.

Proposed Solution
-----------------
I would propose two

[2021-04-14 22:18] crazy4pi314 commented on #578
closed as duplicate

[2021-04-14 22:18] #578 closed

[2021-04-14 22:56] crazy4pi314 commented on #631
I can post mortem this:

Basically the syntax for the files as currently on master was invalid as you can see here: https://github.com/unitaryfund/mitiq/actions/runs/619303706/workflow#L11

Once we merge #597 I think this should be resolved, so I would move to close this once that is done. 👍

[2021-04-15 18:28] ckissane commented on #591
That seems to be a good thing to do to make things less confusing!

[2021-04-16 08:28] #588 closed

[2021-04-16 08:32] #581 closed

[2021-04-16 08:32] #631 closed

[2021-04-16 08:49] nathanshammah opened #639 "Understand unwanted inclusion of docstring of imported function"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
The pull request on the first part of the Clifford Data Regression methods, #601 has had a test of the docs failing apparently due to a docstring in which the actual code run of the example does not m

[2021-04-18 23:42] rmlarose opened #645 "Decide how to submit to codecov from master"
Coverage is fixed on new PRs forked from master after #643. The problem was that reports were not being submitted to codecov on master. As a fix I changed `test.yml` to run on push to master.

This means that the checks in `test.yml` - style/format, docs, and test on ubuntu - are now being run on push to master, in addition to test on macos / windows. This doesn't change the runtime really but doe

[2021-04-19 15:55] #593 closed

[2021-04-19 21:58] rmlarose commented on #620
@elmandouh tested, still failing with same error I think. See #646.

[2021-04-21 05:42] rmlarose commented on #624
I suggest opening a new issue for this.

[2021-04-22 10:36] andreamari opened #650 "Make folding at_random and from_right and from_left consistent with odd scale factors"
This is issue is equivalent to #624 but related to the function `fold_gates_at_random`.

For a description of the problem see #624.

There is already [WIP] PR (#649 ) related to local folding functions and could also fix this issue.

[2021-04-22 16:42] #527 closed

[2021-04-22 16:42] #624 closed

[2021-04-22 20:17] francespoblete commented on #394
Hey all,

Based on your preference I made a new proposal following the design made above. I understand that you guys would like to integrate the unitary fund logo into the mitiq logo fully so I decided to create one that is almost exactly unitary fund. ☺️ Would love to hear from your comments and suggestions.

![revision8](https://user-images.githubusercontent.com/65167390/115779582-75c3ac80-a3b8-

[2021-04-22 21:51] crazy4pi314 commented on #394
OMG I love it <3<3

[2021-04-22 22:11] willzeng commented on #394
+1

On Thu, Apr 22, 2021, 2:52 PM Sarah Kaiser ***@***.***> wrote:

[2021-04-23 00:42] crazy4pi314 commented on #394
@francespoblete I'll send you a ping on discord and let's chat about getting this in use! <3

[2021-04-23 16:33] nathanshammah commented on #394
@francespoblete, thanks, this has been accepted as the new logo! 🎉

One question: would it be possible to just do one last test on the q, to replace completely the back font with the blue and red 3D effect? That's because the contours of the q may be hard to reproduce when the logo is small, or printed small.

[2021-04-23 16:34] nathanshammah commented on #394
Another request is: highlighting the text in yellow instead of the full background, a bit like UF logo.

[2021-04-23 17:02] rmlarose commented on #645
No reservations about this at the Mitiq meeting, so closing and keeping the current behavior in CI.

[2021-04-23 17:02] #645 closed

[2021-04-23 17:04] francespoblete commented on #394
Hi Nathan,

Sure thing. I'll work on it and post it here.  Would you also need a
favicon?

On Fri, 23 Apr 2021, 18:34 Nathan Shammah, ***@***.***> wrote:

[2021-04-23 20:40] crazy4pi314 commented on #394
I think a favicon would be great, thanks!

[2021-04-24 22:12] mstechly opened #651 "Return type of RichardsonFactory"
Pre-Report Checklist
--------------------

- [X] I am running the latest version of mitiq
- [X] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

The return type of `extrapolate` in `RichardsonFactory` is a non-obvious `Union`, which seems to be a bad solution for a couple of reasons:
1. It's confusing to the user.
2. It might make it harder t

[2021-04-26 08:21] francespoblete commented on #394
Hey all,
I'm not really sure what you meant by the first question but this is how I interpreted it. If this is different from what you were saying @nathanshammah, I still could change it. 😊

![g1022](https://user-images.githubusercontent.com/65167390/116050206-82295d00-a677-11eb-8561-46a047b9883e.png)

The yellow background like in the UF logo is implemented below.

![g1089](https://user-images.gi

[2021-04-26 12:50] andreamari commented on #651
Thanks @mstechly!
We want Mitiq to be as user friendly as possible and so this kind of constructive criticism and feedback is very useful.

I write down some proposals:
1. We could have two methods `extrapolate` and `extrapolate_with_full_output` (suggested by @mstechly).
2. We could always return the full output and so get rid of the `full_output` option.
3. Moreover we could also simplify the ou

[2021-04-27 10:17] andreamari opened #653 "Improve fold global function"
The current `fold_global` function:

1. Has a `squash_moments` option but I guess that even if it is set to `False`, the folded blocks are always squashed anyway.
2. `fidelities` is not an option as in gate folding methods, but it could be.

Proposal for new changes:
1. Make use of a `fidelities` when applying fractional folding, in a similar way as it is now done for local folding methods.
2. Rem

[2021-04-28 00:22] #507 closed

[2021-04-28 18:45] rmlarose commented on #651
What about a custom return type?

[code]

Or use the custom return type in all cases?

[code]

[2021-04-28 19:16] mstechly commented on #651
@rmlarose I like this idea, perhaps `ExtrapolateOutput` could be a `NamedTuple`?
It could still use the flag to avoid calculating all the additional quantities if they're not needed. They would be just set to `None` if the flag is not specified?

[2021-04-28 19:23] rmlarose commented on #651
Yeah, something like this. Whatever minimizes the annotation while not hurting usability is fine by me.

[2021-04-28 21:08] mstechly commented on #651
Also worth pointing out that this will break backward compatibility.

[2021-04-30 16:24] rmlarose commented on #638
Discussed at Mitiq meeting. Decided to:

1. Define decorator and function for PEC and all other error mitigation techniques going forward.
2. Do `from mitiq import zne, pec, cdr, xyz` instead of importing the stuff in (1) at the top-level.

[2021-04-30 18:16] #552 closed

[2021-05-02 16:58] #650 closed

[2021-05-03 08:16] andre-a-alves commented on #638
I think I've accomplished this, and I am writing the tests right now. Writing the tests raised a question, though:
While zne spreads its tests for cirq, qiskit, and pyquil across different files in different locations, all the pec tests are contained within a single file test_pec. Is there a plan to spread pec testing into multiple files as well? If so, should I put the executor and decorator test

[2021-05-03 12:30] andreamari commented on #638
@andre-a-alves good point!
For the moment I would put them in `test_pec.py`, for consistency with other PEC tests. For the future we could discuss the alternative option.
Personally, I find more intuitive the current PEC approach where that tests related to functions in `pec.py` are in `test_pec.py` even if related to non-Cirq circuits. However, I recognize that this is different from the way in w

[2021-05-06 13:40] nathanshammah opened #661 "Remove docs/pdf folder and use only the RTD one"
Pre-Request Checklist
---------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this feature has not already been requested

Issue Description
-----------------

Remove the mitiq.pdf in `docs/pdf/`, since we seldom update it (recently it was also giving some issues). We can just use the one generated by Read the Docs if we want to attach it to the Gith

[2021-05-06 15:28] #661 closed

[2021-05-06 16:37] rmlarose opened #665 "publish-pypi.yml doesn't publish to pypi"
For the latest GitHub release (0.8.0), the [publish-pypi.yml](https://github.com/unitaryfund/mitiq/blob/master/.github/workflows/publish-pypi.yml) action never triggered. The fix is probably some minor tweaking for when the action should take place.

[2021-05-06 19:41] purva-thakre commented on #665
@rmlarose Do you mind testing the workflow with a [manual trigger](https://docs.github.com/en/actions/reference/events-that-trigger-workflows#workflow_dispatch) without the create condition ? I don't think I will be able to test this in my fork without proper credentials and I just want to verify it does run on release branch.

If it does, then I wonder if there's an issue with `[created]` vs [`cr

[2021-05-07 16:30] rmlarose opened #667 "Add an `extensions` module for `mitiq_package`s?"
Right now, we have `mitiq_cirq`, `mitiq_qiskit`, and `mitiq_pyquil` as submodules for interfacing with the three supported "front-end" packages.

Soon, we will have `mitiq_braket` (#590), `mitiq_pennylane`, and potentially others. This starts to clutter the namespace.

## Proposal 1

Add `mitiq.extensions` where `mitiq_qiskit` etc. all live.

## Other ideas?

Please propose them below, or upvote p

[2021-05-07 16:33] rmlarose opened #668 "Move all ZNE unit tests to `mitiq.zne`"
There's some hanging around in `mitiq_qiskit` and `mitiq_pyquil`. We decided @ Mitiq meeting that it's better to put these in test files in `mitiq.zne`.

This also makes the testing structure more consistent between `mitiq.zne` and `mitiq.pec` (all PEC tests are in `mitiq.pec`).

[2021-05-07 16:58] purva-thakre commented on #668
@rmlarose Is it preferred to add all of them in [test_ZNE](https://github.com/unitaryfund/mitiq/blob/master/mitiq/zne/tests/test_zne.py) ?

Or add [test_ZNE_mitiq_pyquil](https://github.com/unitaryfund/mitiq/blob/master/mitiq/mitiq_pyquil/tests/test_zne_mitiq_pyquil.py) and [test_ZNE_mitiq_qiskit](https://github.com/unitaryfund/mitiq/blob/master/mitiq/mitiq_qiskit/tests/test_zne_mitiq_qiskit.py) t

[2021-05-07 17:37] rmlarose commented on #668
I would say to put the tests in those files into https://github.com/unitaryfund/mitiq/blob/master/mitiq/zne/tests/test_zne.py (and delete the old test files). One might be able to combine some tests (especially ones with different circuit interfaces but the same otherwise) with `pytest.mark.parameterize`.

[2021-05-07 18:11] purva-thakre commented on #665
Not really. I was only throwing around some ideas since these files cannot be tested unless you run them on specific branches.

[2021-05-08 05:42] andre-a-alves commented on #668
During the meeting @crazy4pi314 had also mentioned the possibility of setting the testing up to take advantage of advanced PyTest features. I could look into those additional requirements and move all the tests around so their location is consistent (original intent), as close to their code as possible (goal from meeting), and compatible with those advanced features. It will take just a little bit

[2021-05-12 18:06] purva-thakre opened #675 "[Discussion] Allow exclusion of indices/moments in `check_foldable`"
In `folding.py`, [`check_foldable`](https://github.com/unitaryfund/mitiq/blob/2acb40d8c7970b43bed682137229ca073905cc4a/mitiq/zne/scaling/folding.py#L94) is used to verify if the input circuit contains non-unitary gates or non-terminal measurements.

Instead of failing to fold the entire circuit for above reason, an additional check could be done to see if the rest of the circuit could still be fol

[2021-05-13 12:42] andreamari commented on #667
Proposal 1 is good for me.

[2021-05-14 08:09] nathanshammah commented on #489
Just clarifying that a solution to this issue for UnitaryHACK may build upon #556 by @crazy4pi314.

[2021-05-14 16:55] nathanshammah commented on #357
There needs not to be any additional installation requirement (even dev requirement) for this example. Information on XACC installation should be given as a note for the end user in the example.

[2021-05-14 17:01] nathanshammah opened #678 "Decide and document policy for optional packages"
There have been multiple cases of ambiguity when we want to integrate with packages, sometimes just for examples, sometimes for limited features in code, that we may not want to support as core/development/optional requirements for the Mitiq package, due to conflicts that may arise.
Examples include:
- An idea for an XACC example #357,
- The Windows CI issues arising due to `pymc3`, that would be

[2021-05-14 17:56] rmlarose opened #679 "Improve braket support"
Initial braket support was added in #590, but there are a few remaining tasks to complete - see the TODO's in [mitiq_braket.conversions](https://github.com/unitaryfund/mitiq/blob/master/mitiq/mitiq_braket/conversions.py). This issue is to complete those TODO's.

[2021-05-14 21:56] TripleR47 commented on #489
Hi @crazy4pi314 @rmlarose @nathanshammah, I would like to work on this issue. Just for clarification, following the checklist in PR #556 should be enough or do I have to work on anything specific? Thanks!

[2021-05-14 22:14] rmlarose commented on #489
That checklist for generic PRs. The steps to fix this issue are:

1. Run [`make check-types`](https://github.com/unitaryfund/mitiq/blob/master/Makefile#L18-L20) and fix all mypy errors.
2. [Uncomment the type check in CI](https://github.com/unitaryfund/mitiq/blob/master/.github/workflows/test.yml#L26-L28) to make sure we're tracking it in CI.

[2021-05-15 05:23] TripleR47 commented on #489
Okay, and does all the code need to be annotated? I went through the discussion in the PR there it was being discussed on ignoring type checking on test files (hence no annotation required for the test files).

[2021-05-16 14:37] TripleR47 commented on #489
@crazy4pi314 @rmlarose @nathanshammah

[2021-05-16 18:15] crazy4pi314 commented on #489
I think it all should be annotated, but I am not sure what the rest of the team thinks. Also gonna ping @andreamari

[2021-05-16 19:03] rmlarose commented on #489
No need to annotate tests.

[2021-05-17 08:20] andreamari commented on #489
I also think that excluding tests is fine. In this case, it may be necessary to find some trick for telling `mypy` to exclude tests unless this is automatic.

[2021-05-17 08:57] paniash opened #680 "Installation from source"
Pre-Request Checklist
---------------------

- [X] I am running the latest version of mitiq
- [X] I checked to make sure that this feature has not already been requested

Issue Description
-----------------

Currently the readme doesn't contain instructions on building mitiq from source. Is there a way to do it?

Proposed Solution
-----------------

A convenient way (especially for contributors) w

[2021-05-17 09:43] andreamari commented on #680
Hi @paniash, for the moment this is written the docs https://mitiq.readthedocs.io/en/latest/contributing.html#development-install
But we could consider putting this in the Readme too.

[2021-05-17 09:52] TripleR47 commented on #489
Okay, thanks for clearing the doubts.

[2021-05-17 13:43] maxtremblay opened #681 "Problem installing immutables in dev-requirements"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

I forked this repo and tried to setup a virtual environment.  It failed ...

How to Reproduce
----------------

[code]

### Error Output

I think the most important part is at the end of the diagnost

[2021-05-17 15:48] andreamari commented on #680
It's fine for me. But I ask @crazy4pi314 for a second opinion.

[2021-05-17 15:51] andreamari commented on #681
I am not sure what this is about, but I found this which looks related: https://github.com/psf/black/issues/1192

[2021-05-18 00:06] crazy4pi314 commented on #680
I'm good with readme, but maybe both places (docs and readme?)

[2021-05-18 02:01] maxtremblay commented on #681
Ok, I solve the problem by installing Python development headers.

[code]
apt install python3-dev
[code]

[2021-05-18 03:00] maxtremblay commented on #679
Hello, I made some progress on this issue. However, I don't find a translation in term of basic gates for some braket operations like `CPhaseShift00`. So for now, I plan to use

[code]
I tested it and it works fine. In fact, I think it can be a good fallback for any non-standard two-qubit gates. What do you think about that?

[2021-05-18 03:06] maxtremblay commented on #679
Also, as I side note, in the `_translate_cirq_operation_to_braket_instruction` and ` _translate_one_qubit_braket_instruction_to_cirq_operation` functions, if the gate is a 3-qubit gates, but not a Toffoli nor a Fredkin, the functions don't return (or return `None` if you prefer), but raise an error for all other failures.

If this is not desired, I could fix that in the same PR if you want?

[2021-05-18 05:42] paniash commented on #680
@crazy4pi314 I've made the PR for it (as per your suggestion). Could you review it and let me know? Another reviewer seems to have a different opinion on the PR.

[2021-05-18 11:48] peachnuts opened #683 "Large error rate when using mitigation method"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

How to Reproduce
----------------
I used `flod_gate_at_random` method to generated `folded_circuits` with scales factors in the following code.
The circuit has 20 gates, including 11 cnots. I executed the folded circuits on an IBM quant

[2021-05-18 13:00] andreamari commented on #683
Hi @peachnuts, thanks for this issue.
I think this is not a bug but the expected behavior of the different extrapolation methods.
Linear extrapolation corresponds to a polynomial fit of `order=1`, while Richardson extrapolation, in this case, corresponds to a polynomial fit of `order=len(scale_factors)-1=3`.

So your case is a situation in which the extrapolation gets worst as you increase the ord

[2021-05-18 14:17] peachnuts commented on #683
Hi Andrea!
Thanks for your explanation and your code snippets! It really helped to solve my questions!
Sorry that I didn't think this is a bug but the bug label was added in default when I created this issue...

[2021-05-18 20:42] nahumsa commented on #275
Hi! I am interested in tackling this issue! Is anyone working on that?

[2021-05-19 09:46] #668 closed

[2021-05-19 13:31] purva-thakre commented on #565
Above linked PR does not solve this issue.

In case anyone else wants to work on this, here's a list of things I tried or was planning to try :

I first tried to use[ github-changelog-generator](https://github.com/github-changelog-generator/github-changelog-generator) to automate updates to `Changelog.md`. The changelog generator is available as a workflow [here](https://github.com/heinrichreimer/

[2021-05-19 14:30] #683 closed

[2021-05-19 16:01] nathanshammah commented on #679
Hi @maxtremblay, thanks for the comments and questions. The option above for MatrixGate looks reasonable to me. Maybe for the 3-qubit gate question, @rmlarose or @andreamari have some advice?

[2021-05-19 17:00] andreamari commented on #679
MatrixGate could be a fallback option but, if I am not wrong, I think it makes it hard to translate back to Braket. Instead I found this decomposition which could be useful: https://github.com/aws/amazon-braket-pennylane-plugin-python/blob/f52d02f8e6fab66e8ee764df2ad723327ba68307/src/braket/pennylane_plugin/ops.py#L116

[2021-05-19 17:04] andreamari commented on #679
About the second question on the 3 qubit gates, I think you are right. I didn't check but the solution is probably to remove the final `else` before the error: https://github.com/unitaryfund/mitiq/blob/2309b08acbacf2c056f76293a9c28421ddd55d11/mitiq/mitiq_braket/conversions.py#L93

[2021-05-19 17:50] maxtremblay commented on #679
I can do a decomposition into a sequence of gates, however, this would involve updating the test function since right now, it assumes that a single cirq operation corresponds to each braket operations.

[2021-05-20 08:27] andreamari commented on #679
Thanks @maxtremblay! If you found a simpler decomposition, you can use it. Don't worry for the existing test. We can add a new test function dedicated only to the particular case of  `CPhaseShift00`.

Just to clarify my view: I am fine also with the `MatrixGate` if it works. However, I think it makes sense only if the following pipeline works:

- Braket to Cirq conversion: `CPhaseShift00(theta)` -

[2021-05-20 18:24] rmlarose commented on #679
+1. `MatrixGate` should only be used as a last resort. It is better to have a decomposition.

[2021-05-21 03:52] andre-a-alves commented on #270
Just to confirm: the intent behind this issue is an example of a simple implementation of a custom adaptive factory within the ZNE portion of the user guide, correct? Or is the intent a full example that belongs in Mitiq Examples?

[2021-05-21 04:44] Misty-W commented on #529
I'm interested in solving this as part of the hackathon (as it appears on the project page), but the above conversation has me a little confused...is it cool if I give it a try?

[2021-05-21 05:52] andre-a-alves opened #689 ""make docs" raises error on Windows with Python 3.8"
Pre-Report Checklist
--------------------

- [X] I am running the latest version of mitiq
- [X] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

This follows from me looking into why I could not successfully run "make doctest" during my last PR, while it ran fine here in Github.

On my Windows machine using fresh Anaconda environments and fre

[2021-05-21 08:15] #638 closed

[2021-05-21 11:34] maxtremblay commented on #679
Here is the PR #688

[2021-05-21 11:54] purva-thakre commented on #689
I am unable to replicate your error. But it does seem like `circ-google` is not installed. This is not specified as a dependency in either `requirements.txt` or `dev_requirements.txt`.

- [circ-google](https://pypi.org/project/cirq-google/)
- [circ-core](https://pypi.org/project/cirq-core/)

[2021-05-21 14:55] andre-a-alves commented on #689
I tried again by manually adding those two modules (cirq-google and cirq-core) before installing everything, and I still get the docs failure on Windows - error message below.

Even without me adding those modules, cirq-core shows up in ```conda list``` for both 3.7 and 3.8 after ```pip install -e .```.

I am going to keep working on it and document any progress here, especially since I think ther

[2021-05-21 15:14] purva-thakre commented on #689
@andre-a-alves I actually work in Linux 😄 . I do not think the issue is with what system is being used but with Sphinx and other Sphinx based packages.

When I tried to use `make docs` with just `circq-core` installed, I did get the same error as you. So, I added `cirq-google` to the requirements file and the build passed locally (on Python 3.8.5). But it fails on Github due [to an issue with an o

[2021-05-21 15:28] andre-a-alves commented on #689
@purva-thakre That makes sense. I can start looking into Sphinx versions unless you've already started going down that rabbit hole. I know this morning I briefly looked at whether version 4 would work, but it appeared to have a few dependency issues to work out, and I didn't have the time to pull on that thread.

[2021-05-21 15:42] rmlarose commented on #681
Closing as this doesn't look like a general installation issue. Reopen if appropriate.

[2021-05-21 15:42] #681 closed

[2021-05-21 15:44] purva-thakre commented on #689
@andre-a-alves Not yet. You are more than welcome to give it a try.

[2021-05-21 16:10] rmlarose commented on #678
There's an important difference: XACC and TFQ would only be for the documentation and can go in dev_requirements. pymc3 would be for using Mitiq and would go in requirements.txt.

Generally I'm against adding a bunch of "executor examples" - if the documentation clearly defines executors, it should be obvious how to use whatever package you want to do this.

The pymc3 issue needs a final decision,

[2021-05-22 00:02] crazy4pi314 commented on #529
@Misty-W Absolutely! Since these are examples in the docs, we can never have enough 😊 If you have any other questions, feel free to ask here or on the [Unitary Fund Discord](http://discord.unitary.fund).

[2021-05-22 07:16] andre-a-alves commented on #689
I cannot speak to errors on Linux, but shortly I will be attaching a PR to solve this problem for Windows. As discussed in the meeting yesterday, the `cirq.google` Module Not Found error is ignored.

The inability to run `make docs` or `make doctest` in Windows if the environment is using Python 3.8 stems from `asyncio`, which changed its default event loop beginning with Python 3.8. The new event

[2021-05-22 15:42] purva-thakre commented on #689
If I install `circ-google` then it fails similar to above test PR because of `circ.google`. It's great you found that it was a Windows issue.

[2021-05-24 11:33] TripleR47 commented on #489
I have updated some files with type annotations and updated the CI for type checking the non-test files. Should I create a PR or PR them all together after updating the rest of the files?

[2021-05-24 17:02] rmlarose commented on #680
We discussed this at our weekly meeting and decided to link to the docs instead of writing it out explicitly in the readme (i.e., to go with https://github.com/unitaryfund/mitiq/pull/682#discussion_r633722971).

[2021-05-24 17:14] rmlarose commented on #275
Hey @nahumsa, it's all yours - thanks!

There's not a clear direction to go in from the above PR comments. We discussed this at our weekly meeting last Friday and settled on the following.

- No folding functions should raise warnings (so no change needed here).
- Running the full workflow of zero-noise extrapolation should raise a warning with circuits that have very few gates when the noise-scal

[2021-05-24 19:14] nahumsa commented on #275
Hi @rmlarose, thanks for the reply! I'll try to implement this warning and add a PR. :)

[2021-05-26 13:18] nathanshammah opened #692 "Fix reference numbering by citing the CDR paper"
Right now the CDR paper "Error mitigation with Clifford quantum-circuit data" is listed as the first reference in the Mitiq guide, even if it does not appear in the Users Guide. https://mitiq.readthedocs.io/en/stable/zz_bibliography.html

I think that this is due to the fact that it is cited in the codebase but not yet in the rest of the documentation rst files.

Once we add the documentation, it

[2021-05-26 13:38] nathanshammah opened #693 "[CDR] Add documentation on Clifford-based data regression methods"
Add the documentation in the user guide about the Clifford-based data regression (CDR) methods, main issue is #477, related PRs to date are #520 and #677 (CDR part two).
- One could think of a basic subsection structure, based on the different parts of the CDR approach (training, extrapolation)
- Could use sphinx's `autosummary`, where relevant
- Add references (see #692)

[2021-05-26 17:47] rmlarose commented on #489
Thanks @TripleR47! It's fine to do separate PRs as you describe (would be good if you're running mypy on the files you added annotations for).

[2021-05-26 18:01] rmlarose commented on #620
Here's what we decided (Origin https://github.com/unitaryfund/mitiq/issues/678#issuecomment-846070537):

(i) keep using pip, (ii) handle the pymc3 install in CI on windows as a special case, (iii) tell people if they want to use pymc3 on windows, they have to install whatever needs to be installed.

[2021-05-26 18:01] #678 closed

[2021-05-26 18:26] paniash commented on #680
Fixed in `[bac9a5a](bac9a5a07ccc20f1d90f7d273de57713640f9f04)`.

[2021-05-26 18:26] #680 closed

[2021-05-26 19:03] TripleR47 commented on #489
Yes, I'm running the mypy on the annotated files.

[2021-05-26 19:09] TripleR47 commented on #489
Yes, I'm running the mypy on the annotated files. And will it be okay if I push the future changes in the same PR? Thanks!

[2021-05-26 22:54] nahumsa commented on #275
Hi @rmlarose, I had some personal issues and I will not be able to finish by Friday.
Sorry about that :(

[2021-05-26 23:12] crazy4pi314 commented on #394
This is done! Thanks so much again to @francespoblete for some amazing work 💖🎉

[2021-05-26 23:12] #394 closed

[2021-05-27 01:37] TripleR47 commented on #489
Hey @rmlarose, I created a PR, but it failed the validate and the unit test. I went through the error messages and the source code. But the source code looks fine. Any suggestions on how to work on it? Thanks!

[2021-05-27 01:42] rmlarose commented on #489
Yep! I think just adding mypy to dev_requirements.txt will solve all (most) of the failures. [`make check-types` failed](https://github.com/unitaryfund/mitiq/pull/695/checks?check_run_id=2678781472) because mypy wasn't installed, and [some tests failed](https://github.com/unitaryfund/mitiq/pull/695/checks?check_run_id=2678781551) I think because of type checking also.

[2021-05-27 01:59] TripleR47 commented on #489
Okay, updating the dev_requirements.txt file.

[2021-05-27 06:05] Misty-W commented on #529
Hi @Sarah, thanks for your reply! I’ve been working on the problem with PyQuil, but I’ve run into a few snags.
To start, I used the problem shown in the Grove Noisy VQE tutorial at https://grove-docs.readthedocs.io/en/latest/vqe.html#links-and-further-reading as a kind of benchmark.
1.	Whenever I run the VQE instance with the QVM from api.QVMConnection, I get the error
'QVMConnection' object has n

[2021-05-27 13:18] #689 closed

[2021-05-27 16:04] andreamari commented on #529
Thanks @Misty-W! I noticed your post and so I add my thoughts:

Nice, a PyQuil example would be great!

As far as I remember, one could define custom noise models by manually defining the associated Kraus operators. But I think your idea of using a simulated real device with `noisy_qvm = get_qc("9q-square-noisy-qvm")` is even better and simpler.

In principle with Mitiq you can scale the noise ind

[2021-05-27 20:59] willzeng commented on #394
Thanks @francespoblete! These came out wonderfully!

[2021-05-27 22:20] Misty-W commented on #529
Thanks for the suggestions @andreamari! I'll try them out and post any additional questions here.

[2021-05-28 00:14] mstechly commented on #529
@Misty-W I'm not sure if that's the case, but I discourage you from using VQE implementation [in Grove](https://github.com/rigetti/grove), as it's not being maintained for over 2 years and has some bugs.

[2021-05-28 06:06] Misty-W commented on #529
@mstechly thank you for the suggestion!

[2021-05-28 17:08] rmlarose opened #698 "Auto-close stale issues & PRs"
Create an action that automatically closes issues & pull requests due to inactivity.

## Desired behavior

1. After N days of inactivity on an issue / PR, bot writes a "warning comment" that says something like "No activity for N days. This issue will be closed in X days if there is no further activity."
    - N and X are parameters to be discussed, let's say N = 30 and X = 5 to start.
2. If anoth

[2021-05-30 19:58] #275 closed

[2021-05-31 06:57] Misty-W commented on #529
I opened a PR and tagged it [unitaryHACK]. The full flow doesn't run quite yet, but improvement suggestions are much appreciated.

@crazy4pi314, are you able to see my PR? I don't have much experience with GitHub, so I'm not sure if it ended up in the right place.

Even though the event is ending, I hope to get my code working and have the PR approved soon. It's been a lot of fun, and I really app

[2021-05-31 20:59] purva-thakre commented on #667
Is this still open for discussion ? Just wanted to check before I start working on this.

[2021-05-31 23:29] rmlarose commented on #667
@purva-thakre yes in the sense that we still need to decide when and how (mostly in terms of deprecation) to introduce this change.

[2021-06-01 15:34] andreamari opened #702 "Extend _represent_operation_with_amplitude_damping_noise beyond Cirq circuits"
Issue Description
-----------------
Currently we have a function in `mitiq.pec.representations` called  `represent_operation_with_local_depolarizing_noise`. It would be nice to have something similar for **amplitude damping noise**.

After merging #701, a private function called `_represent_operation_with_amplitude_damping_noise` has been added which
works only for operations of `cirq.Circuit` typ

[2021-06-01 15:54] andreamari opened #703 "More explicit names for NoisyOperation arguments?"
Currently a `NoisyOperation` is initialized with two arguments `ideal` and `real`.
[code]

I wonder if it is better to use more explicit names. Some proposals:

0. `ideal` and `real` (keep current names )
1. `operation` and `superoperator`
2. `circuit` and `superoperator`
3. `operation` and `channel_matrix`
4. `circuit` and `channel_matrix`

[2021-06-01 16:14] purva-thakre commented on #667
@rmlarose Gotcha.

Just a couple of questions about this.
- 'when' refers to which release version ?
- 'how' refers to how to structure the deprecation warnings in[ this file](https://github.com/unitaryfund/mitiq/blob/master/mitiq/_deprecations.py), defining a particular [deprecation decorator](https://stackoverflow.com/questions/739654/how-to-make-function-decorators-and-chain-them-together) for

[2021-06-01 23:31] rmlarose commented on #679
This was closed by #688.

[2021-06-01 23:31] #679 closed

[2021-06-01 23:37] rmlarose commented on #667
Yes to both!

[2021-06-01 23:51] rmlarose commented on #702
SGTM. If this representation requires a reset channel and a particular front-end doesn't support reset, it makes sense for this function to fail with that front-end.

(Out of curiosity, is there a different representation which doesn't use reset?)

[2021-06-02 00:28] purva-thakre commented on #703
I like option 3 with a small change - `ideal_operation` and `channel_matrix`

[2021-06-03 19:39] rmlarose opened #705 "Add mirror circuits to `mitiq.benchmarks`"
Right now the benchmarks module only contains MaxCut-QAOA and 1-2 qubit randomized benchmarking. This issue is to expand the suite of benchmarking circuits, in particular by adding mirror circuits from https://arxiv.org/abs/2008.11294.

[2021-06-04 06:20] crazy4pi314 commented on #529
@Misty-W I don't see your PR, did you make it to your own fork perhaps? If you want help getting it pushed to the right place just send me a DM on Discord and I can help ya out 💪

[2021-06-04 13:39] #374 closed

[2021-06-04 21:27] Misty-W commented on #529
@crazy4pi314, I think you're right. I just messaged you on Discord.

[2021-06-05 19:01] #628 closed

[2021-06-07 20:45] rmlarose commented on #698
Closed by #699.

[2021-06-07 20:45] #698 closed

[2021-06-07 20:48] rmlarose commented on #591
This was closed by #603.

[2021-06-07 20:48] #591 closed

[2021-06-07 20:55] rmlarose opened #710 "Make `cdr.execute_with_cdr` compatible with any `QPROGRAM`"
Right now you can only use a Cirq circuit in `execute_with_cdr` and related functions. All CDR functionality should be compatible with any `QPROGRAM`.

[2021-06-07 21:04] rmlarose opened #711 "Add a compiler for CDR"
To use CDR, the circuit must be compiled into a specific gateset. (See [here](https://github.com/unitaryfund/mitiq/blob/master/mitiq/cdr/cdr.py#L49-L51).) We should add a compiler which inputs an arbitrary program and outputs an equivalent one compiled to this gateset.

## Signature

[code]

## Desiderata

Ideally, this compiler would use only Cirq functionality. However, since this is pretty esse

[2021-06-07 22:26] rmlarose opened #712 "Add a near-Clifford simulator for CDR"
The CDR method needs a near-Clifford simulator to be efficient at scale. Currently, this is sort-of placed on the user as an [argument to `execute_with_cdr`](https://github.com/unitaryfund/mitiq/blob/master/mitiq/cdr/cdr.py#L35). It would be good to have such a simulator available in Mitiq for this purpose.

## Description

The function should be able to efficiently simulate near-Clifford circuits

[2021-06-07 22:46] rmlarose commented on #703
I wouldn't use `operation` because it always has to be a circuit. `circuit` is ok but I would prefer `unitary` for this - both circuits and operations have unitaries, and unitary tends to convey noiseless.

For `real`, I agree it's not descriptive enough. (Although I do like how `ideal` and `real` sit together.) I tend to like `superoperator` for this but have less strong feelings.

So, I would wr

[2021-06-07 22:50] rmlarose commented on #667
Putting this as p0 because, as discussed @ Mitiq meeting, we want to have this for the next release after adding support for Braket.

[2021-06-07 22:52] rmlarose commented on #653
Option (2) SGTM.

[2021-06-07 22:56] rmlarose commented on #639
Closing as the issue is no longer present - I think this is outdated.

[2021-06-07 22:56] #639 closed

[2021-06-07 23:12] rmlarose commented on #477
Closing as this is partially done and we have more specific issues for what remains, namely #710, #711, and #712.

[2021-06-07 23:12] #477 closed

[2021-06-07 23:18] rmlarose commented on #427
Pinging this and requesting clarification.

- Is OpenQasm 3.0 not backwards compatible? Do we **need** to make any changes to support this?
- Do we want to use new features present in OpenQasm 3.0 in Mitiq? Probably for pulse-stretching in zero-noise extrapolation?
- Other?

[2021-06-07 23:21] rmlarose commented on #270
@andreamari what do you think?

[2021-06-08 12:41] andre-a-alves commented on #270
We discussed this at a meeting, but I didn't post the conclusion here. Sorry about that.
The idea is a full example that will belong in Mitiq Examples. I'm happy to do it, and I will learn a lot from it. It will just take a bit longer as I enter the semester exam period but will get done this summer.

[2021-06-09 13:38] andreamari opened #716 "Consider reverting cirq-google until deprecation warnings will disappear."
When we passed from `cirq` to `cirq-core`, a lot of deprecation warning appear each time we import something.
E.g. if a user tries to run:

[code]

The following long message appears:

<details>
--- Logging error ---
Traceback (most recent call last):
  File "/home/andrea/anaconda3/lib/python3.7/site-packages/cirq/__init__.py", line 581, in <module>
    create_attribute=True,
  File "/home/andrea/

[2021-06-09 13:38] andreamari commented on #716
@rmlarose

[2021-06-09 14:28] nathanshammah commented on #716
+1.

[2021-06-09 15:17] rmlarose commented on #716
The warning showing up in docs is not good. Thanks for noting this. I'm fine with listing `cirq` in requirements to fix this. Alternatively, we can list `cirq-google` in dev_requirements and that will get rid of the warning in docs.

Note that the warning will be present until Cirq 0.14 (https://github.com/quantumlib/Cirq/blob/master/cirq-core/cirq/__init__.py#L584-L594), which may be a while.

Th

[2021-06-10 09:21] nathanshammah commented on #716
I like the proposal of having back again `cirq` in requirements.

[2021-06-10 09:53] #651 closed

[2021-06-11 05:31] andre-a-alves commented on #667
As discussed in the last meeting, below are a few data points for us to consider when choosing the module name - specifically generally agreed upon definitions of some words as well what names are used by a few other projects - for us to discuss at today's meeting.

## Other Projects
### Pennylane
Pennylane uses "interfaces" for NumPy, PyTorch, JAX, and TensorFlow. What we call front-ends they ten

[2021-06-11 16:57] andreamari commented on #710
@rmlarose A lazy idea: maybe for the release 0.9.0 it could be enough to support  `QPROGRAM`s in `execute_with_cdr` and push the generalization of all the other cdr functions to the next release.

[2021-06-13 22:45] rmlarose opened #719 "Change the return type of `execute_with_cdr`"
By convention (i.e., in PEC and ZNE), the return type should be just the zero-noise value.

In `execute_with_cdr` there is a notion of multiple observables, so the return type should be the error mitigated expectation value for each observable.

Any other returned values should be optional, e.g., with a "`full_output`" flag, omitted, or wrapped in a custom object which is returned along with the e

[2021-06-13 22:48] rmlarose opened #720 "Allow for batching in CDR"
The CDR module does not currently support the notion of batched executors, but it should. [See here](https://github.com/unitaryfund/mitiq/blob/master/mitiq/cdr/cdr.py#L146-L150).

[2021-06-13 22:55] rmlarose opened #721 "Flaky tests with `cirq.PauliSumCollector`"
Any test like [`test_execute_with_shots`](https://github.com/unitaryfund/mitiq/blob/master/mitiq/mitiq_cirq/tests/test_cirq_utils.py#L49-L63) which uses `cirq.PauliSumCollector` occasionally fails in CI. Example error message below.

<details>

[code]
</details>

[2021-06-14 16:05] #710 closed

[2021-06-14 16:54] #716 closed

[2021-06-14 17:15] rmlarose opened #723 "What is `_deprecations.py` doing?"
[It](https://github.com/unitaryfund/mitiq/blob/master/mitiq/_deprecations.py) appears to define four functions which aren't used anywhere. Am I missing something?

[2021-06-14 17:18] rmlarose commented on #721
The status of this may change after moving back to Cirq 0.10 in #717. Let's see if any tests continue to fail.

[2021-06-14 18:28] #667 closed

[2021-06-14 18:59] #719 closed

[2021-06-14 19:51] #561 closed

[2021-06-15 10:05] andreamari commented on #723
The are used here https://github.com/unitaryfund/mitiq/blob/master/mitiq/__init__.py . The intention is to raise a deprectation error when people try to use `from mitiq import mitigate_executor/zne_decorator/execute_with_zne` instead of from `mitiq.zne import mitigate_executor/zne_decorator/execute_with_zne`.

[2021-06-15 15:38] andreamari opened #726 "Add mitigate_executor and cdr_decorator in mitiq.cdr"
In addition to `execute_with_cdr`, we should add the associated `mitigate_executor` and `cdr_decorator`.
They should be importable in this way:
[code]

and should behave similarly to the functions currently implemented in `mitiq.zne` and `mitiq.pec`.

[2021-06-15 19:34] #723 closed

[2021-06-17 09:32] #703 closed

[2021-06-17 17:44] andreamari opened #733 "Possible improvements in release guide"
I followed this guide https://mitiq.readthedocs.io/en/v0.9.0/release.html#releasing-a-new-version-of-mitiq .
More or less everything was good but I had some doubts/feedback:

1. The first step which is suggested is to open a PR from master to release. The second step which is suggested is to update contributions and version **in the same** PR of the first. However since this PR is not from a branc

[2021-06-17 20:13] rmlarose opened #734 "Documentation shows a lot of warnings about programs being too short"
Look at https://mitiq.readthedocs.io/en/stable/examples/simple_landscape.html for example.

![image](https://user-images.githubusercontent.com/32416820/122466090-dae5e980-cf86-11eb-949e-5ac0312b0ff8.png)

[2021-06-18 09:37] andreamari opened #736 "non-dev Mitiq tries importing braket and fails"
Pre-Report Checklist
--------------------

- [ x] I am running the latest version of mitiq
- [ x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
Non development installation should work without Braket but it fails.
I am not sure why but, by checking out older commits, the problem seems to happen after merging #706.

How to Reproduce
--------

[2021-06-18 09:47] andreamari opened #737 "mitiq.about() error without qiskit elements"
Issue Description
-----------------
If Qiskit or Qiskit elements are not installed, `mitiq.about()` fails.
Unlike #736, this problem is only localized in `mitiq.about()` seems an easy problem to fix. We probably need to assign default `"not installed"` values to some version variables.

How to Reproduce
----------------
### Code Snippet

[code]

### Error Output

[code]

[2021-06-18 09:57] andreamari opened #738 "Read the docs fails to build the pdf"
Readthedocs fails to build the pdf. The standard html build works. This is the reason why CI passes but our readthedocs badge is red.

The problem could be related to some latex formulas in some docstrings introduced in #701 but I am not sure.

[2021-06-20 15:11] andreamari opened #740 "Test Mitiq without 3rd party packages"
Issue Description
-----------------

Currently CI runs all tests in a development environment (where all 3rd party packages packages in `dev_requirements.txt` are installed).
It would be good to test some basic functionality of Mitiq without some/all 3rd party packages.

Proposed Solution
-----------------
Define a new command, `make test-basic`, which runs some basic tests that are supposed to wo

[2021-06-21 17:34] #736 closed

[2021-06-21 17:34] #737 closed

[2021-06-22 16:47] #734 closed

[2021-06-22 19:24] rmlarose commented on #740
Updated title / description to make this a little more precise. We still need dev requirements for testing, e.g., pytest, it's really about testing without Qiskit, pyQuil, etc.

[2021-06-22 19:38] rmlarose opened #746 "Better type for `QPROGRAM`"
Currently `QPROGRAM` is either a `typing.Union` of several quantum circuit types, or a single type if only Cirq is installed. It should be consistent in both cases - it was a bit of a pain to write a simple test in #745. Further, the `typing.Union` type is not particularly useful, notably for `isinstance` checks.

## Desired behavior

- `QPROGRAM` should have the same type regardless of how many s

[2021-06-22 21:15] rmlarose commented on #721
The change to Cirq 0.10 does not seem to have affected this, as it just popped up in CI again: https://github.com/unitaryfund/mitiq/runs/2889110440?check_suite_focus=true#step:6:2057

[2021-06-22 23:39] crazy4pi314 opened #748 "Stop previous CI tests if more recent are triggered"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Feature Description
-----------------

It would be nice to add this action to our testing workflows so if you push again to a branch and trigger a new build, the previous is cancelled: https://github.com/styfle/cancel-workflow-action

[2021-06-22 23:47] crazy4pi314 opened #749 "Automate labeling of branches/PRs/Issues"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Feature Description
-----------------
It would be great to have a bit more structure to branch naming and/or labeling to make automating release notes and house keeping easier.

Some options I found are:
https://github.com/marketplace/actions/labeler
https://github.com/marke

[2021-06-23 17:27] #740 closed

[2021-06-24 10:16] L-P-B commented on #711
I would comment that the gate set necessary depends on the native gate set of the hardware. Currently all the code is tailored to IBM hardware.

[2021-06-24 13:37] lasys opened #752 "[Question] Using mitiq in QAOA/VQE-Class from Qiskit"
Hello,

i would like to integrate mitiq into the [QAOA-Class](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/algorithms/minimum_eigen_solvers/qaoa.py) from Qiskit.

My idea was to change the lines in the [VQE-Class](https://github.com/Qiskit/qiskit-terra/blob/main/qiskit/algorithms/minimum_eigen_solvers/vqe.py) as follows:

[code]

When i run the code with:

[code]

Unfortunately i get th

[2021-06-24 14:46] andreamari commented on #752
Hello @lasys,

The error is related to a conversion problem from Qiskit to Cirq (which is the internal representation used by Mitiq). Probably the problem is due to parameterized (symbolic) gates.

However I think the main problem is another one. The object that you define as `noisy_executor` must be a function which input a circuit and returns an expectation value in order to be compatible with M

[2021-06-25 08:52] andreamari opened #755 "Behavior of `zne.scaling.fold_all` for scale factors that are not odd integers"
Users may be tempted to use this function:
https://github.com/unitaryfund/mitiq/blob/2cb68d64a0f2ebfc98f6c3fbb03cb9c67f516cdf/mitiq/zne/scaling/folding.py#L240

with arbitrary scale factors. However this function, by construction, makes sense only if the scale factor is an odd integer.
We may sill keep the type of `scale_factor` as `float` for consistency with other methods, but we should check if

[2021-06-25 10:52] asuzukosi commented on #755
Hey, i'll like to work on this issue

[2021-06-25 11:06] asuzukosi commented on #755
@andreamari I've made the suggested changes and created a pull request, you can review it now.

[2021-06-25 16:36] rmlarose opened #757 "Add documentation on generating near-Clifford training circuits for CDR"
The doc should show how to create a set of near-Clifford training circuits from a given `QPROGRAM` compiled to the basis {sqrtNOT, Z, CNOT}. Probably 1-2 different `QPROGRAM` types are good to show. It should discuss (briefly) why this is done; in other words, what step this completes in the Clifford data regression method.

[2021-06-25 16:40] rmlarose opened #758 "Add documentation on doing regression in CDR"
See #757 for documenting the 1st major step of CDR. This issue is for documenting the 2nd major step - i.e., performing  regression given a set of `{(noisy expectation value)_i, (noiseless expectation value)_i}`, and how to use the optimal fit to get the error-mitigated value returned by CDR. This doc should show the available regression types in `mitiq.cdr`, as well as how to define a new regress

[2021-06-25 17:38] crazy4pi314 opened #759 "Add Mitiq paper code to main repo"
The current code for figures and data for the Mitiq paper is a bit spread out and as discussed a the 6/25 community call we decided to add all data/sample code/figure code to the docs.

- [ ] Setup directory in the docs for data
- [ ] Add what raw data we have
- [ ] Add current plot source
- [ ] Add or link to any example code shown
- [ ] Setup testing for any samples if needed
- [ ] Tag the commi

[2021-06-25 17:41] crazy4pi314 opened #760 "Add all contributors via all-contributors"
Just need to go through issues and PRs and find (non-uf) contributor and recognize them!
Can make a blog or tweet thread after.

[2021-06-25 18:57] #693 closed

[2021-06-28 15:53] nathanshammah opened #761 "Add notebooks from Mitiq paper to the examples section"
Add Jupyter notebooks (or in md, rst or myst format) from the Mitiq paper v2 to be updated on the arXiv (https://arxiv.org/abs/2009.04417) to the examples section of the documentation.

- This should be a new section under the Mitiq examples, https://mitiq.readthedocs.io/en/stable/examples/examples.html

- This should be also referenced in the Research section of the documentation, https://mitiq.r

[2021-06-28 15:56] nathanshammah opened #762 "Migrate to specific branches for releases"
This is up for discussion, but also to reinstate the squash and merge default policy an option could be to go from the `releases/` branch to specific branches for each release, such as `v0.9.0` etc. I remember having a discussion with @jakelishman on why the latter option would be better than the former, but I cannot replicate the arguments.

[2021-06-28 16:18] jakelishman commented on #762
The advantages to having separate branches for each minor release are that you can modify the releases separately.  For example, if you only have the one `release` branch, and you want to make patch releases 0.8.1 and 0.9.1 after 0.9.0 has been released, you have a bit of a problem.  Similarly, you'll need to have a separate branch if you want to start releasing a 1.0.0 pre-release channel, while

[2021-06-28 16:33] jakelishman commented on #762
Oh yeah, also if you only have one `release` branch which you keep cherry-picking onto, you're either duplicating your entire history, and you might have to deal with some frustrating merge conflicts when there's a modification to code affected by a bugfix release.  Git's so perfomant that the former isn't a big deal, but the merge conflicts aren't fun if it's been a while since the bugfix, or a d

[2021-06-28 21:02] rmlarose commented on #755
Should we round it to the nearest odd integer instead of raising an error @andreamari?

[2021-06-28 22:49] martin-rv opened #765 "Mitiq latest version and integration with qiskit issue"
Dear Mitiq team,

I am trying to use mitiq to perform error mitigation in my calculation. With my installation, I can successfully run the code for cirq in the "Getting Started" section.

https://mitiq.readthedocs.io/en/stable/readme.html

However, when I try the Qiskit example in

https://mitiq.readthedocs.io/en/stable/examples/ibmq-backends.html

I get errors (see below) that go beyond my experi

[2021-06-28 22:51] martin-rv commented on #765
About my installation:

Mitiq: A Python toolkit for implementing error mitigation on quantum computers
==============================================================================
Authored by: Mitiq team, 2020 & later (https://github.com/unitaryfund/mitiq)

Mitiq Version:	0.9.1

Core Dependencies
-----------------
Cirq Version:	0.10.0
NumPy Version:	1.20.1
SciPy Version:	1.4.1

Optional Dependen

[2021-06-28 23:07] rmlarose commented on #765
Thanks @martin-rv, I confirmed this behavior. It is due to your Qiskit version - currently we aren't compatible with Qiskit 0.27.0.

I just checked the example when you [`pip install qiskit==0.24.0`](https://colab.research.google.com/drive/1UK8mTyVIY673U23zXjUbhft8BU_M8DQs?usp=sharing). You can use this Qiskit version with Mitiq in the meantime until we decide a longer-term action for this issue.

[2021-06-28 23:20] martin-rv commented on #765
Thanks for your quick reply, @rmlarose! I installed Qiskit version 0.24 as you recommended, and the example works now.

I am planning to use Mitiq for my research (we are modeling materials with quantum computers), so I look forward to integration with the latest Qiskit version.

[2021-06-28 23:23] rmlarose opened #766 "Some documentation is not being tested in CI"
If you copy-paste the [IBMQ example](https://mitiq.readthedocs.io/en/stable/examples/ibmq-backends.html) into a [colab](https://colab.research.google.com/drive/1UK8mTyVIY673U23zXjUbhft8BU_M8DQs?usp=sharing), there is an error.

![image](https://user-images.githubusercontent.com/32416820/123715315-03eb6180-d846-11eb-81db-44bcf858e942.png)

(Should be `from mitiq import zne` instead of `import mitiq

[2021-06-29 00:21] rmlarose opened #767 "Cannot run `execute_with_zne` with braket circuits"
[Checking the length of the circuit in `BatchedFactory.run`](https://github.com/unitaryfund/mitiq/blob/master/mitiq/zne/inference.py#L524-L528) bugs out because braket circuits do not have `__len__` defined.

## MWE

(Cirq is only in the picture here because I don't know how to simulate circuits in braket.)

[code]

Raises

[code]

## Proposed fix

Convert the circuit to Cirq and check `len(list(c

[2021-06-29 06:32] crazy4pi314 commented on #761
Is this a duplicate of #759 ?

[2021-06-29 08:49] andreamari opened #768 "Make sure that error mitigation techniques are tested for all SUPPORTED_PROGRAM_TYPES"
For example, at the time moment, zero-noise extrapolation is never tested with Braket circuits (see  #767).

A good way to automatically test all (current and **future**) supported circuit types is to loop over `mitiq._types.SUPPORTED_PROGRAM_TYPES` when writing important tests.  For example this was done here:
https://github.com/unitaryfund/mitiq/blob/ff6d3e540d7f14430a3dfcf4f7d1f1a5bdc50109/miti

[2021-06-29 08:54] nathanshammah commented on #768
Great. Maybe we could add something about it in the developers' guide?

[2021-06-29 17:03] #489 closed

[2021-06-29 17:44] #767 closed

[2021-06-30 09:28] andreamari commented on #755
Actually, the rounding that you suggest is what the function is already doing.

Maybe we can only raise a warning (instead of an error) if the `scale_factor` is not `np.isclose` to its odd integer approximation.

My only concern is that the user may not be aware of the such a crude rounding approximation. E.g. `scale_factor = 2` is rounded to `1`.

[2021-06-30 17:23] rmlarose commented on #755
I'm ok with a warning but I don't think its necessary as long as the function is well-documented and clearly states it will round the scale factor.

[2021-06-30 17:36] nathanshammah opened #775 "Add code from the mitiq paper"
The co-authors have agreed on making public the code relevant to the code snippets and plots appearing figures of the Mitiq paper (https://arxiv.org/abs/2009.04417).

We discussed different possible routes. One was to have a separate repository, `mitiq-paper`. The one we are implementing, to ensure that the code keeps working and to reduce overhead, is to have the code snippets and plots included

[2021-06-30 17:52] rmlarose commented on #761
There's three issues open for this now - this one, #759, and #775. Can we please consolidate @nathanshammah?

[2021-07-01 02:33] rmlarose opened #777 "Move example Jupyter notebook"
The example Jupyter notebook at https://mitiq.readthedocs.io/en/stable/examples/test.html is quite nice, but it's very strange to include this in the same spot as Mitiq examples - it's a note to contributors, not an example using Mitiq.

![image](https://user-images.githubusercontent.com/32416820/124055861-afd1b000-d9f2-11eb-946b-b84bf4c08a1a.png)

Can we move this to https://mitiq.readthedocs.io/

[2021-07-01 12:53] andreamari commented on #768
Initially only `execute_with_cdr` was tested with all `SUPPORTED_PROGRAM_TYPES`.

A recent PR #769 , added a similar test for `execute_with_zne`.

I just opened #779, which does the same for `execute_with_pec`. So, if #779 will be merged, tI think his issue can be closed.

My proposal was to just add some tests with a loop over `SUPPORTED_PROGRAM_TYPES`. In this way, if in the future we add a new

[2021-07-01 22:51] rmlarose commented on #768
Thanks Andrea, sounds good.

It might not be a bad idea to have a test like the following:

- Find every `execute_with*` function.
- For each one, raise an error if there is not a line that contains `@pytest.mark.parametrize("circuit_type", SUPPORTED_PROGRAM_TYPES.keys())` in the corresponding module.

It could probably use a design document - e.g., we probably want to be able to ignore modules in

[2021-07-01 22:57] #768 closed

[2021-07-01 23:03] rmlarose commented on #692
Is this fixed? I see it as the last entry in [the bib](https://mitiq.readthedocs.io/en/stable/zz_bibliography.html).

![image](https://user-images.githubusercontent.com/32416820/124198619-05639680-da9f-11eb-8f8c-ad4fc83e4c9f.png)

[2021-07-02 00:31] crazy4pi314 commented on #759
@nathanshammah is this a duplicate of #775?

[2021-07-02 01:22] crazy4pi314 commented on #760
Ok I got all the external contributors I think, I'll add our team in comments here

[2021-07-02 01:24] crazy4pi314 commented on #760
@all-contributors please add @crazy4pi314 for maintenance, code, doc, infra, ideas

[2021-07-02 01:25] crazy4pi314 commented on #760
@all-contributors please add @karalekas for maintenance, code, doc, infra, ideas

[2021-07-02 01:30] crazy4pi314 commented on #760
@all-contributors please add @andreamari for maintenance, code, doc, infra, ideas

[2021-07-02 01:33] crazy4pi314 commented on #760
@all-contributors please add @willzeng for maintenance, code, doc, infra, ideas

[2021-07-02 01:43] crazy4pi314 commented on #760
@all-contributors please add @nathanshammah for maintenance, code, doc, infra, ideas

[2021-07-02 01:45] crazy4pi314 commented on #760
@all-contributors please add @rmlarose for maintenance, code, doc, infra, ideas

[2021-07-02 01:47] crazy4pi314 commented on #760
@all-contributors please add @francespoblete for design

[2021-07-02 16:10] nathanshammah commented on #762
Thanks @jakelishman.

[2021-07-02 16:15] crazy4pi314 commented on #720
@rmlarose @L-P-B Any thoughts if this should in the milestone?

[2021-07-02 16:20] crazy4pi314 commented on #775
Copying over notes from duplicate issue:

The current code for figures and data for the Mitiq paper is a bit spread out and as discussed a the 6/25 community call we decided to add all data/sample code/figure code to the docs.

- [ ] Setup directory in the docs for data
- [ ] Add what raw data we have
- [ ] Add current plot source
- [ ] Add or link to any example code shown
- [ ] Setup testing for

[2021-07-02 16:20] #759 closed

[2021-07-02 16:58] nathanshammah commented on #775
We discussed this at the Mitiq meeting today.

We decided the following:
- The **data** is not large (less than 1MB) and it is most straightforward to include it here, for coherence and future maintenance of the related notebooks.
- I will downscope #776 to include only the jupyter notebook with the **code snippets** and a folder with the raw data, so that this action item can be ticked by the ~ti

[2021-07-03 14:22] Eyuel-E opened #802 "Using qiskit QuantumCircuit with some unused registers"
Pre-Report Checklist
--------------------
 [ ✓ ] I am running the latest version of mitiq
 [ ✓ ] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

I was using the execute_with_zne function with qiskit's circuit. However, the execute_with_zne() fails to execute when a QuantumCircuit with some unused registers is provided. The same problem arise

[2021-07-03 16:21] nathanshammah commented on #766
We are running the tests on the documentation:
https://github.com/unitaryfund/mitiq/blob/58fdff01d53c0b9cf9b068d60e005c094ca6ffcb/.github/workflows/test.yml#L52

In the user guide, we have 76 `testcode` directive instances. .

With regards to test-code blocks in notebooks, we can look into that. The way myst works is by building the docs by running the notebooks (be them rst or other formats), so

[2021-07-03 16:47] nathanshammah commented on #777
Personally I don't dislike it too much where it is. One option could be to include it in the Contributing or Contributing to docs part.

[2021-07-04 19:24] rmlarose commented on #802
Thanks @Eyuel-E for reporting, this is indeed a bug on our end. I opened #803 to fix it and we should have a patch release soon (probably next week) allowing you to run this example.

Note unrelated to bug: When you call `qiskit.transpile`, you probably want to set `optimization_level=0`. If you print out the circuit in your example after calling `qiskit.transpile`, it only has the measurements.

[2021-07-05 13:03] Eyuel-E commented on #802
Thank you for the reply @rmlarose .

Yes, that's right. Actually, I just provide the basic example, as the operation is identity it makes sense that it only has measurement when optimized. I was using different circuit initially.  Anyway thanks I didn't notice that at first.

[2021-07-06 04:28] rmlarose commented on #766
Thanks for noting the global config. I removed it in #804 to test and the docs build passes, so there is something else going on.

[2021-07-06 14:41] nathanshammah opened #805 "Add notebook on ZNE for VQE for H2"
Add a notebook in the examples of the documentation on ZNE for VQE for H2, as discussed in #775, to provide an example from the Mitiq paper that is self-consistent and useful for users.

[2021-07-06 14:43] nathanshammah opened #806 "Add a notebook on ZNE for randomized benchmarking with backends"
Add a notebook with a tutorial in the examples' section of the documentation on ZNE for randomized benchmarking on IBM Q and Rigetti back-ends, as discussed in #775, to provide an example from the Mitiq paper that is self-consistent and useful for users (Section III.A, Figure 3 in arXiv v2).

[2021-07-06 14:45] nathanshammah opened #807 "Add a notebook on PEC on a simulator as in paper"
Add a notebook with a tutorial in the examples' section of the documentation on PEC on a simulator, as discussed in #775, to provide an example from the Mitiq paper that is self-consistent and useful for users (Section III.C, Figure 5 in arXiv v2).

[2021-07-06 16:51] andreamari commented on #807
Thanks @nathanshammah, take this issue.

[2021-07-06 18:03] andreamari commented on #766
The problem seems to be related to using `.. testcode:: python` instead of just `.. testcode::` .
See last commit `[test] try removing "python" style label` of #804   (i.e. 9bcb927) .

[2021-07-06 18:07] #802 closed

[2021-07-07 01:22] rmlarose commented on #752
The only relevant portion from the colab is below.

[code]

Problems:

- `type(self.ansatz)` is [QAOAAnsatz](https://qiskit.org/documentation/stubs/qiskit.circuit.library.QAOAAnsatz.html) but needs to be `qiskit.QuantumCircuit`.
  - This causes the error message that you see.
- `energy_evaluation` does not have the signature `qiskit.QuantumCircuit -> float` and so cannot be used with [`mitigate_ex

[2021-07-07 01:24] rmlarose commented on #752
Totally missed @andreamari's comment somehow 🙃 at least we had more-or-less the same conclusions.

[2021-07-07 08:02] nathanshammah commented on #692
Yes, thanks for noticing.

[2021-07-07 08:02] #692 closed

[2021-07-07 17:11] #761 closed

[2021-07-07 18:02] rmlarose opened #810 "Images don't appear on Mitiq PyPI"
Small thing, but just noticed the Mitiq logo and gifs don't show up in the README on PyPI (https://pypi.org/project/mitiq/):

![image](https://user-images.githubusercontent.com/32416820/124807455-c6fd2a00-df2b-11eb-8be7-0ba08adcd733.png)

![image](https://user-images.githubusercontent.com/32416820/124807505-d1b7bf00-df2b-11eb-8da3-786991a2a048.png)

I think the fix is to include these images in [M

[2021-07-08 08:42] #755 closed

[2021-07-09 16:23] rmlarose commented on #620
There were some updates to pymc3 and its dependencies which may have resolved this issue. I tried with earlier updates https://github.com/unitaryfund/mitiq/pull/715/commits/0c1eca32edc41f5bddc7867cf8a88a5e2f0831b6, https://github.com/unitaryfund/mitiq/pull/715/commits/ffa131963a6e869a46ec6d47ba270ecd1da3faa1, https://github.com/unitaryfund/mitiq/pull/715/commits/ffa131963a6e869a46ec6d47ba270ecd1da

[2021-07-09 16:24] rmlarose commented on #777
Agreed to remove from TOC @ Mitiq meeting.

[2021-07-09 16:26] nathanshammah opened #813 "Enable interactive code in the documentation"
This could be done with [`jupyter-book`](https://jupyterbook.org/intro.html), as discussed in the Mitiq meeting, which extends capabilities of `my-binder`.

[2021-07-09 16:29] crazy4pi314 commented on #760
This is done! Thanks to all the great contributions!

[2021-07-09 16:29] #760 closed

[2021-07-09 16:35] rmlarose commented on #766
Thanks @andreamari. There's a lot of other `.. testcode:: python` directives in that file, I guess those should be removed as well...?

[2021-07-10 00:12] crazy4pi314 opened #815 "New technique: Measurement error mitigation"
## New technique: Measurement error mitigation (by inverting confusion matrix)

### Problem

Mitiq needs more error mitigation techniques.

Measurement error mitigation is based on [Measurement Error Mitigation for Variational Quantum Algorithms](https://arxiv.org/abs/2010.08520), should be relatively easy to implement.

### Rough requirements

- Should be implemented in a way such that it is very

[2021-07-10 00:14] crazy4pi314 opened #816 "New technique: Post-selection of measurement results"
## Post-selection of measurement results

### Problem

- Trivial to implement (see below).
    - Technically can be framed as quantum subspace expansion with a classical code, but probably not the best to frame this way in Mitiq.
- Can significantly improve performance when applicable.

[code]

### Rough requirements

- Requires support for measurement results.

[2021-07-10 00:17] crazy4pi314 opened #817 "Pennylane integration"
## Pennylane integration for Mitiq

### Problem

We would like to have Mitiq work directly in [Pennylane](https://github.com/PennyLaneAI/pennylane) workflows.

### Rough requirements

- TBD

[2021-07-10 00:17] crazy4pi314 commented on #817
@andreamari if you want to add more details here that would be great! 💖

[2021-07-10 00:21] crazy4pi314 opened #818 "New technique: Quantum subspace expansion"
## New error mitigation technique: Quantum subspace expansion

### Problem

Mitiq needs more error mitigation techniques.

The [Quantum subspace expansion](https://www.nature.com/articles/s41467-020-14341-w) paper outlines a new error mitigation technique which involves error correcting codes. This is estimated to take ~6 months dev time.

**Related papers**
- [Symmetry verification](https://arxiv

[2021-07-10 00:27] crazy4pi314 opened #819 "New technique: Virtual distillation"
## New error mitigation technique: Virtual distillation

### Problem

Mitiq needs more error mitigation techniques.

Based on [Virtual Distillation for Quantum Error Mitigation](https://arxiv.org/abs/2011.07064). Also could consider [Koczor’s derangement method](https://arxiv.org/abs/2011.05942)

### Rough requirements

- TBD

[2021-07-10 00:31] crazy4pi314 opened #820 "New technique: Training with Fermionic linear optics"
## New error mitigation technique: Training with Fermionic linear optics

### Problem

Mitiq needs more error mitigation techniques.

Based on [Error mitigation by training with fermionic linear optics](https://arxiv.org/abs/2102.02120). Could be viewed as an enhancement to `mitiq.cdr`: Instead of (near) Clifford circuits, the training set consists of Fermionic linear optic (FLO) circuits, which a

[2021-07-10 00:33] crazy4pi314 opened #821 "New technique: Learning-based quantum error mitigation"
## New error mitigation technique: Learning-based quantum error mitigation

### Problem

Mitiq needs more error mitigation techniques.

The [Learning-based quantum error mitigation](https://arxiv.org/abs/2005.07601) could be viewed as an enhancement to `mitiq.cdr`: Fit data with ansatz other than ax + b.

### Rough requirements

- TBD

## Draft RFC
https://docs.google.com/document/d/1VrZRV59-2Apem

[2021-07-10 00:38] crazy4pi314 opened #822 "New technique: Dynamical decoupling"
## New error mitigation technique: Dynamical decoupling

### Problem

Mitiq needs more error mitigation techniques.

Is there any experiment on gate-level dynamical decoupling?
This work from Lidar’s group was run on IBM and Rigetti with gate level control: https://arxiv.org/abs/1807.08768

### Rough requirements

- Does it require pulse-level control?

[2021-07-10 00:47] crazy4pi314 opened #823 "QuTiP integration"
## Integrate Mitiq with QuTiP

### Problem

QuTiP is one of the most popular, independent quantum open source packages to date. It would be great if we could demonstrate or build necessary integrations so folks simulating with QuTiP could use Mitiq.

### Rough requirements

- TBD

[2021-07-10 00:47] crazy4pi314 commented on #823
@nathanshammah could you maybe add some more detail here? Thanks!

[2021-07-10 00:50] crazy4pi314 opened #824 "OpenPulse integration"
## Integrate Mitiq with OpenPulse

### Problem

Mitiq is an error mitigation tool, which could need access to pulse level control of devices for particular mitgation techniques. Integration/use of [OpenPulse](https://www.ibm.com/blogs/research/2019/12/qiskit-openpulse/) could facilitate this.

### Rough requirements

- TBD

[2021-07-12 18:45] #777 closed

[2021-07-12 19:13] #766 closed

[2021-07-12 22:56] rmlarose opened #828 "Spruce up docs landing page"
The [documentation landing page](https://mitiq.readthedocs.io/en/stable/) is just a huge outline of links and is very bland & boring. (Also, it says "mitiq" instead of "Mitiq" still.)

![image](https://user-images.githubusercontent.com/32416820/125365453-49c62080-e342-11eb-8880-50c7ec3d9613.png)

## Options

- Add some text and/or images to spruce this up. To be honest I don't think we need the hu

[2021-07-12 22:58] rmlarose commented on #828
Adding this to the 0.10 milestone. If we can get this and #813 done, the documentation will be in much better shape.

[2021-07-16 15:54] rmlarose commented on #738
This has been fixed right @andreamari? I think so, so closing. Reopen if not.

[2021-07-16 15:54] #738 closed

[2021-07-16 18:23] rmlarose commented on #828
I would ditto this for the [examples landing page](https://mitiq.readthedocs.io/en/stable/examples/examples.html). Again just shows a huge TOC (which is automatically included on the left nav on RTD).

![image](https://user-images.githubusercontent.com/32416820/125992299-e88a6bf4-6c0a-4845-945a-52a206c70494.png)

[2021-07-19 20:33] Misty-W opened #834 "Support pyQuil parametric compilation"
Parametric compilation saves time by compiling the program ansatz once, instead of compiling each time the parameters are updated. In pyQuil 2.28.1, a `memory_map` argument is used to substitute in values for previously-declared Quil variables in the pre-compiled executable. It would be helpful to be able to leverage the runtime improvement from parametric compilation when using Mitiq. Right now u

[2021-07-19 21:09] rmlarose commented on #834
Thanks @Misty-W. I haven't looked into it yet but I suspect that the pyQuil program -> Cirq circuit -> pyQuil program conversion causes the "declare" memory reference to be lost.

Some of these more detailed features in individual circuits are harder to maintain during conversions. We should definitely support this if it is possible though.

[2021-07-19 22:23] rmlarose commented on #834
Conversions indeed drop the memory reference:

[code]
Working on a fix for this.

[2021-07-20 00:40] rmlarose commented on #834
#835 fixes this. You'll also need to use something like [`mitiq.interface.mitiq_pyquil.pyquil_utils.generate_qcs_executor`](https://github.com/unitaryfund/mitiq/blob/master/mitiq/interface/mitiq_pyquil/pyquil_utils.py#L27) to make sure the memory declarations are correct: The scaled circuits will have names like "m0" but you need a special one called "ro" to work in PyQuil.

[2021-07-20 03:46] Misty-W commented on #834
Thanks @rmlarose, appreciate the quick fix!

As for declaring the "ro", right now I have

    def ansatz():
        program = Program()
        theta = program.declare('theta', memory_type='REAL')
        ro = program.declare('ro', memory_type='BIT', memory_size=1)
        program += RY(theta, 0)
        program += MEASURE(0, ro[0])
        return program

    def expectation_fn(theta, executable)

[2021-07-20 16:23] #834 closed

[2021-07-20 17:31] rmlarose commented on #834
Hi Misty, I also fixed the other issues you were running into in #835. Here's your (slightly modified) example which I can successfully run on Mitiq/master now:

[code]

(The story with `"ro"` is that (i) you were doing it correctly but (ii) when `execute_with_zne` was called, the name of the register in the scaled circuits would get changed to something that wasn't `"ro"`, so the measurements wou

[2021-07-20 23:12] crazy4pi314 commented on #828
So pretty much the only thing I found other than just omitting H2 headings from these TOCs is this sphinx extension: https://sphinx-panels.readthedocs.io/en/latest/

@rmlarose can you elaborate more on what you think would address this issue and if this package would help?

[2021-07-20 23:26] rmlarose commented on #828
I think the panels extensions looks nice and like a good (relatively easy?) option to pursue! I particularly like that you can [add images to panels](https://sphinx-panels.readthedocs.io/en/latest/#image-caps) and [make them clickable links](https://sphinx-panels.readthedocs.io/en/latest/#link-buttons). This could be really cool for tutorials which produce a plot - the image could be the plot prod

[2021-07-20 23:34] rmlarose commented on #828
My only other comment is how sphinx-panels relates to / integrates with #813. I would value easily-runnable online docs over visuals if we had to pick.

[2021-07-21 19:46] Misty-W commented on #834
@rmlarose, thanks again for the fix and the explanations! I tested the "slightly edited example" in my environment last night, and unfortunately I'm still getting the same error.

I made sure to update Mitiq from [https://github.com/unitaryfund/mitiq.git](https://github.com/unitaryfund/mitiq.git) before running my example. I also looked at the conversions.py file in my environment directory. I can

[2021-07-22 01:55] rmlarose commented on #834
Still working for me. Did you do a development install (`pip install -e .`) of Mitiq? Suggest trying a clean install with that in a new environment. Please let me know on http://discord.unitary.fund if you still have issues.

[2021-07-22 23:24] crazy4pi314 commented on #828
I think the only reasonable option that isn't massive overhead is to drop it to the first level headers instead of depth 2. That will shorten the lists to hopefully just the main topics. I personally am not a fan of this as I often click the subheadings to get exactly where I want, but I don't have any strong feelings.

[2021-07-22 23:44] crazy4pi314 commented on #828
Also for #813 jupyter book already uses the panels extension: https://jupyterbook.org/explain/sphinx.html#how-to-replicate-jupyter-books-functionality-in-sphinx

[2021-07-23 09:06] nathanshammah commented on #813
Quick update on the findings so far:

- 1. As expected, setting up My Binder was very straightforward, and the Mitiq runs on cloud if you click here ---> [![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/unitaryfund/mitiq/HEAD), where one can fire up a new notebook and test that Mitiq is installed:
<img width="916" alt="Screen Shot 2021-07-23 at 12 04 37" src="https://use

[2021-07-23 13:41] astrojuanlu commented on #813
Hi! Juan Luis from Read the Docs here, @nathanshammah pinged me privately about this issue.

Your analysis of the current status of the ecosystem is very good. There is ongoing work to make Sphinx support `.yaml` config, one of the difficulties of supporting Jupyter Book natively on Read the Docs https://github.com/sphinx-doc/sphinx/issues/9040 but the conversation has stalled. You can also see so

[2021-07-23 15:52] nathanshammah commented on #813
Thanks @astrojuanlu, actually this solution of using `sphinx-thebe` in the current framework, and possibly add My Binder too, looks great to me and a good fix while things may be sorted out between Sphinx, JB & RTD. Thanks for the context.

[2021-07-23 16:13] rmlarose commented on #720
Blocked by #623 because we don't support execute functions that return measurements outside of CDR.

[2021-07-26 18:56] rmlarose opened #839 "Issues with dev install on windows fixed by unpinning numpy & scipy in requirements"
One of our contributors on windows got a wild lapack error from `pip install -e .` (or just `pip install -r requirements.txt`). We were able to fix it by changing `requirements.txt` to just be cirq~=0.10 (i.e., removing numpy and scipy). This could be a one-off, but may be general. It might be an indication to relax the aggressive pinning in our requirements.

OS: Windows
Python version 3.8 & 3.9

[2021-07-29 16:59] nathanshammah commented on #839
I'm generally against unpinning versions as I think it reduces reproducibility in the long run.

[2021-07-30 15:00] nathanshammah opened #842 "Output not shown in paper code blocks"
Code output is not shown in paper code blocks on [RTD](https://mitiq.readthedocs.io/en/latest/examples/mitiq-paper/mitiq-paper-codeblocks.html).

<img width="797" alt="Screen Shot 2021-07-30 at 17 59 54" src="https://user-images.githubusercontent.com/14573436/127672392-fd7692d9-5f7a-4432-947f-11e6dad7f097.png">

Fixing the extension metadata did not work, in #840.

[2021-07-30 16:28] nathanshammah commented on #665
I can help look into this, and into the test pypi trigger.

[2021-08-02 21:30] rmlarose commented on #775
Closed by #838.

[2021-08-02 21:30] #775 closed

[2021-08-04 16:00] #765 closed

[2021-08-05 16:27] crazy4pi314 commented on #828
I think I would rather table this for now, I would rather address this when/if there is a tool that can help better. Closing but can re-open whenever.

[2021-08-05 16:27] #828 closed

[2021-08-05 17:25] #810 closed

[2021-08-06 00:21] crazy4pi314 opened #848 "Check stale action is not doing anything"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
The workflow action `close-stale` correctly identifies stale issues and PRs and takes no action as some necessary parameters are not set in the configuration.

How to Reproduce
----------------

Look

[2021-08-06 00:28] crazy4pi314 opened #850 "Automate version numbering for Python package building"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

There are lots of ways that the version number gets set/changed in the setup.py as well as CI for building and testing. There are common tools that can help make this simpler like [versioneer](https://pypi.org/project/versioneer/)

Propos

[2021-08-06 15:53] crazy4pi314 commented on #762
So based on discussions, this is the process we follow roughly: https://reallifeprogramming.com/git-process-that-works-say-no-to-gitflow-50bf2038ccf7

Please add comments/discussion below, I will start working on modifying the actions soon.

[2021-08-13 16:09] rmlarose commented on #816
Closed by #844.

[2021-08-13 16:09] #816 closed

[2021-08-13 16:10] rmlarose commented on #815
#844 added on technique for measurement error mitigation, more to come!

[2021-08-13 17:24] #842 closed

[2021-08-13 22:25] crazy4pi314 commented on #839
IMO the philosophy on this that makes sense to me is that we only add things to the `requirements.txt` that we directly use. If we had something that returned a plot from a pandas table we would add pandas, and rely on it to bring in a correct version of matplotlib. AFAIK Lapack is a native numeric library that was likely coming in from numpy. I usually use conda oto avoid things like this (native

[2021-08-13 22:38] crazy4pi314 opened #857 "Add a requirements locking tool for dependency reproducibility"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

We want to make sure using and developing Mitiq is as reproducible as possible. When this comes to dependency management or packaging, we use requirements files to list what Python will need installed to use or develop Mitiq. When specify

[2021-08-16 19:03] crazy4pi314 opened #858 "Mitiq contributor survey"
Hi All!

The Mitiq maintainers are starting to do some user surveys for folks who use, develop, or want to use Mitiq and were wondering if folks would be willing to participate in a short in-person interview (~10 min)? If so, please [send us and email](mailto:sarah@unitary.fund) and we can setup a time convent for you.

If you don't have time to chat in person, we also have [a survey](https://bit.

[2021-08-16 19:03] crazy4pi314 commented on #858
Ping @Yash-10 @LogMoss @sid1993

[2021-08-16 22:47] sid1993 commented on #858
I have filled up the survey and would be happy to get on a call if needed.

[2021-08-16 23:08] crazy4pi314 commented on #858
@sid1993 Thanks so much! 💖

[2021-08-17 17:32] #807 closed

[2021-08-17 19:56] #665 closed

[2021-08-19 01:41] #848 closed

[2021-08-20 05:17] Misty-W commented on #529
Still working on this! Almost done I think.

[2021-08-20 11:54] purva-thakre commented on #335
Working on this. Should be able to mark above linked PR as ready for review in the next 2 weeks.

[2021-08-20 11:55] purva-thakre commented on #491
Don't think I will have the chance to do this soon. If anyone wants to assign it to themselves, feel free to do so.

[2021-08-20 11:59] purva-thakre commented on #675
I do want to work on this soon after I have caught up with other things I am currently working on.

[2021-08-20 16:12] willzeng commented on #529
Cool looking forward to it @Misty-W !

[2021-08-20 17:34] crazy4pi314 opened #861 "Pull requests/Issue template forms"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

There is a new feature in GitHub ([docs here](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms)) that makes it easy to

[2021-08-20 19:10] crazy4pi314 commented on #555
Working on splitting this up, will close once that's done.

[2021-08-23 15:26] dbanty commented on #839
I currently can't install this package with Python 3.9 because the scipy that's required (1.4.1) doesn't have a wheel for 3.9 and building from source fails with the latest setuptools.

Does `mitiq` actually not support scipy > 1.4.1, or can the requirements be loosened to something like ~=1.4 so new non-major versions are supported?

[2021-08-23 21:46] eliottrosenberg opened #863 "Randomized compiling"
It would be great if Mitiq could perform randomized compiling. I am happy to work on this but would like to collaborate with someone who is more familiar with the source code.

Refs:
arXiv:1512.01098, 1807.04973, 1906.06270, 2103.08591

[2021-08-23 21:47] #863 closed

[2021-08-23 21:49] eliottrosenberg opened #864 "Randomized compiling"
It would be great if Mitiq could perform randomized compiling. I am happy to work on this but would like to collaborate with someone who is more familiar with the source code.

It should be simple to implement. Each CNOT gate gets padded by 1-qubit gates that ideally don't affect the outcome.

Refs:
arXiv:1512.01098, 1807.04973, 1906.06270, 2103.08591

[2021-08-23 21:51] eliottrosenberg commented on #863
(Moved to "roadmap")

[2021-08-24 03:57] Misty-W commented on #529
@willzeng I might have spoken a little too soon... my VQE example exhibited the desired behavior twice in a row, but I haven't been able to reproduce it since. Trying out some different noise models to see if that solves the problem.

[2021-08-24 16:23] crazy4pi314 commented on #864
Thanks for filing this @eliottrosenberg 💪 I know myself and the team would be happy to help, feel free to ask questions/bounce ideas here or in the discord channel, and we have our regular community call every friday at 9am PDT where the whole team will be there to discuss issues/PRs/Roadmap topics!

[2021-08-24 16:41] crazy4pi314 opened #865 "Test for Discord webhook"
NOT A REAL ISSUE :P

[2021-08-24 16:42] #865 closed

[2021-08-24 21:19] crazy4pi314 commented on #839
@dbanty Thanks for the feedback on this! It seems like we have some issues in version specs in the requirements files when it comes to versions of those packages for windows. I am also on windows, and am seeing if I can update the file now!

[2021-08-25 00:17] crazy4pi314 commented on #839
FWIW I was able to reproduce this, as it looks like the versions we pinned for numpy/scipy were both pretty out of date.

[2021-08-25 18:08] crazy4pi314 opened #867 "Migrate to pyproject.toml for project configuration"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

By newly accepted [PEP guides](https://www.python.org/dev/peps/pep-0631/) for best practices, project configuration/parameters should be set in a `pyproject.toml` instead of requirements files, setup.py, and other conf files. Many other t

[2021-08-25 18:19] crazy4pi314 opened #868 "Add error when using executor with missing package install"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

We currently document [here](https://mitiq.readthedocs.io/en/stable/readme.html#supported-quantum-programming-libraries) that you need to install other dependencies for particular executors/conversions. It would be good to have a pointer

[2021-08-25 18:34] crazy4pi314 opened #869 "Add Mitiq to conda-forge package source for conda"
### Problem

Right now you can only install Mitiq from pip, which is common, but much harder to correctly resolve dependency conflicts as well as manage requirements outside of python (some of our dependencies may need to be built from source). Especially for windows development and users, having a conda package would make a lot of issues moot ( see #839, #837, #620, #416 to name a few).

### Roug

[2021-08-27 21:44] crazy4pi314 opened #873 "Not all folding methods support QPROGRAM"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

It seems like many of the helper functions for folding only work for Circ circuits, but seem to pass some tests when given Qiskit circuits with seemingly no conversion. See https://github.com/unitary

[2021-08-28 00:00] #473 closed

[2021-08-28 00:00] #386 closed

[2021-08-28 00:00] #427 closed

[2021-08-28 00:00] #357 closed

[2021-08-28 00:00] #270 closed

[2021-08-28 00:00] #307 closed

[2021-08-30 22:01] crazy4pi314 commented on #873
@rmlarose is this correct? I also couldn't work out exactly how existing methods supported Qiskit circuits 😓

[2021-08-30 23:50] rmlarose commented on #873
`_create_weight_mask` is a helper function specific to `cirq.Circuit`s. The public folding functions https://github.com/unitaryfund/mitiq/blob/a3d6bd773798af3ec3e7a555ea6a1b91e207be1e/mitiq/zne/scaling/__init__.py#L17-L27 are for any `QPROGRAM`. I think mypy complains if these public functions are not annotated with `cirq.Circuit`s, but anything with the `@noise_scaling_converter` decorator accept

[2021-08-31 12:45] andreamari commented on #653
I am reopening this since it is something worth doing, even if not urgent.

[2021-09-01 05:12] #705 closed

[2021-09-01 05:30] rmlarose opened #890 "Allow `generate_mirror_circuits` to return any supported `QPROGRAM`"
Add a `return_type` argument to `generate_mirror_circuit` as in

https://github.com/unitaryfund/mitiq/blob/eb608227474c4578b6f64751b9d1ad9c4b85c21f/mitiq/benchmarks/randomized_benchmarking.py#L33-L38

and handle conversions as in

https://github.com/unitaryfund/mitiq/blob/eb608227474c4578b6f64751b9d1ad9c4b85c21f/mitiq/benchmarks/randomized_benchmarking.py#L82-L83

Add tests for all supported progr

[2021-09-01 05:33] rmlarose opened #891 "Make sure mirror circuits created with the same seed are equal"
We need a test for this! Follow up to #859

cc @DSamuel1

[2021-09-02 22:18] crazy4pi314 opened #896 "Upgrade Cirq to 0.12.0"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

We use Cirq as a core dependency, and the newest version (we are 2 minor releases behind) has a [lot of big changes](https://github.com/quantumlib/Cirq/releases/tag/v0.12.0), like the vendor/backend

[2021-09-02 22:22] crazy4pi314 opened #897 "Move from docker Rigetti toolchain to local executables"
In a recent upgrade, pyquil and the Forest SDK now have native executables built for all operating systems that act as the local simulation and build toolchain. Right now in both our CI and local dev experiences we need Docker locally installed and running with ports configured correctly to make any testing or use of pyquil work. We should make a plan to migrate to the native executable install pa

[2021-09-02 22:33] crazy4pi314 opened #898 "Upgrade to PyQuil 3.X"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

Currently Mitiq depends on a 2.x version of PyQuil, and since July there has been a new, [breaking release out 3.0](https://github.com/rigetti/pyquil/blob/v3.0.0/CHANGELOG.md#v300). It would be good

[2021-09-03 03:04] #890 closed

[2021-09-03 09:54] andreamari commented on #721
This error doesn't appear in CI anymore since a long time.
Probably it was due to some subtle problem in Cirq (or in Python?) that seems to be solved.
Therefore I am closing this, but please reopen if someone disagrees.

[2021-09-03 17:06] rmlarose commented on #721
Just saw this the other day actually, still around: https://github.com/unitaryfund/mitiq/runs/3502306803?check_suite_focus=true

[2021-09-06 09:33] andreamari commented on #721
ops, sorry

[2021-09-07 00:00] #570 closed

[2021-09-07 00:00] #565 closed

[2021-09-08 16:42] rmlarose opened #905 "Support any two-qubit gate in mirror circuits"
Right now mirror circuits only have CNOTs. We want to support other two-qubit gates motivated by hardware providers with other gate sets, e.g., CZ instead of CNOT.

## Desired behavior

Add a `two_qubit_gate` parameter to `generate_mirror_circuit`. This should be front-end agnostic (e.g., not a `cirq.Gate` or `pyquil.Gate`).

[code]

Every two-qubit gate in the circuit is then an instance of the p

[2021-09-08 16:43] rmlarose commented on #905
@DSamuel1 can you take this one?

[2021-09-08 21:35] crazy4pi314 opened #906 "Extending examples in docs"
## Improving getting started documentation examples for Mitiq

### Problem

A point of feedback we have gotten is that it is hard to know how to get started with Mitiq. Some is because we don't have an example of the technique they are interested in, or for the backend they are using. This roadmap task covers adding a "quick start" section to the docs and adding short samples (if possible in Jupyt

[2021-09-08 21:39] crazy4pi314 opened #907 "Improving PEC documentation"
## Improving PEC content in the Mitiq docs

### Problem

As ZNE was chronologically the first technique supported by Mitiq, there is a bit of an over-representation of its use in the docs more broadly. This roadmap task its to add more content and examples to the docs that use the PEC mitigation technique

### Rough requirements

- Showing examples of using PEC with most backends/integrations.
- I

[2021-09-08 22:00] crazy4pi314 opened #908 "Improve documentation organization"
## Restructuring the Mitiq docs

### Problem

The current docs organization is not ideal based on user surveys, and the dev team has gotten good feedback on what could help the make the documentation more usable. Additions to the docs are minimal in this issue (wanting to leave additional content to further issues), and we focus here on the general flow and organization of the documentation.

###

[2021-09-09 09:50] nathanshammah commented on #818
Just a note that #575 and #599 were somewhat related.

[2021-09-09 09:52] nathanshammah commented on #805
@rmlarose  Shall we add this issue to the next milestone?
Solving this issue would be a quick way to add examples as it seemed a priority request from the community.

Just a note that maybe the only work is that the notebook would need to be converted in `.myst` format.

[2021-09-09 13:41] nathanshammah opened #910 "Enable faster start of interactive notebooks"
With #841 we added interactive notebooks with Binder.
However, currently the binder image gets updated against new commits on the `master` branch.
This means that, given the high frequency of commits merged on master, many users will experience a new build of the image from scratch, instead of finding the saved image that Binder uses when it is on par with the latest `HEAD`.

There are two solutio

[2021-09-09 13:50] nathanshammah commented on #910
My proposed solution, even if it may be short-lived, is to change the  `master` branch with the `release` in the binder link). We should do it after the next release, as that one contains the `binder/` folder and fast-build instructions.  Then we assess how to change the policy if/when we leave the `release` branch format.

[2021-09-09 16:44] rmlarose opened #911 "Better check for fold-ability / support for parameterized circuits"
Right now we say that if a circuit doesn't have a unitary, it has non-unitary gates which are not terminal measurements and therefore cannot be folded.

https://github.com/unitaryfund/mitiq/blob/31f10c252b7015a7415e450c9347f19d5b9fe400/mitiq/zne/scaling/folding.py#L69-L73

A Cirq circuit with symbols doesn't have a unitary but does have an inverse:

[code]

So a better check is looking for an inve

[2021-09-09 18:43] crazy4pi314 commented on #910
This is likely what will address this issue: https://github.com/jupyterhub/repo2docker-action

We would for each release, build and push a docker image to Docker hub and then cache it on mybinder.org for the fastest possible spin up. I would also consider enabling this on PRs so then it can comment with a link to use a cached binder image from the PR's latest commit: https://github.com/jupyterhub/

[2021-09-09 19:32] lasys commented on #752
Sorry for the late reply.
I have found a solution and implemented it as follows.

[code]

I also added Clifford Data Regression in the same function `energy_evaluation` in another project.
If you have nothing to add, the issue can be closed.
Thank you very much for your help and work!

[2021-09-09 19:48] rmlarose commented on #752
Thanks @lasys. I think there could be value in adding a "Mitiq with variational ansatze in Qiskit" example to the documentation. If you'd be interested in writing this using your example as a foundation, please let me know! I'll close this issue and open a new issue for the documentation.

[2021-09-10 00:06] purva-thakre commented on #911
@rmlarose I can take this.

[2021-09-10 00:10] purva-thakre commented on #806
@nathanshammah I can take this.

[2021-09-10 09:14] andreamari commented on #911
It would be good (but probably not easy) to also support this for other frontends beyond Cirq.

[2021-09-10 14:41] rmlarose commented on #911
You got it - thanks Purva!

[2021-09-13 01:19] rmlarose opened #918 "Qubits not in the `connectivity_graph` can be included in a mirror circuit"
MWE

[code]

[code]

Only qubits `3` and `4` should be present in the circuit - these are the only ones in the `computer` - but qubits `0` and `1` are also in the circuit.

[2021-09-13 01:19] rmlarose commented on #918
@DSamuel1 can you take this one?

[2021-09-13 17:13] #529 closed

[2021-09-14 14:47] crazy4pi314 opened #926 "PyQuil examples not rendering on RTD"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

We have two places in the docs where we execute notebooks that use PyQuil backends, and they are not showing the execution output:
- https://mitiq.readthedocs.io/en/latest/examples/pyquil_demo.html
-

[2021-09-14 14:48] crazy4pi314 commented on #926
@Misty-W and @rmlarose got this filed from our investigations yesterday :)

[2021-09-14 18:18] Misty-W commented on #926
thanks Sarah for filing the issue :)

@rmlarose I like the idea of saving the output in a file to solve the immediate problem, although I'm not familiar with RTD so I don't know how to make it work on that end.

[2021-09-14 22:41] crazy4pi314 commented on #926
Re: saving output, that could be really hard as it would have to be checked into the repo, and we would have to update it manually. The point of having executable docs was to avoid precisely this problem. I will look into updating the PyQuil package, as the drastic option (preferable for other reasons) is gonna be a lot more time.

[2021-09-14 22:57] crazy4pi314 commented on #926
https://pyquil-docs.rigetti.com/en/stable/migration.html what I am looking at

[2021-09-14 23:16] Misty-W commented on #926
@crazy4pi314, fyi my latest example (VQE) should work on pyQuil 3.0, but the pyQuil parametric programs example will need to be updated for compatibility.

[2021-09-15 05:18] Misty-W commented on #821
@crazy4pi314 I'd like to give this one a try.

[2021-09-15 13:49] crazy4pi314 commented on #821
Awesome! I'd suggest drafting a proposal for the rough architecture/syntax you are thinking of, and then that give the community a good way to give feedback! There is a formal template in the docs folder, else sharing a word/Google doc link here works too.

[2021-09-15 20:42] #905 closed

[2021-09-15 20:42] #918 closed

[2021-09-16 00:16] crazy4pi314 commented on #620
This is being addressed in #646

[2021-09-16 21:27] rmlarose opened #931 "For any PR modifying documentation, add an action which comments a link to the RTD build"
I didn't know this was a thing until this comment https://github.com/unitaryfund/mitiq/pull/929#pullrequestreview-756097775. For many things it's often easier to review documentation that is already executed, rather than executing it locally or looking at myst diffs on GH.

## Desired behavior

For any PR modifying documentation, a comment is added to the PR that says something like "Preview chang

[2021-09-17 03:09] Abhijnan-Bajpai commented on #931
Hey @rmlarose, I would like to work on this feature. Could I be assigned?

[2021-09-17 15:17] rmlarose commented on #931
Sure thing, it's all yours - thanks!

[2021-09-19 08:41] Abhijnan-Bajpai commented on #931
I tried looking at the comment you provided, but couldn't understand the implementation from there. Could you help me out by providing some more resources where I could find similar implementations?

[2021-09-21 09:26] andreamari commented on #926
What about if we define a mock PyQuil qvm or, more simply, a mock PyQuil executor.
They could be used as a second option if the QVM is not available when building the docs?

Qiskit uses a similar trick (https://qiskit.org/documentation/tutorials/simulators/2_device_noise_simulation.html#Terra-Mock-Backends).

Under the hood a mock `qvm` could:

- convert a pyQuil program to a Cirq circuit
- execut

[2021-09-21 10:07] nathanshammah commented on #926
@andreamari +1 for your suggestion.

[2021-09-21 23:37] rmlarose opened #937 "Flaky behavior with ZNE Braket example"
Sometimes the final plot looks good: (https://mitiq.readthedocs.io/en/latest/examples/braket_mirror_circuit.html)

![image](https://user-images.githubusercontent.com/32416820/134260775-672f2faa-501f-4e52-b166-ac17209c2fb9.png)

Other times its nonsensical: (https://mitiq.readthedocs.io/en/stable/examples/braket_mirror_circuit.html)

![image](https://user-images.githubusercontent.com/32416820/13426

[2021-09-22 15:49] purva-thakre commented on #911
@andreamari Would you prefer these be added to each `non_cirq_utils` [available in this folder ?](https://github.com/unitaryfund/mitiq/tree/master/mitiq/interface)

[2021-09-22 16:18] andreamari commented on #937
FYI I am repeatedly building the stable docs from the readthedocs admin page untill the correct plot will appear (I hope). Not an optimal solution, but at least it should be enough to fix the stable version of the documentation.

[2021-09-22 16:34] nathanshammah commented on #937
That could be understandable for a stochastic (quantum trajectory-like) simulator without many repetitions. But a density matrix simulator should be deterministic, unless is a stochastic ~photocurrent + deterministic simulator.

I am not sure what is the physics behind `DensityMatrixSimulator`. I see it [here](https://github.com/aws/amazon-braket-default-simulator-python/blob/93ba96712bd03c72ed700

[2021-09-22 19:20] crazy4pi314 commented on #926
Imo, the effort doing this would be better spend moving docs generation to our control on GitHub as it addresses other issues/features that we have wanted (custom domain, jupyter book support, etc.)

[2021-09-22 19:51] rmlarose commented on #937
Thanks. Fine as a patch fix while keeping this open until an actual fix.

[2021-09-23 09:26] andreamari commented on #911
@purva-thakre I think we can start with supporting parametrized Cirq circuits as suggested by @rmlarose in this issue.
This is already a useful improvement.

In a second step we can think how to support non-Cirq parametrized circuits. This second step would require to define conversion rules for parametrized gates to and from Cirq.

[2021-09-23 13:53] purva-thakre commented on #911
@andreamari That's what I thought was needed for the other frontends. I started to figure out how it would work for Qiskit parametrized circuits yesterday. I'll create a separate PR for each as I work on them and link to this issue.

[2021-09-23 15:11] andreamari commented on #937
@rmlarose  Actually the trick of re-building the stable docs doesn't seem work. I did it several times and the plot looks always bad.

After playing a bit with the example, I realized that the problem is a small bug in the computation of the correct bitstring in mirror circuits (see #940). So the AWS simulator is ok.

[2021-09-23 15:28] andreamari opened #941 "Support parametrized circuits in other frontends beyond Cirq"
After parametrized gates (with symbolic parameters) of Cirq circuits will be supported (#939 and #911), it would be good to
support parametrized gates of other circuit types too. This issue is to keep track of what we currently support in Mitiq:

- [x]  Cirq parametrized circuits.
- [ ] Qiskit parametrized circuits.
- [ ] PyQuil parametrized circuits.
- [ ] Braket parametrized circuits.
- [ ] Penn

[2021-09-23 15:38] rmlarose commented on #720
Steps:

1. Get rid of the [`MeasurementResult` in mitiq.cdr.execute](https://github.com/unitaryfund/mitiq/blob/master/mitiq/cdr/execute.py#L21) in favor of [`mitiq.MeasurementResult`](https://github.com/unitaryfund/mitiq/blob/cb6ef57a325cc024da9ab5f36651be3054fce5ff/mitiq/rem/measurement_result.py#L28).
2. Use `mitiq.Executor(execute).run(...)` to check for batching instead of `execute(...)` in a

[2021-09-23 15:52] #937 closed

[2021-09-23 19:25] rmlarose commented on #896
Not upgrading Cirq until Cirq 0.14 - module deprecation `cirq_google` as `cirq.google` for backwards compatibility causes errors with Sphinx docs. See #915.

[2021-09-23 19:25] #896 closed

[2021-09-23 19:26] rmlarose commented on #891
This was fixed by #895.

[2021-09-23 19:26] #891 closed

[2021-09-23 19:26] rmlarose commented on #873
I think this can be closed. Please reopen if appropriate.

[2021-09-23 19:26] #873 closed

[2021-09-23 19:32] rmlarose commented on #868
I'm not sure if we should spend any effort here. It should be clear that `mitiq.interface.mitiq_whatever` depends on package `whatever`, and at some point in the error stack it will say `ModuleNotFoundError: No module named 'whatever'` - I'm not sure how much clearer we could be than that.

[2021-09-23 19:35] #858 closed

[2021-09-24 00:01] #752 closed

[2021-09-24 07:25] nathanshammah opened #942 "Mitiq logo picture not showing in pdf of documentation"
If one downloads the latest (0.10) release on Read The Docs, the image is not showing in the first pages. See https://mitiq.readthedocs.io/_/downloads/en/stable/pdf/

<img width="454" alt="mitiq-image-missing-docs" src="https://user-images.githubusercontent.com/14573436/134634653-86753b62-b1d0-4830-b524-fc6e3cdb3539.png">

This is not happening for other pages of the documentation that contain log

[2021-09-24 07:34] nathanshammah opened #943 "Add more information in the PEC part of the Users Guide"
The current paragraph, https://mitiq.readthedocs.io/en/v0.9.2/guide/guide-pec.html should be expanded, similarly to ZNE.

Related to #908. Happy to help somehow, even just by helping add the workflow figure as #944 .

[2021-09-24 09:34] nathanshammah opened #944 "Add workflow figures to document techniques"
It would be nice to add workflow figures to document techniques, taken or adapted from the Mitiq paper. https://arxiv.org/pdf/2009.04417.pdf. This is related to #908 as it would give more immediate information on the techniques in Mitiq.

[2021-09-24 09:42] nathanshammah opened #945 "Add CDR section to Users Guide"
We need to add the Clifford Data Regression (CDR) section to the Users Guide part of the documentation. An example with the "CDR API" is present already.

This should appear in the table of contents in Section 2, after PEC.

<img width="863" alt="mitiq-toc-docs" src="https://user-images.githubusercontent.com/14573436/134653632-3321bb9b-8afa-4bdc-9454-508e7fa44036.png">

I can take a first stab at

[2021-09-24 09:47] nathanshammah commented on #943
This is a more quickly actionable issue than #907, which may be broader and involve other tasks.

[2021-09-24 16:43] rmlarose commented on #945
@L-P-B can I assign this to you?

[2021-09-24 16:53] L-P-B commented on #945
yes!

[2021-09-24 17:03] rmlarose commented on #815
RFC for this issue here, please review:

https://docs.google.com/document/d/1Mb-OoojXBm0k8VTapNUkQQi4YQR5vsUvNJqmVgFpIns/edit?usp=sharing

[2021-09-24 17:11] rmlarose commented on #908
RFC for this here: https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit?usp=sharing

[2021-09-24 20:52] crazy4pi314 commented on #942
I'll also add that the contributor picture gallery is also not rendering:
![image](https://user-images.githubusercontent.com/6486256/134738381-bb84b7da-93a9-4f54-bf3e-6f637fcae93f.png)

[2021-09-24 20:59] crazy4pi314 commented on #942
The possible reasons I could see is that the png url has raw=true at the end, which may or may not be handled by latex correctly. This was linked externally as opposed to a relative reference bc that was the only way to get the readme and the docs to render it the same (afair).

[2021-09-27 14:31] nathanshammah opened #951 "Failed to install current dev version of Mitiq"
I tried to install the current development version of Mitiq as per Github, in a fresh and empty Miniconda environment with only Python 3.9.7 on Mac (Catalina 10.15.7)
typing
[code]
everything runs fine until there is an error seemingly related to immutables.

<details>

[code]

</details>

I may have recently changed something in the system so that the Developer tools of Xcode give an issue (I'm t

[2021-09-27 16:19] rmlarose commented on #951
Can't reproduce. Probably an issue with your setup.

[2021-09-28 01:31] rmlarose opened #952 "Allow `Executor.run` to accept a sequence of keyword arguments"
And use this in `zne.BatchedFactory.run` (see inline TODO).

## Current behavior

Right now `Executor.run` accepts keyword args and passes them to the executor. However, the same keyword args are passed each time.

## Desired behavior

Ability to call `Executor.run` with a sequence of (different) keyword args.

## Questions / considerations

If `len(kwargs_list) == len(circuits)`, I think you'd ha

[2021-09-28 09:47] nathanshammah commented on #951
@rmlarose you're right. After updating OS to Big Sur and downloading again the command line tools for Xcode it works fine for me.

[2021-09-28 09:47] #951 closed

[2021-09-28 09:50] andreamari commented on #952
I think I am in favor of just supporting a fixed set of options `kwargs` to be used for the execution of all the circuits.
If we need to use different `kwargs` we can make multiple independent calls to Executor.run.

There wouldn't be a loss of efficiency since, in a typical setting, circuits with different options cannot be batched together.

[2021-09-29 05:05] rmlarose commented on #952
I agree with this. Closing and will update #948 appropriately.

[2021-09-29 05:05] #952 closed

[2021-09-30 13:42] andreamari commented on #908
@rmlarose added some feedback on the RFC

[2021-09-30 23:59] crazy4pi314 commented on #908
Also added some comments, thanks everyone!

[2021-10-01 06:36] Misty-W commented on #821
Link to my draft RFC - still very rough

https://docs.google.com/document/d/1Bl8Ix4MB32wa_X_FwMx2LLmt3BRyzoyHwcuYphbGIV8/edit?usp=sharing

[2021-10-01 19:39] cgranade commented on #822
Out of curiosity, what would the usecase for this be? As opposed to error mitigation techniques, dynamical decoupling generally requires pulse-level control[^1], as well as a priori knowledge as to the interaction with the bath that you want to suppress. Some sequences like XY4 and XY16 do a good job at suppressing wide ranges of static Hamiltonians, but even then you generally only get a filter o

[2021-10-01 21:12] crazy4pi314 opened #957 "Binder launch badges for PRs"
Pre-Request Checklist
---------------------

- [x] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

It would be really convient for reviewing PRs to have a premade mybinder link setup that could just be clicked on in the comments of the PR.

Proposed Solution
-----------------

Binder has docs on how to do this with ready-to-copy GitHub

[2021-10-02 23:57] Misty-W opened #958 "Fix typos in VQE ZNE tutorial example"
Pre-Report Checklist
--------------------

- [X] I am running the latest version of mitiq
- [X] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

I discovered a few typos and a dead link in my example. I created this issue to link a PR with the fix.

[2021-10-04 06:19] AkashNarayanan commented on #957
Hello @crazy4pi314 ! I would like to work on this issue.

[2021-10-04 16:26] #958 closed

[2021-10-05 05:47] #957 closed

[2021-10-05 13:09] andreamari commented on #822
Hi @cgranade, this is a good point which also emerged during our last _Mitiq meeting_ on Discord.
Given the general structure of Mitiq, it would be better to apply dynamical decoupling at the gate-level (without pulse-level control). Even if there are all the difficulties that you mentioned in your comment, there is some hope that this could work (see e.g. the paper in the description of this issu

[2021-10-05 14:39] #519 closed

[2021-10-05 14:54] rmlarose opened #968 "Signature of `execute_with_technique` functions with `Observable`s"
Origin: https://github.com/unitaryfund/mitiq/pull/954#discussion_r719438103

The new Mitiq workflow requires adding an observable argument to each `execute_with_technique` function. It is natural to put this with the `executor` argument because they are used together. But, specific to PEC and perhaps general to others, this necessitates changing the signature.

## Options

- Have default values fo

[2021-10-06 22:47] #911 closed

[2021-10-07 02:42] rmlarose opened #972 "Create an `Observable` by specifying `PauliStringCollection`s"
There is currently no way to dictate how an `Observable` is partitioned into qubit-wise commuting sets. Right now, they are partitioned via a greedy algorithm.

https://github.com/unitaryfund/mitiq/blob/11c6c680f6bf8a6ebcbb236554003fa934998370/mitiq/observable/observable.py#L29-L34

One may wish to specify exactly how `PauliString`s are grouped and measured for more control when using Mitiq. We sh

[2021-10-07 05:14] crazy4pi314 commented on #822
I think the thing I want to understand when adding this feature is that we have a good sense/definition of what fits into our definition of error mitigation. This is the first lower level technique that involves more hardware specificity than we have included before. All of its good and helpful, but can we think of things that help quantum users prevent, mitigate, or correct errors that we would s

[2021-10-07 15:19] #968 closed

[2021-10-08 07:47] crazy4pi314 opened #974 "User documentation for the PennyLane integration"
Issue Description
-----------------

Support for PennyLane was recently added to master (#836 ) and there should be some documentation in the user guides/examples that shows off this functionality.

[2021-10-11 17:45] andreamari opened #983 "Re-consider requiring the full qiskit package instead of its sub-elements"
Some motivations for requiring the full `qiskit` package instead of individual elements are:

- We require `pennylane-qiskit`, which requires `qiskit`.
- By requiring `qiskit` we would avoid `pip/dependabot` installation conflicts of individual elements. E.g. #980. See also this comment by @rmlarose (https://github.com/unitaryfund/mitiq/pull/976#discussion_r726206334).
- The main drawback is the i

[2021-10-11 23:01] rmlarose commented on #817
Closed by #836.

[2021-10-11 23:01] #817 closed

[2021-10-12 09:48] nathanshammah commented on #983
To me it sounds fine given your comments.

[2021-10-15 14:57] rmlarose opened #987 "`Observable` partitioning by minimum clique cover"
Currently, `Observable` partitioning (grouping the observable's `PauliString`s into simultaneously measurable sets) is done by a greedy algorithm. There are many ways to do such a partitioning, and we should support more. One way is representing the `Observable` as a graph and finding the minimum clique cover (MCC) as described in this paper https://arxiv.org/pdf/1907.03358.pdf. Figure 1, copied b

[2021-10-18 13:01] sassan72 opened #990 "mitiq can't support pennylane."
mitiq.interface.conversions.UnsupportedCircuitError: Circuit from module pennylane.tape.tape is not supported.

[2021-10-18 19:01] atmalik123 opened #991 "Different factories use different points for ZNE?"
Do different factories sample different points? I used ZNE with a polynomial factory and a linear factory with the same scale_factors, yet the points they use look different. Is this supposed to happen? If so, can someone explain why? Isn't it impossible to compare the effectiveness of different factories if they use different points for extrapolation?

![k](https://user-images.githubusercontent.c

[2021-10-19 02:04] rmlarose commented on #991
The scale factors (x-axis values) are the same in both plots. The expectation values (y-axis values) are different presumably because you are computing expectation values via sampling.

If you would like to do different extrapolation techniques with the same data (i.e., y-axis values):

1. Collect the data by computing the expectation value at each scale factor.
2. Use `Factory.extrapolate(scale_f

[2021-10-19 02:04] #991 closed

[2021-10-20 15:26] #990 closed, assigned to nobody

[2021-10-20 23:46] atmalik123 commented on #991
![k](https://user-images.githubusercontent.com/29261370/138187454-ab397053-1edd-4e65-b674-53dff3b2707d.PNG)

I'm getting this error

[2021-10-21 00:00] #857 closed

[2021-10-21 08:46] andreamari commented on #991
Hi @atmalik123,
there is a small syntax error:
`execute(zne.scaling.fold_global(circuit, s) `
should be
`execute(zne.scaling.fold_global(circuit, s))`

[2021-10-21 12:43] atmalik123 commented on #991
Before I was defining a factory l_fac and p_fac first so I could use plot_fit(), but in the solution given they use LinearFactory and PolyFactory directly. How can I use plot_fit() on these?

[2021-10-22 16:37] crazy4pi314 opened #994 "Add Observables to new docs"
Issue Description
-----------------

As a part of #908, and as specified by the [RFC](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#heading=h.mckr847qq60k) we want to add a general concepts section to the docs about Observables.

[2021-10-22 16:38] crazy4pi314 opened #995 "Adding general docs section on Executors"
Issue Description
-----------------

As a part of #908, and as specified by the [RFC](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#heading=h.mckr847qq60k) we want to add a general concepts section to the docs about Executors.

[2021-10-22 16:41] crazy4pi314 opened #996 "New docs section for Mitiq frontend support"
Issue Description
-----------------

As a part of #908, and as specified by the [RFC](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#heading=h.mckr847qq60k) we want to add a general concepts section to the docs about what front ends Mitiq supports.

[2021-10-22 16:43] crazy4pi314 opened #997 "New docs section for Mitiq backend support"
Issue Description
-----------------

As a part of #908, and as specified by the [RFC](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#heading=h.mckr847qq60k) we want to add a general concepts section to the docs about what backends Mitiq supports.

[2021-10-22 16:45] crazy4pi314 opened #998 "Add documentation for `QuantumResult`"
Issue Description
-----------------

As a part of #908, and as specified by the [RFC](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#heading=h.mckr847qq60k) we want to add a general concepts section to the docs about how `QuantumResults` work in Mitiq.

[2021-10-22 16:52] crazy4pi314 opened #999 "Add documentation on composability in Mitiq"
Issue Description
-----------------

As a part of #908, and as specified by the [RFC](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#heading=h.mckr847qq60k) we want to add a general concepts section to the docs about composability of multiple error mitigation techniques.

[2021-10-22 16:53] crazy4pi314 opened #1000 "Docs re-org/enhancements for ZNE"
Issue Description
-----------------

As a part of #908, and as specified by the [RFC](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#heading=h.mckr847qq60k) we want to add a general concepts section to the docs about how ZNE works in Mitiq.

[2021-10-25 22:01] rmlarose opened #1002 "Support quantum trajectory executors"
Add support for noisy simulators which sample a sequence of wavefunctions.

## Steps

- Add the quantum trajectory type, probably `Sequence[np.ndarray]`, to `QuantumResult` https://github.com/unitaryfund/mitiq/blob/8d11b509858259e8239dd15de52c0e9daa9e98d3/mitiq/_typing.py#L72-L78
- Define an `Observable._expectation_from_trajectories` similar to https://github.com/unitaryfund/mitiq/blob/8d11b50985

[2021-10-29 06:41] rmlarose opened #1006 "Add "`mitiq.raw.execute`"?"
Without an observable, the canonical way to compute "raw results" (i.e., results without error mitigation) is `execute(circuit)`.

However, with an observable, the interface is different:

- Without error mitigation: Either `Executor.evaluate(circuit, observable)` or `observable.expectation(circuit, executor)`.
- With error mitigation: `execute_with_xxx(circuit, executor, observable)`.

Should we

[2021-11-01 17:05] andreamari commented on #974
Hi @anonymousr007,  the planned timeline for this is more or less the following:

- [End of November] There will be a Mitiq+Pennylane tutorial on the PennyLane website + "official" announcement in a blog post.
- [After the previous point] We could add an additional example also in the Mitiq documentation. Possibly showing something different w.r.t. what is shown in the previous point.

In principl

[2021-11-02 00:00] #839 closed

[2021-11-02 06:41] crazy4pi314 commented on #974
Thanks @andreamari, hopefully that helps @anonymousr007 :)

[2021-11-02 22:08] #995 closed

[2021-11-02 22:51] #972 closed

[2021-11-02 22:51] #994 closed

[2021-11-03 00:00] #861 closed

[2021-11-04 11:43] nathanshammah opened #1013 "Decide a convention for titles and file names in users guide"
As part of the documentation reorganization, the users guide is being refurbished. See https://github.com/unitaryfund/mitiq/projects/6, https://github.com/unitaryfund/mitiq/issues/908 and [RFC](https://docs.google.com/document/d/13un5TZPknSOhmOBkrL2rsofjGfdp2jDnd-DywLpGFPc/edit#).

For techniques, the accepted proposal plans to have many short `.myst` files. The proposed table of contents with thi

[2021-11-05 00:00] #501 closed

[2021-11-05 14:35] nathanshammah opened #1014 "Docs build sometime fail on RTD"
Docs are failing on read the docs for both the latest release and stable release, v. 011. A look at the build logs says that they were killed by RTD due to excessive time to build, 926 seconds.

[2021-11-05 16:19] rmlarose commented on #1014
This needs more details to be made actionable. Do you know why RTD sometimes times out?

[2021-11-05 16:33] #944 closed

[2021-11-05 16:52] nathanshammah commented on #1013
The current proposal is to use this names for titles:
[code]
The proposal for the names of the files is
[code]
Example: guide/pec-5-theory.myst.

Please comment here if you have objections, or just like the comment if you agree @qryan @andreamari @crazy4pi314 @Misty-W @purva-thakre @L-P-B  (and all involved in rewriting the docs).

[2021-11-05 16:56] andreamari opened #1015 "A test for ZNE with Qiskit circuit is non-deterministically failing"
https://github.com/unitaryfund/mitiq/runs/4095356632?check_suite_focus=true

Possible reasons:
- qiskit executors in mitiq_qiskit changed.
- handling of keywords for executors in factories changed.

Note: it is possible that this is the expected behavior and for some reason it was erroneously passing in the past. In this case we should probably increase the number of shots or enforce in some way t

[2021-11-05 17:02] nathanshammah commented on #1014
The title is now updated. The latest failing build log can be found here: https://readthedocs.org/projects/mitiq/builds/15173588/
It cites `Command killed due to excessive memory consumption` and the last file listed in the log not labeled as a successful build is `Executing: /home/docs/checkouts/readthedocs.org/user_builds/mitiq/checkouts/stable/docs/source/guide/guide-observables.myst
`

[2021-11-05 17:11] nathanshammah commented on #1000
Shall we try to meet next week (@crazy4pi314 @purva-thakre @Misty-W) to try to split up existing content and work on it in a way that tries to harmonize the work of many authors? Even just knowing what existing text may be split up in which of the 5 sections will help.

[2021-11-05 17:31] nathanshammah opened #1016 "Test code CI broken due to linkcheck"
The current master CI test for testcode are broken, seemingly due to a `linkcheck` issue. Note that the test was passing on the PR #944.
It may be this item below, labeled al "broken"
**(    contributing: line   15) broken    https://www.asmeurer.com/git-workflow/ - HTTPSConnectionPool(host='www.asmeurer.com', port=443): Max retries exceeded with url: /git-workflow/ (Caused by NewConnectionError('

[2021-11-08 23:12] purva-thakre commented on #1000
It's not much at the moment but here's a brief outline of what I have in mind. We can discuss more and make changes on Tuesday. Here's [a link to the Google Doc](https://docs.google.com/document/d/1am4P6DoHxMeiokcqfc8uSpPpuInNtfysi68G7irF47Y/edit?usp=sharing).

[2021-11-09 00:13] crazy4pi314 commented on #555
Another option for this one could be this python based tool: https://www.pyinvoke.org/

[2021-11-09 00:22] purva-thakre commented on #941
@rmlarose @andreamari Would it be ok to use a different version of QASM as support for only parametrized circuits in qiskit ?

v2.0 has issues with adding parametrized circuits [when the parameters are unbounded](https://github.com/ewinston/qiskit-terra/blob/ea5a71da0ca253a884fb32a6d627add8523c23c4/qiskit/circuit/quantumcircuit.py#L1150). I was working to define a function with bounded parameters

[2021-11-09 09:38] andreamari commented on #1013
For the second file names I would propose:
guide/[technique-acronym]-2-use-case.myst
to avoid confusion with the other examples of the docs.

The rest LGTM

[2021-11-09 09:45] andreamari commented on #1013
The question-style titles are fine for me.
To make the last one "Who thought of this? Why does it work? And who’s using it?" shorter we could use:
- "Why does it work?" or "What is the theory behind [technique name]?".

[2021-11-09 16:38] astrojuanlu commented on #813
Hi folks! Jupyter Book can finally be used on Read the Docs. This functionality hasn't been released yet and we're looking for beta testers, in case you're interested.

See a working example here: https://github.com/astrojuanlu/jupyterbook-on-read-the-docs

which I created following these docs: https://jupyterbook.org/publish/readthedocs.html

Let me know if you have any questions! Happy to jump t

[2021-11-09 16:41] andreamari commented on #1016
That web page  https://www.asmeurer.com/git-workflow/ doesn't exists anymore. The associated GitHub repo still exists.
So I would propose this fix, untill the web page will reappear: https://github.com/unitaryfund/mitiq/pull/1018/commits/2039dd96cf9b4f1cb3661aa24dae6cb277d0e4f3

[2021-11-09 21:02] andreamari commented on #1016
Actually https://www.asmeurer.com/git-workflow/ is up again!

The magic of open-source: https://github.com/asmeurer/git-workflow/issues/11  :-)

[2021-11-10 11:46] astrojuanlu commented on #926
FYI, Jupyter Book projects can now be hosted on Read the Docs, see https://jupyterbook.org/publish/readthedocs.html (still to be released).

[2021-11-10 13:14] nathanshammah commented on #926
This some wonderful news!

[2021-11-10 15:47] #1015 closed

[2021-11-10 16:21] andreamari commented on #941
Hi @purva-thakre,

we currently use the conversion functions that are built in Cirq and, probably, they are not compatible with QASM 3. But feel free to try if you think it can work. Ideally, if both Cirq and Qiskit are compatible (or will be compatible soon) with QASM 3, this seems the ideal solution to me.

Regarding the approach of [page 5 of v2.0 paper ](https://github.com/unitaryfund/mitiq/is

[2021-11-10 17:57] rmlarose opened #1023 "Wrong circuits classically simulated in CDR"
In CDR, the training circuits at scale factor 1 should be simulated, but right now I believe the scaled circuits (not training circuits) are being simulated.

https://github.com/unitaryfund/mitiq/blob/e88d19f1b27cc99328b05466f2d58f07261b2ed9/mitiq/cdr/cdr.py#L161

Thanks @L-P-B for finding!

[2021-11-11 01:10] purva-thakre commented on #941
@andreamari I think for now I will use QASM 2 and make changes for unbounded parameters later when Cirq's converters become compatible with QASM 3.

Considering the goal is to allow parametrized circuits in Qiskit, I thought it would be easy to do Qiskit --> QASM --> Cirq.

The main issue is related to QASM 2 causing issues with an unbounded parameter in a Qiskit circuit and my solution would be t

[2021-11-11 15:30] andreamari commented on #941
@purva-thakre, if I understand correctly, _"binding"_ a parameter corresponds to replacing it with a numerical value or with a list of different numerical values producing a list of different circuits with different numerical parameters.  So after biding, one doesn't have symbolic parameters anymore. I think that, in this case, the existing workflow is already compatible with Mitiq and there is no

[2021-11-11 15:45] purva-thakre commented on #941
Yeah, that was my problem with what I was trying to do because providing values for the parameters defeats the purpose of a parametrized gate. No, you are not wrong that this workflow is already compatible with Mitiq.

I thought of 3 possibilities to fix the issue, 1 was the most disliked, not sure if 2 is possible and 3 seems to be the most likely possibility.

I found [this answer on StackExchan

[2021-11-23 19:08] rmlarose commented on #1023
Closed by #1026.

[2021-11-23 19:08] #1023 closed

[2021-11-24 09:01] nathanshammah commented on #942
keep it open

[2021-11-29 15:39] nathanshammah opened #1032 "Windows CI test randomly failing on master"
The master branch CI failed upon merging #1028, which updated `scipy` from 1.7.2 to 1.7.3. Since Windows CI are tested only on master, no issue arose on the PR. The issue is with Python 3.8 on Windows.

The failing test is `test_inference` for the `mitiq.zne.inference.LinearFactory`. Somehow the error seems to arise during plotting
for `test_plot_fit(factory)`, and arises due to an incorrect insta

[2021-11-29 16:09] nathanshammah commented on #1032
Reverted in #1033

[2021-11-29 17:48] rmlarose opened #1034 "Release documentation needs to be updated"
[Release documentation](https://github.com/unitaryfund/mitiq/blob/master/docs/source/release.rst):

- Says to manually run the release to pypi action, but this runs automatically.
- References the release branch, but this is deprecated.

There are potentially other updates needed, but these two in particular.

[2021-11-29 17:48] rmlarose commented on #1034
@crazy4pi314 can you take this?

[2021-11-29 17:50] rmlarose commented on #1032
This has popped up before, I don't think it's caused by scipy. In the future you can rerun the action to check.

[2021-11-29 18:05] rmlarose opened #1036 "Automate contributors list"
All contributors is nice but hard to keep updated. Unless there is strong opposition, let's remove this in favor of the [automated GH tool](https://github.com/unitaryfund/mitiq/graphs/contributors).

[2021-11-30 00:00] #910 closed

[2021-11-30 00:00] #906 closed

[2021-11-30 00:00] #898 closed

[2021-11-30 00:00] #868 closed

[2021-11-30 00:00] #864 closed

[2021-12-01 00:32] Misty-W commented on #821
Nooo don’t close this, GitHub bot!

[2021-12-04 00:00] #820 closed

[2021-12-06 16:03] nathanshammah opened #1039 "Add documentation of measurement readout error mitigation"
We need to add documentation on the existing objects for post-selecting measurement readouts, in the `mitiq/rem/` package.

- [ ] Add `post_select` function and `MeasurementResult` to the API docs
- [ ] Add information on the technique in the User guide.

[2021-12-09 00:00] #806 closed

[2021-12-09 00:00] #762 closed

[2021-12-09 18:38] eth-n opened #1041 "Unitary folding doesn't respect the input circuit's gate set"
Pre-Report Checklist
--------------------
Mitiq 0.11.1
Braket SDK 1.11.0

Yes, I looked at the open issues.

Issue Description
-----------------
Hi! I'm trying to run a six qubit circuit with Mitiq on the Rigetti Aspen-10 machine available through AWS Braket. Following the structure of the example notebook here, https://mitiq.readthedocs.io/en/stable/examples/braket_mirror_circuit.html, I found I

[2021-12-09 19:24] rmlarose commented on #1041
Thanks @eth-n.

## Immediate workaround

You should be able to run by using this [quick-and-dirty compiler](https://mitiq.readthedocs.io/en/stable/examples/braket_mirror_circuit.html#compilation):

[code]

Specifically, use `ckt = Circuit().add_verbatim_box(compile_to_rigetti_gateset(ckt))` in your `rigetti_execute_repro` function. Can you try this and let me know if it works?

(You may need to ad

[2021-12-09 21:53] eth-n commented on #1041
Okay, very interesting. I thought I had it covered but I think I see where that step can fit in. Here's more explicitly how I'd set up the pipeline, it might inform an agreed upon design:

1. Train a varational circuit on {H, X(theta), Z(theta), XY(theta)}. I did this to get as close to the native gates as possible without going to a discrete optimizer for some of the gates.
2. Run a modified vers

[2021-12-10 00:00] #748 closed

[2021-12-10 00:00] #757 closed

[2021-12-10 18:15] eth-n commented on #1041
So I wrote the second quick-n-dirty compiler for the folded circuit before sending it. A few things come up.

1. The set of gates I had to recompile from is {X, Z, Ry, S, Si, V, Vi, ISwap, CNot}.
2. The original circuit still works when passed through this compiler.
3. The base circuit has gone from depth 22 to depth 370 (not super unexpected given dealing with device connectivity, but may inform

[2021-12-10 18:30] rmlarose commented on #1041
Happy to help diagnose if you'd like to post in the Mitiq channel at http://discord.unitary.fund. This seems unrelated to the original issue, though, of unitary folding preventing a circuit which did run from running.

[2021-12-13 10:15] andreamari commented on #983
This was closed by #993

[2021-12-13 10:15] #983 closed

[2021-12-14 13:59] nathanshammah opened #1046 "Make squash and merge default"
This is to be discussed.

[2021-12-17 06:51] crazy4pi314 commented on #997
I was taking a look at the new executor section, and had a question about the backend section. @rmlarose I was looking back at the RFC and am not quite sure how the backends differ from the executor guide page. I think my best guess would be a short page linking to other examples that use the different backends as a part of executors? If not, can you help refresh my memory on what is needed here?

[2021-12-17 15:10] rmlarose commented on #997
Hey @crazy4pi314 absolutely. I suggest making a "core concepts" doc page on frontends and backends which minimally covers:

- Definition of a "frontend" and a `mitiq.QPROGRAM`
- Definition of a "backend" and emphasis that any backend which accepts a `mitiq.QPROGRAM` is compatible with Mitiq
- Executing programs: Functions with the signature `mitiq.QPROGRAM -> mitiq.QuantumResult`
- Batch executing

[2021-12-20 07:45] rmlarose opened #1058 "Add GHZ circuits to benchmarks"
Currently `mitiq.benchmarks` contains RB and mirror circuits, and needs more benchmark circuits.

GHZ circuits provide natural scaling with the number of qubits, are structured (in contrast to random as with RB and mirror circuits), and have additional nice features for benchmarking error mitigation:

- GHZ circuits result in idle qubits for which it is natural to apply dynamical decoupling.
- GHZ

[2021-12-20 07:45] rmlarose commented on #1058
Thoughts or objections @andreamari?

[2021-12-20 15:59] purva-thakre commented on #675
no don't close

[2021-12-20 16:14] #1034 closed

[2021-12-21 09:18] andreamari commented on #1058
No objections.
GHZ circuits are interesting since, as you said, are very non-random and very empty.

[2021-12-21 09:25] nathanshammah commented on #1058
+1 for GHZ.

[2021-12-21 11:00] andreamari opened #1061 "Allow Clifford input circuits in CDR"
This issue emerged from some questions on Discord.

Issue Description
-----------------
When using `mitiq.cdr.execute_with_cdr()` with a Clifford circuit produces the errir:
`ValueError: Circuit is already Clifford.
`
on the other hand, it may be more useful to return the mitigated result
which, in this case, is the exact classical simulation.

Proposed Solution
-----------------
If the input circ

[2021-12-21 20:43] amirebrahimi opened #1062 "Using a CZPowGate produces an error with CDR"
Pre-Report Checklist
--------------------

- [X] I am running the latest version of mitiq
- [X] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

Using a CZPowGate produces an error with CDR.

How to Reproduce
----------------

### Code Snippet

[code]

### Error Output

[code]

Environment Context
-------------------

Use the `about()` functi

[2021-12-21 21:20] rmlarose commented on #1062
Thanks @amirebrahimi. This is not a bug because, from the docstring of `execute_with_cdr`:

https://github.com/unitaryfund/mitiq/blob/5559568047cd86cb3d163050d1aca99539ab392e/mitiq/cdr/cdr.py#L53-L55

(The circuit in this example contains a `CZPowGate`.)

However, this is an important matter of usability. The long-term goal is support for any gates (e.g., by compiling the input circuit) so this ex

[2021-12-21 21:22] rmlarose commented on #1062
I also noticed the docstring for `execute_with_cdr` does not appear at https://mitiq.readthedocs.io/en/stable/apidoc.html#module-mitiq.cdr.clifford_training_data. This should also be fixed.

[2021-12-22 00:43] amirebrahimi commented on #1062
Thanks for the clarification.

[2021-12-22 03:59] amirebrahimi commented on #815
I'd like to offer to take this on as part of a [final project for QCourse511](https://gitlab.com/qworld/qeducation/qcourse511-1/-/issues/21). Final deliverables are due January 11th though, so my question to the Mitiq team is whether it would be feasible to reach an agreement on the design to allow implementation time before that deadline? At the very least I could perform a preliminary implementa

[2021-12-22 05:07] purva-thakre commented on #653
Based on above discussion, I am going to work on option 2.

[2021-12-22 05:12] purva-thakre commented on #335
Reopening this because previous PR was incomplete and needed a better design. See @andreamari comment (from Discord)

![image](https://user-images.githubusercontent.com/66048318/147039164-18977f14-dcc4-4f5b-aca9-86d7b06aea24.png)

[2021-12-22 05:15] purva-thakre commented on #513
Reopening this because previously linked MEP was not well thought out.

[2021-12-22 20:34] rmlarose commented on #815
Thanks @amirebrahimi. You are more than welcome to take this up but I have concerns about the Jan 11th date, especially with the holiday break - there are a few points that need to be worked out in the RFC, then once that is accepted, we need to review the PR(s).

As a practical suggestion for your final project, you may consider doing your own complete implementation on a fork so you are not slow

[2021-12-22 22:58] amirebrahimi commented on #815
I think that is a good plan and anything after the 11th can be worked out as the RFC firms up.

[2022-01-04 18:17] nathanshammah commented on #1016
Tests are again failing on master due to linkcheck.

[2022-01-05 13:54] #943 closed

[2022-01-05 17:37] #1000 closed

[2022-01-06 11:27] nathanshammah opened #1072 "Read the docs not updating latest documentation"
Issue Description
-----------------

Read the docs is not updating latest documentation at this moment. The ZNE docs are not updated.

How to Reproduce
----------------
See
https://mitiq.readthedocs.io/en/latest/guide/guide.html
that is not matching the latest file structure.

[2022-01-06 11:28] nathanshammah commented on #907
Closed by #1004.

[2022-01-06 11:28] #907 closed

[2022-01-06 11:31] nathanshammah commented on #1036
It has been decided at the Mitiq meeting to opt for an automation of the all-contributors tool. This could be done with a Github Action.

[2022-01-06 14:26] andreamari opened #1073 "Some Qiskit gates are not supported (during the internal conversion to Cirq)"
Some Qiskit gates are not supported (during the internal conversion to Cirq).
It would be good to support more gates.
Since we are relying on Cirq conversion functions, a possible way to do achieve can be via up-streaming these requests to Cirq.

Gates that are currently not supported (please add more if you know more):

- `sx` = \sqrt{X} : up-to-a-phase equivalent to RX(pi/2)
- `cu1`  (see #558)

[2022-01-06 16:34] rmlarose commented on #1073
Phase gate (https://discord.com/channels/764231928676089909/773957956659052605/897658569510502441).

Logistically, I suggest closing #558 and using this issue to track to avoid duplicates.

[2022-01-06 16:34] rmlarose commented on #558
Superseded by #1073.

[2022-01-06 16:34] #558 closed

[2022-01-06 18:13] andreamari commented on #1072
Seems related to the final Latex build. Indeed, all readthedocs works in all current PR previews, in which the pdf is not produced.
This is the last message:

<details>
[rtd-command-info] start-time: 2022-01-06T15:09:11.094087Z, end-time: 2022-01-06T15:09:33.417737Z, duration: 22, exit-code: 0
/home/docs/checkouts/readthedocs.org/user_builds/mitiq/envs/latest/bin/python -m sphinx -b latex -D langu

[2022-01-06 19:24] nathanshammah commented on #1072
The build on RTD/latest has not been completed since the merge of #1075, but the docs from the #1075 PR render correctly:
https://mitiq--1075.org.readthedocs.build/en/1075/guide/zne.html

[2022-01-06 19:54] #1006 closed

[2022-01-07 12:25] nathanshammah commented on #1072
The tests in #0175 seem to be killed due to memory consumption and timeout.
What if we cache notebooks?
Also, now we could directly use `jupyter-book` in RTD.
https://jupyterbook.org/content/execute.html

[2022-01-07 15:55] andreamari commented on #1072
Hi @nathanshammah, actually the tests in #1077 show that the there is a latex problem localized zne-3-options.myst that I am trying to fix. (See description of #1077)

Memory consumption in RTD happens when there simultaneous commits, but it is unrelated to the present issue.

[2022-01-07 17:29] #1013 closed

[2022-01-10 10:22] nathanshammah opened #1080 "CI not triggered on master branch"
Pre-Report Checklist
--------------------

- [ ] I am running the latest version of mitiq
- [ ] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
CI has not been triggered on master branch after the latest merge commit, for PR #1077.

How to Reproduce
----------------

See https://github.com/unitaryfund/mitiq/commits/master

[2022-01-10 10:25] nathanshammah commented on #1072
Reopening this, we should close only once https://mitiq.readthedocs.io/en/latest/guide/guide.html shows the latest docs.

[2022-01-10 14:11] nathanshammah commented on #1080
@andreamari thanks for the information. I only know how to re-run actions on a job that has already triggered, them, e.g., by clicking the top right button on [this page](https://github.com/unitaryfund/mitiq/actions/runs/1677722684).

[2022-01-10 17:41] Misty-W commented on #926
@crazy4pi314, @nathanshammah, I haven't really been following this issue lately- are there any plans to solve it?

[2022-01-11 01:02] crazy4pi314 commented on #926
AFAIK there are 2 ways to handle this:
1. have the results from running this pre-cached via GH actions
2. Move docs generation to GH pages instead of RTD

We could add this to the agenda for friday, but so far I think 1 has been preferred, but with no implementation of yet.

[2022-01-11 05:09] rmlarose opened #1085 "Idle qubits get lost in conversions"
## Description

[Originally raised in [discord](https://discord.com/channels/764231928676089909/773957956659052605/928804814475915364).]

Any Qiskit (and presumably other frontends) circuit with idle qubits produces unexpected behavior in round-trip (Qiskit -> Cirq -> Qiskit) conversions - namely, the idle qubits are discarded, causing operations to appear out of order or on the wrong qubits. E.g.

[2022-01-11 05:11] rmlarose commented on #1085
Looking for one maintainer LGTM on proposed fix and/or alternate proposed fixes.

[2022-01-11 06:20] astrojuanlu commented on #926
There's a contorted but effective workaround for this use case: https://github.com/dfm/rtds-action/

[2022-01-11 15:19] nathanshammah commented on #1080
Closed by #1082.

[2022-01-11 15:19] #1080 closed

[2022-01-11 15:20] nathanshammah commented on #1072
Now [showing up](https://mitiq.readthedocs.io/en/latest/guide/zne.html) correctly on RTD.

[2022-01-11 15:20] #1072 closed

[2022-01-11 16:53] nathanshammah commented on #926
Now that RTD [supports](https://blog.readthedocs.com/jupyter-book-read-the-docs/) Jupyter Book, I'd much rather implement that rather than moving out. With jupyter book we can [cache](https://jupyterbook.org/content/execute.html) parts that is not essential to continuously rebuild.

[2022-01-11 16:55] nathanshammah commented on #813
I am reopening this as given the recent [support](https://blog.readthedocs.com/jupyter-book-read-the-docs/) of RTD of Jupyter book, we could move from Sphinx to Jupyter Book.

[2022-01-11 23:50] willzeng commented on #822
@nathanshammah Should we push this to the next milestone as there isn't anyone actively working on it for this milestone?

[2022-01-11 23:55] willzeng commented on #1085
LGTM though am adding other maintainers to get a quick review from folks closer

[2022-01-12 00:00] #1014 closed

[2022-01-12 13:08] vprusso commented on #1085
LGTM as well. I am curious if "Frontend -> Cirq -> Frontend" conversions for frontends other than Qiskit also cause an ordering issue. Out of scope for this issue, but it would be worth:

- Verifying that ordering is respected for other frontends
- Add some test cases to ensure ordering for Qiskit -> Cirq -> Qiskit is respected post-fix.

[2022-01-12 16:22] andreamari commented on #1085
LGTM. I am not sure this is a _priority0_ issue (high-priority label) but the proposed fix seems reasonable to me.
I agree with @vprusso that a similar issue may also happen for other frontends. The fix would be in any case frontend-specific I guess.

[2022-01-13 04:04] rmlarose commented on #1085
The idle qubits issue is certainly there since that's a Cirq thing. Haven't seen ordering issues for other packages besides Qiskit, but its possible and should be tested more.

I'll move to p1. It's definitely buggy behavior, but not common usage.

[2022-01-14 09:34] Rahul-Mistri commented on #1058
Can I take a crack at this?

[2022-01-14 15:42] nathanshammah commented on #1058
Hi @Rahul-Mistri, could you come to the Mitiq community call to discuss more? It's today (as every Friday) at 6pm CET/9am PT on the [Unitary Fund Discord](http://discord.unitary.fund/).

[2022-01-14 16:33] Misty-W commented on #821
https://docs.google.com/document/d/1VrZRV59-2ApemebfbL556Rj7I2AMhAS7bJgGuTg3K1w/edit?usp=sharing

[2022-01-14 17:27] crazy4pi314 commented on #1058
Suggested docs:
https://mitiq.readthedocs.io/en/stable/examples/braket_mirror_circuit.html?highlight=generate%20mirrot#generate-mirror-circuit

[2022-01-14 17:58] rmlarose commented on #1058
Thanks @Rahul-Mistri, it's all yours!

You can check out https://github.com/unitaryfund/mitiq/blob/8f0523d6c4de623f9ac1354c145e3b836eb0632f/mitiq/benchmarks/mirror_circuits.py#L133-L140 for another benchmark function to get the general context.

The simplest function should look something like

[code]

You may wish to take the quantum computer topology (as a networkx graph similar to the mirror ci

[2022-01-17 17:41] amrit-11 opened #1092 "Unitary folding methods does not work for sx gates (Qiskit)"
SX gates are part of the native gate set that are implemented by IBMQ devices, but when I try to scale errors by unitary folding using fold_global method or even folding from left or right, it throws the exception:

QasmException: Unknown gate "sx" at line 5

This is followed by a CircuitConversionError.

CircuitConversionError: Circuit could not be converted to an internal Mitiq circuit. This may

[2022-01-17 18:45] rmlarose commented on #1092
Thanks @amrit-11 for reporting. We are aware of this issue and tracking it in #1073, so I will close this one as a duplicate.

In the meantime, you can do `qiskit.transpile(qc_basis, basis_gates=["u1", "u2", "u3"])` and then you should be able to fold the circuit.

[2022-01-17 18:45] #1092 closed

[2022-01-17 19:17] #1058 closed

[2022-01-18 15:30] andreamari opened #1094 "[unitaryhack-bounty] Improve H2 example"
The current H2 example could be improved in two different aspects:

- [ ] The numerical values of the Hamiltonian coefficients _g_j(R)_ are hard-coded from data extracted from a paper. It would be nice to derive them using some chemistry package e.g.: [PySCF](https://pyscf.org/) or [OpenFermion](https://github.com/quantumlib/OpenFermion). Ideally (but only if not too complicated), it would be bett

[2022-01-19 08:36] Rahul-Mistri opened #1097 "Fix docs for GHZ circuit"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------

API doc for GHZ Circuits is not properly formatted, the new lines are bulleted when they are part of the previous line.

How to Reproduce
----------------

[Click this link to go to the specific page

[2022-01-19 15:15] Rahul-Mistri commented on #1061
I can add this feature. Are there any recommended papers/sources I ought to consult before giving this a go?

[2022-01-19 15:51] nathanshammah commented on #1061
Standard references on CDR are [Refs. [3,11] ](https://mitiq.readthedocs.io/en/latest/zz_bibliography.html) (together with the [Mitiq](https://arxiv.org/abs/2009.04417) white paper) and references therein.

[2022-01-20 00:00] #620 closed

[2022-01-20 04:31] purva-thakre commented on #675
@rmlarose @andreamari Does following seem like a good solution to this issue ? I am also available to discuss it on all weekdays except Tuesdays and Thursdays.

I want to define a couple of functions for above case similar to how [`_pop_measurements`](https://github.com/unitaryfund/mitiq/blob/2acb40d8c7970b43bed682137229ca073905cc4a/mitiq/zne/scaling/folding.py#L64) is used but still a bit differe

[2022-01-20 11:04] #805 closed

[2022-01-20 23:58] purva-thakre commented on #653
@andreamari Do you mind clarifying this a bit more ? I am confused between the following :

1. Each appended circuit is in 1 moment i.e. if the scale factor was 3, there are 3 moments etc.
2. The number of moments in output circuit is increased by the scale factor and moments used to define the input circuit

[2022-01-21 14:41] nathanshammah commented on #945
closed by #1031.

[2022-01-21 14:41] #945 closed

[2022-01-21 15:48] andreamari commented on #653
Hi @purva-thakre,
I think your second option is correct.
In the example that you linked the input circuit has 3 moments and the the expected results should have 9 moments as it indeed happens know.  However this example is too simple since there are no "holes" in the circuit.

Below I give an example which shows how the current fold global destroy the moment structure of the input circuit by squas

[2022-01-21 18:56] nathanshammah commented on #908
Closed by #1021 #1004 #1031.

[2022-01-21 19:10] #996 closed

[2022-01-21 19:10] #997 closed

[2022-01-21 19:10] #998 closed

[2022-01-22 14:01] Rahul-Mistri commented on #1061
I have two possible solutions but I could use some feedback:
1. Replace `raise ValueError(...)` with `return [circuit]*num_training_circuits` [here](https://github.com/unitaryfund/mitiq/blob/master/mitiq/cdr/clifford_training_data.py#L90). Returning the list of `num_training_circuits` copies of the Clifford circuit causes SciPy to raise a warning (that the covariance of parameters cannot be estima

[2022-01-23 21:19] quosta opened #1102 "Update version of Cirq in core requirements"
Hello, I found that the lib with with numpy 1.22
Also other requirements like cirq are not up to the latest version. You might want to change the ~= to something like >=.

[2022-01-24 10:07] #1097 closed

[2022-01-24 15:38] andreamari commented on #721
Based on last Friday meeting, the plan for this issue is to:

- Remove the functions that are based on `cirq.PauliSumCollector` and related unit tests.
- If all other tests pass, the issue is fixed.
- If not, it should be easy to solve the problems using any other functions that are in `mitiq_utils` or a combination of them.

The reason for this strategy is that these functions are not essential a

[2022-01-24 16:26] andreamari commented on #1061
+1 for the second option.
If the circuit is Clifford, CDR should not waste quantum and classical computation for training but directly return the exact result.

[2022-01-24 16:47] andreamari commented on #1102
Hi @quosta, I removed the bug label since this is the current expected behavior.
We had several discussions on this in the past and we decided to pin the requirements. This reduces flexibility but improves reproducibility.

We will hopefully upgrade the requirements more recent versions in the next month.

PS: This could be useful to force pip installing mitiq ignoring dependencies:  https://stack

[2022-01-24 17:00] quosta commented on #1102
Thank you @andreamari for your reply. It is indeed a sensible strategy to have a reliable workinglib ecosystem ()

[code]

[2022-01-24 18:50] andreamari opened #1103 "Draft a MEP or RFC for Dynamical Decoupling."
### Description
This issue can be closed once we have a MEP/RFC for implementing Dynamical Decoupling (DD).
The document can drafted in the form of a shared google document and linked as a comment in the main issue related to DD #822.

For an example and a template, see the RFC linked  in #821.

### MEP document

Shared Google document on dynamical decoupling:
https://docs.google.com/document/d/1c

[2022-01-25 08:47] andreamari commented on #1102
In #988 we are fixing this problem, including replacing `cirq.channel` with `cirq.kraus`.
Meanwhile, if this is urgent for you, you can try to install mitiq from source using the fork branch https://github.com/vtomole/mitiq/tree/patch-1 associated to #988.

[2022-01-25 18:15] andreamari commented on #675
Hi @purva-thakre, in principle something like this could work but I also see some critical aspects:

- The cut-and-paste trick is quite complicated and so subject to bugs and maintenance overhead.
- If there are many "red" gates there will be a large number of short blue slices that are difficult to scale for non-odd-integer scale factors. Maybe it could be better to apply local folding methods wi

[2022-01-25 18:21] Misty-W commented on #926
From @crazy4pi314's comment on PR #1095:

[2022-01-26 08:48] #1061 closed

[2022-01-26 10:41] andreamari opened #1107 "Unexpected behavior of OperationRepresentations for Qiskit circuits"
## The problem.
When using PEC with Qiskit circuits, conversion problems sometimes emerge when creating OperationRepresentation objects (mainly due to qubit naming).

## Code snippet example
[code]

[code]
The expected result would be:
[code]

[2022-01-27 23:47] purva-thakre commented on #987
@rmlarose Do you mind clarifying statement 1 a bit more ?

By definition for cliques to exist, the graph has to be undirected (which is also used in the paper linked above). Is your comment referring to choose some particular undirected graph representation (say bipartite, planar, non-planar, cyclic, non-cyclic etc.) ?

I think the one used in the linked paper is a bipartite graph after it has bee

[2022-01-28 00:59] rmlarose commented on #987
Hi @purva-thakre, I meant software representation of a graph (e.g., `nx.Graph` or other).

[2022-01-28 02:01] purva-thakre commented on #987
Thanks ! I was overthinking it !

[2022-01-28 17:48] andreamari commented on #1085
As discussed in the Mitiq call, @Rahul-Mistri will look into this. Thanks!

[2022-01-28 18:06] andreamari opened #1109 "Function to represent OperationRepresentations for biased noise"
This issue is a first step towards the implementation of learnig-based technique for PEC (see #821 and  #1088).

We currently have a function that generate an `OperationRepresentation` associated to an operation assuming depolarizing nose.

https://github.com/unitaryfund/mitiq/blob/84385d9eeb2afe14750675d73ec4fa9915122882/mitiq/pec/representations/depolarizing.py#L152

A preliminary step before im

[2022-01-31 00:00] #942 closed

[2022-01-31 02:30] rmlarose commented on #818
Colab with some prototype subspace expansion code: https://colab.research.google.com/drive/1hN8jtBK9PBVCVvT8WkcNmgHSQbBkSq00?usp=sharing

[2022-01-31 10:37] andreamari opened #1111 "Complete CDR theory subsection of the Mitiq user guide"
Pre-Request Checklist
---------------------

- [ ] I checked to make sure that this feature has not already been requested.

Issue Description
-----------------

The current docs section [What is the theory behind CDR?](https://mitiq.readthedocs.io/en/stable/guide/cdr-5-theory.html) contains
references to research papers.

Proposed Solution
-----------------

Adding some theoretical content simila

[2022-02-01 18:41] Aaron-Robertson commented on #1103
Here's the draft so far @andreamari https://docs.google.com/document/d/1cRwFCTn6kUjI1P0kNydtevxIYtE4r8Omd_iWK0Pe8qo/edit?usp=sharing

[2022-02-01 18:43] andreamari commented on #1103
Great @Aaron-Robertson I also shared a document in the description of this issue. Tomorrow we can try to merge things into a unique one.

[2022-02-01 18:49] Aaron-Robertson commented on #1103
Sounds good!

[2022-02-01 20:56] Aaron-Robertson commented on #1103
Per our offline conversation I updated the link I provided to merge yours in and do some cleanup on content order. Edits are welcome!

[2022-02-02 10:56] #1102 closed

[2022-02-02 11:39] nathanshammah opened #1115 "CI test fails for PEC in Cirq with macos-py3.8"
Pre-Report Checklist
--------------------

- [x] I am running the latest version of mitiq
- [x] I checked to make sure that this bug has not already been reported

Issue Description
-----------------
Error [message](https://github.com/unitaryfund/mitiq/runs/5035348942?check_suite_focus=true) on master CI build (macos-latest, py 3.8):

[code]

The test is about Cirq, whose version was bumped just b

[2022-02-02 12:51] nathanshammah commented on #1115
Update: the tests now pass also on macos-latest with py38.

[2022-02-05 00:00] #1032 closed

[2022-02-07 00:00] #758 closed

[2022-02-09 11:29] andreamari opened #1124 "Some functions in cirq_utils are not tested"
This function:
https://github.com/unitaryfund/mitiq/blob/c818e44858b401b45f1f09e021c49ba24c5dd4a1/mitiq/interface/mitiq_cirq/cirq_utils.py#L37

and this function:
https://github.com/unitaryfund/mitiq/blob/c818e44858b401b45f1f09e021c49ba24c5dd4a1/mitiq/interface/mitiq_cirq/cirq_utils.py#L56

are not documented and tested.

Closing this issue requires:
- [x] Adding docstrings to both functions
- [x]

[2022-02-09 18:17] rmlarose opened #1125 "Cannot call `execute_with_zne` with gate fidelities for folding"
Folding functions support a [fidelities keyword argument](https://github.com/unitaryfund/mitiq/blob/master/mitiq/zne/scaling/folding.py#L531-L561), but there is no way to pass this information through via `zne.execute_with_zne`.

https://github.com/unitaryfund/mitiq/blob/c818e44858b401b45f1f09e021c49ba24c5dd4a1/mitiq/zne/zne.py#L67-L69

It would be nice to support this kwarg in `zne.execute_with_z

[2022-02-10 09:50] andreamari commented on #1125
One can set the `fidelities` and other folding options to use with `execute_with_zne` as shown here:
https://mitiq.readthedocs.io/en/stable/guide/zne-3-options.html#running-zne-with-advanced-options

We often do similar things with the `executor` options.

But maybe this is not practical enough for the user?

[2022-02-10 16:05] rmlarose commented on #1125
I think that's fine and even preferable because that's the strategy for executor options as you note. I could've sworn there used to be an keyword arg for this, but maybe I'm mistaken.

[2022-02-10 16:05] #1125 closed

[2022-02-14 14:18] andreamari commented on #1058
@allcontributors please add @Rahul-Mistri for tests and code

[2022-02-17 00:44] crazy4pi314 commented on #926
So an update here, I with ~10 lines got our current docs builds in CI to publish to GH pages. You can see that the pyquill examples are executed correctly:

RTD: https://mitiq.readthedocs.io/en/stable/examples/pyquil_demo.html
GH pages: https://unitaryfund.github.io/mitiq/examples/pyquil_demo.html

I know this is not the best solution, but it at least currently works. What I would suggest is that

[2022-02-17 01:04] crazy4pi314 opened #1136 "ASV report as a part of docs"
We have setup ASV as a part of our testing pipelines, and it can generate benchmarking webpages like: https://pv.github.io/numpy-bench/

Is this something we want for Mitiq? It can also give diffs of benchmarks from commit to commit.

@rmlarose I think you were using this the most, thoughts?

[2022-02-17 06:15] Misty-W commented on #926
Looks awesome, thank you @crazy4pi314! 🎉

[2022-02-17 07:12] rmlarose commented on #1136
+1 from me. I like the idea of expanding the current benchmarks and hosting the results online (whether in the documentation or on a separate page). asv makes it quite easy to do.

[2022-02-17 12:37] nathanshammah commented on #926
Very nice @crazy4pi314. Maybe we could start testing this. Having versions as in RTD and docs preview in PR would be great. Maybe there are ways to keep these features also on GH pages.

[2022-02-18 11:10] andreamari opened #1138 "Support latest version of Qiskit"
Unlike other less-urgent software packages, supporting the latest versions of quantum libraries (Qiskit, PyQuil, PennyLane, Braket, etc.) is quite important for the usability of Mitiq.

The scope of this issue is to support the latest version of Qiskit in our `dev_requirements.txt` file.
In practice one should find a way to fix the tests that are failing in #1126.